<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ChampionshipCreateDlg" widgetVar="ChampionshipCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateChampionshipTitle}" closeOnEscape="true">

            <h:form id="ChampionshipCreateForm">

                <h:panelGroup id="display" rendered="#{championshipController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateChampionshipLabel_name}" for="name" />
                        <p:inputText id="name" value="#{championshipController.selected.name}" title="#{myBundle.CreateChampionshipTitle_name}" size="100" maxlength="100"/>

                        <p:outputLabel value="#{myBundle.CreateChampionshipLabel_description}" for="description" />
                        <p:inputText id="description" value="#{championshipController.selected.description}" title="#{myBundle.CreateChampionshipTitle_description}" size="250" maxlength="250"/>

                        <p:outputLabel value="#{myBundle.CreateChampionshipLabel_date}" for="date" />
                        <p:calendar id="date" pattern="MM/dd/yyyy" value="#{championshipController.selected.date}" title="#{myBundle.CreateChampionshipTitle_date}"  showOn="button"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{championshipController.saveNew}" value="#{myBundle.Save}" update="display,:ChampionshipListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('ChampionshipCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('ChampionshipCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
