<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="ChampionshipEditDlg" widgetVar="ChampionshipEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditChampionshipTitle}" closeOnEscape="true">

            <h:form id="ChampionshipEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{championshipController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditChampionshipLabel_id}" for="id" />
                        <h:outputText id="id" value="#{championshipController.selected.id}" />

                        <p:outputLabel value="#{myBundle.EditChampionshipLabel_name}" for="name" />
                        <p:inputText id="name" value="#{championshipController.selected.name}" title="#{myBundle.EditChampionshipTitle_name}" size="100" maxlength="100"/>

                        <p:outputLabel value="#{myBundle.EditChampionshipLabel_description}" for="description" />
                        <p:inputText id="description" value="#{championshipController.selected.description}" title="#{myBundle.EditChampionshipTitle_description}" size="250" maxlength="250"/>

                        <p:outputLabel value="#{myBundle.EditChampionshipLabel_date}" for="date" />
                        <p:calendar id="date" pattern="MM/dd/yyyy" value="#{championshipController.selected.date}" title="#{myBundle.EditChampionshipTitle_date}"  showOn="button"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{championshipController.save}" value="#{myBundle.Save}" update="display,:ChampionshipListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('ChampionshipEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('ChampionshipEditDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
