<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="ChampionshipListForm">

        <p:panel header="#{myBundle.ListChampionshipTitle}">
            <p:contextMenu id="ChampionshipDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('ChampionshipListForm:createButton').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('ChampionshipListForm:viewButton').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('ChampionshipListForm:editButton').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('ChampionshipListForm:deleteButton').click();" icon="ui-icon-trash"/>
                <p:separator/>
                <p:menuitem value="#{myBundle.ChampionshipMenuItem_eventList}" icon="ui-icon-search"  action="#{championshipController.navigateEventList}" disabled="#{empty championshipController.selected.eventList}" ajax="false"/>  
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{championshipController.items}"
                         lazy="false"
                         rowKey="#{item.id}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{championshipController.selected}">
                <!--
                         To enable Lazy Loading, please copy/replace the following lines above,
                         and be sure to replace the word HASH with the # symbol:
                
                         value="HASH{championshipController.lazyItems}"
                         lazy="true"
                         rowKey="HASH{item.id}"  <<< Remove this line
                -->


                <p:ajax event="rowSelect"   update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:ChampionshipDataTableContextMenu"/>
                <p:ajax event="rowUnselect" update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:ChampionshipDataTableContextMenu"/>
                <p:ajax event="contextMenu" update="@form:createButton @form:viewButton @form:editButton @form:deleteButton"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('ChampionshipListForm:viewButton').click();"/>

                <p:column sortBy="#{item.id}" filterBy="#{item.id}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListChampionshipTitle_id}"/>
                    </f:facet>
                    <h:outputText value="#{item.id}"/>
                </p:column>


                <p:column sortBy="#{item.name}" filterBy="#{item.name}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListChampionshipTitle_name}"/>
                    </f:facet>
                    <h:outputText value="#{item.name}"/>
                </p:column>


                <p:column sortBy="#{item.description}" filterBy="#{item.description}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListChampionshipTitle_description}"/>
                    </f:facet>
                    <h:outputText value="#{item.description}"/>
                </p:column>


                <p:column sortBy="#{item.date}" filterBy="#{item.date}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListChampionshipTitle_date}"/>
                    </f:facet>
                    <h:outputText value="#{item.date}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                </p:column>


            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{myBundle.Create}" actionListener="#{championshipController.prepareCreate}" update=":ChampionshipCreateForm" oncomplete="PF('ChampionshipCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{myBundle.View}" update=":ChampionshipViewForm" oncomplete="PF('ChampionshipViewDialog').show()" disabled="#{empty championshipController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{myBundle.Edit}" update=":ChampionshipEditForm" oncomplete="PF('ChampionshipEditDialog').show()" disabled="#{empty championshipController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{championshipController.delete}" update=":growl,datalist" disabled="#{empty championshipController.selected}">
                <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/maintenance/confirmation.xhtml"/>
    </h:form>

</ui:composition>