<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ChampionshipViewDlg" widgetVar="ChampionshipViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewChampionshipTitle}" closeOnEscape="true">

            <h:form id="ChampionshipViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{championshipController.selected != null}">

                        <h:outputText value="#{myBundle.ViewChampionshipLabel_id}"/>
                        <h:outputText value="#{championshipController.selected.id}" title="#{myBundle.ViewChampionshipTitle_id}"/>

                        <h:outputText value="#{myBundle.ViewChampionshipLabel_name}"/>
                        <h:outputText value="#{championshipController.selected.name}" title="#{myBundle.ViewChampionshipTitle_name}"/>

                        <h:outputText value="#{myBundle.ViewChampionshipLabel_description}"/>
                        <h:outputText value="#{championshipController.selected.description}" title="#{myBundle.ViewChampionshipTitle_description}"/>

                        <h:outputText value="#{myBundle.ViewChampionshipLabel_date}"/>
                        <h:outputText value="#{championshipController.selected.date}" title="#{myBundle.ViewChampionshipTitle_date}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('ChampionshipViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
