<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="SwimmerHasLevelCreateDlg" widgetVar="SwimmerHasLevelCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateSwimmerHasLevelTitle}" closeOnEscape="true">

            <h:form id="SwimmerHasLevelCreateForm">

                <h:panelGroup id="display" rendered="#{swimmerHasLevelController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateSwimmerHasLevelLabel_dateStart}" for="dateStart" />
                        <p:calendar id="dateStart" pattern="MM/dd/yyyy" value="#{swimmerHasLevelController.selected.dateStart}" title="#{myBundle.CreateSwimmerHasLevelTitle_dateStart}"  showOn="button"/>

                        <p:outputLabel value="#{myBundle.CreateSwimmerHasLevelLabel_dateEnd}" for="dateEnd" />
                        <p:calendar id="dateEnd" pattern="MM/dd/yyyy" value="#{swimmerHasLevelController.selected.dateEnd}" title="#{myBundle.CreateSwimmerHasLevelTitle_dateEnd}"  showOn="button"/>

                        <p:outputLabel value="#{myBundle.CreateSwimmerHasLevelLabel_levelid}" for="levelid" />
                        <p:selectOneMenu id="levelid" value="#{swimmerHasLevelController.selected.levelid}" required="true" requiredMessage="#{myBundle.CreateSwimmerHasLevelRequiredMessage_levelid}" converter="levelConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{levelController.items}"
                                           var="levelidItem"
                                           itemValue="#{levelidItem}"
                                           itemLabel="#{levelidItem.name.toString()}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{myBundle.CreateSwimmerHasLevelLabel_swimmerid}" for="swimmerid" />
                        <p:selectOneMenu id="swimmerid" value="#{swimmerHasLevelController.selected.swimmerid}" required="true" requiredMessage="#{myBundle.CreateSwimmerHasLevelRequiredMessage_swimmerid}" converter="swimmerConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{swimmerController.items}"
                                           var="swimmeridItem"
                                           itemValue="#{swimmeridItem}"
                                           itemLabel="#{swimmeridItem.id.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{swimmerHasLevelController.saveNew}" value="#{myBundle.Save}" update="display,:SwimmerHasLevelListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('SwimmerHasLevelCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('SwimmerHasLevelCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
