<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="SwimmerHasLevelListForm">

        <p:panel header="#{myBundle.ListSwimmerHasLevelTitle}">
            <p:contextMenu id="SwimmerHasLevelDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('SwimmerHasLevelListForm:createButton').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('SwimmerHasLevelListForm:viewButton').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('SwimmerHasLevelListForm:editButton').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('SwimmerHasLevelListForm:deleteButton').click();" icon="ui-icon-trash"/>
                <p:separator/>
                <p:menuitem value="#{myBundle.SwimmerHasLevelMenuItem_levelid}" icon="ui-icon-search"  actionListener="#{swimmerHasLevelController.prepareLevelid}" update=":LevelViewForm" oncomplete="PF('LevelViewDialog').show()" disabled="#{empty swimmerHasLevelController.selected.levelid}"/>  
                <p:menuitem value="#{myBundle.SwimmerHasLevelMenuItem_swimmerid}" icon="ui-icon-search"  actionListener="#{swimmerHasLevelController.prepareSwimmerid}" update=":SwimmerViewForm" oncomplete="PF('SwimmerViewDialog').show()" disabled="#{empty swimmerHasLevelController.selected.swimmerid}"/>  
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{swimmerHasLevelController.items}"
                         lazy="false"
                         rowKey="#{item.id}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{swimmerHasLevelController.selected}">
                <!--
                         To enable Lazy Loading, please copy/replace the following lines above,
                         and be sure to replace the word HASH with the # symbol:
                
                         value="HASH{swimmerHasLevelController.lazyItems}"
                         lazy="true"
                         rowKey="HASH{item.id}"  <<< Remove this line
                -->


                <p:ajax event="rowSelect"   update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:SwimmerHasLevelDataTableContextMenu" listener="#{swimmerHasLevelController.resetParents}"/>
                <p:ajax event="rowUnselect" update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:SwimmerHasLevelDataTableContextMenu" listener="#{swimmerHasLevelController.resetParents}"/>
                <p:ajax event="contextMenu" update="@form:createButton @form:viewButton @form:editButton @form:deleteButton" listener="#{swimmerHasLevelController.resetParents}"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('SwimmerHasLevelListForm:viewButton').click();"/>

                <p:column sortBy="#{item.id}" filterBy="#{item.id}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListSwimmerHasLevelTitle_id}"/>
                    </f:facet>
                    <h:outputText value="#{item.id}"/>
                </p:column>


                <p:column sortBy="#{item.dateStart}" filterBy="#{item.dateStart}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListSwimmerHasLevelTitle_dateStart}"/>
                    </f:facet>
                    <h:outputText value="#{item.dateStart}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                </p:column>


                <p:column sortBy="#{item.dateEnd}" filterBy="#{item.dateEnd}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListSwimmerHasLevelTitle_dateEnd}"/>
                    </f:facet>
                    <h:outputText value="#{item.dateEnd}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                </p:column>


                <p:column sortBy="#{item.levelid.name}" filterBy="#{item.levelid.name}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListSwimmerHasLevelTitle_levelid}"/>
                    </f:facet>
                    <h:outputText value="#{item.levelid.name}"/>
                </p:column>


                <p:column sortBy="#{item.swimmerid.id}" filterBy="#{item.swimmerid.id}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListSwimmerHasLevelTitle_swimmerid}"/>
                    </f:facet>
                    <h:outputText value="#{item.swimmerid.id}"/>
                </p:column>


            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{myBundle.Create}" actionListener="#{swimmerHasLevelController.prepareCreate}" update=":SwimmerHasLevelCreateForm" oncomplete="PF('SwimmerHasLevelCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{myBundle.View}" update=":SwimmerHasLevelViewForm" oncomplete="PF('SwimmerHasLevelViewDialog').show()" disabled="#{empty swimmerHasLevelController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{myBundle.Edit}" update=":SwimmerHasLevelEditForm" oncomplete="PF('SwimmerHasLevelEditDialog').show()" disabled="#{empty swimmerHasLevelController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{swimmerHasLevelController.delete}" update=":growl,datalist" disabled="#{empty swimmerHasLevelController.selected}">
                <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/maintenance/confirmation.xhtml"/>
    </h:form>

</ui:composition>