<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="SwimmerHasLevelViewDlg" widgetVar="SwimmerHasLevelViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewSwimmerHasLevelTitle}" closeOnEscape="true">

            <h:form id="SwimmerHasLevelViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{swimmerHasLevelController.selected != null}">

                        <h:outputText value="#{myBundle.ViewSwimmerHasLevelLabel_id}"/>
                        <h:outputText value="#{swimmerHasLevelController.selected.id}" title="#{myBundle.ViewSwimmerHasLevelTitle_id}"/>

                        <h:outputText value="#{myBundle.ViewSwimmerHasLevelLabel_dateStart}"/>
                        <h:outputText value="#{swimmerHasLevelController.selected.dateStart}" title="#{myBundle.ViewSwimmerHasLevelTitle_dateStart}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>

                        <h:outputText value="#{myBundle.ViewSwimmerHasLevelLabel_dateEnd}"/>
                        <h:outputText value="#{swimmerHasLevelController.selected.dateEnd}" title="#{myBundle.ViewSwimmerHasLevelTitle_dateEnd}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>

                        <h:outputText value="#{myBundle.ViewSwimmerHasLevelLabel_levelid}"/>
                        <h:outputText value="#{swimmerHasLevelController.selected.levelid.name}"/>

                        <h:outputText value="#{myBundle.ViewSwimmerHasLevelLabel_swimmerid}"/>
                        <h:outputText value="#{swimmerHasLevelController.selected.swimmerid.id}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('SwimmerHasLevelViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
