<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <h:form id="menuForm">
        <p:menu>
            <p:submenu label="#{myBundle.Maintenance}">
                <p:menuitem value="#{myBundle.AllergyHeading}..." outcome="/maintenance_mobile/allergy/index" />
                <p:menuitem value="#{myBundle.AllergystatusHeading}..." outcome="/maintenance_mobile/allergystatus/index" />
                <p:menuitem value="#{myBundle.ChampionshipHeading}..." outcome="/maintenance_mobile/championship/index" />
                <p:menuitem value="#{myBundle.DeseaseHeading}..." outcome="/maintenance_mobile/desease/index" />
                <p:menuitem value="#{myBundle.DeseasestatusHeading}..." outcome="/maintenance_mobile/deseasestatus/index" />
                <p:menuitem value="#{myBundle.EventHeading}..." outcome="/maintenance_mobile/event/index" />
                <p:menuitem value="#{myBundle.FacultyHeading}..." outcome="/maintenance_mobile/faculty/index" />
                <p:menuitem value="#{myBundle.HitHeading}..." outcome="/maintenance_mobile/hit/index" />
                <p:menuitem value="#{myBundle.HitstatusHeading}..." outcome="/maintenance_mobile/hitstatus/index" />
                <p:menuitem value="#{myBundle.ImcHeading}..." outcome="/maintenance_mobile/imc/index" />
                <p:menuitem value="#{myBundle.InjuryHeading}..." outcome="/maintenance_mobile/injury/index" />
                <p:menuitem value="#{myBundle.InjurystatusHeading}..." outcome="/maintenance_mobile/injurystatus/index" />
                <p:menuitem value="#{myBundle.LevelHeading}..." outcome="/maintenance_mobile/level/index" />
                <p:menuitem value="#{myBundle.PenaltyHeading}..." outcome="/maintenance_mobile/penalty/index" />
                <p:menuitem value="#{myBundle.RaceHeading}..." outcome="/maintenance_mobile/race/index" />
                <p:menuitem value="#{myBundle.RoleHeading}..." outcome="/maintenance_mobile/role/index" />
                <p:menuitem value="#{myBundle.SwimmerHeading}..." outcome="/maintenance_mobile/swimmer/index" />
                <p:menuitem value="#{myBundle.SwimmerHasAllergyHeading}..." outcome="/maintenance_mobile/swimmerHasAllergy/index" />
                <p:menuitem value="#{myBundle.SwimmerHasDeseaseHeading}..." outcome="/maintenance_mobile/swimmerHasDesease/index" />
                <p:menuitem value="#{myBundle.SwimmerHasInjuryHeading}..." outcome="/maintenance_mobile/swimmerHasInjury/index" />
                <p:menuitem value="#{myBundle.SwimmerHasLevelHeading}..." outcome="/maintenance_mobile/swimmerHasLevel/index" />
                <p:menuitem value="#{myBundle.SwimmerHasSwimmingclubHeading}..." outcome="/maintenance_mobile/swimmerHasSwimmingclub/index" />
                <p:menuitem value="#{myBundle.SwimmingclubHeading}..." outcome="/maintenance_mobile/swimmingclub/index" />
                <p:menuitem value="#{myBundle.TimeHeading}..." outcome="/maintenance_mobile/time/index" />
                <p:menuitem value="#{myBundle.UserHeading}..." outcome="/maintenance_mobile/user/index" />
                <p:menuitem value="#{myBundle.UserHasRoleHeading}..." outcome="/maintenance_mobile/userHasRole/index" />
            </p:submenu>
            <p:menuitem value="#{myBundle.FullApp}" outcome="/index" icon="ui-icon-home"/>
        </p:menu>
    </h:form>
</ui:composition>
