<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="SwimmerHasInjuryCreateDlg" widgetVar="SwimmerHasInjuryCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateSwimmerHasInjuryTitle}" closeOnEscape="true">

            <h:form id="SwimmerHasInjuryCreateForm">

                <h:panelGroup id="display" rendered="#{swimmerHasInjuryController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateSwimmerHasInjuryLabel_injuryDate}" for="injuryDate" />
                        <p:calendar id="injuryDate" pattern="MM/dd/yyyy" value="#{swimmerHasInjuryController.selected.injuryDate}" title="#{myBundle.CreateSwimmerHasInjuryTitle_injuryDate}"  showOn="button"/>

                        <p:outputLabel value="#{myBundle.CreateSwimmerHasInjuryLabel_observations}" for="observations" />
                        <p:inputText id="observations" value="#{swimmerHasInjuryController.selected.observations}" title="#{myBundle.CreateSwimmerHasInjuryTitle_observations}" size="200" maxlength="200"/>

                        <p:outputLabel value="#{myBundle.CreateSwimmerHasInjuryLabel_injuryId}" for="injuryId" />
                        <p:selectOneMenu id="injuryId" value="#{swimmerHasInjuryController.selected.injuryId}" required="true" requiredMessage="#{myBundle.CreateSwimmerHasInjuryRequiredMessage_injuryId}" converter="injuryConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{injuryController.items}"
                                           var="injuryIdItem"
                                           itemValue="#{injuryIdItem}"
                                           itemLabel="#{injuryIdItem.name.toString()}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{myBundle.CreateSwimmerHasInjuryLabel_injuryStatusid}" for="injuryStatusid" />
                        <p:selectOneMenu id="injuryStatusid" value="#{swimmerHasInjuryController.selected.injuryStatusid}" required="true" requiredMessage="#{myBundle.CreateSwimmerHasInjuryRequiredMessage_injuryStatusid}" converter="injurystatusConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{injurystatusController.items}"
                                           var="injuryStatusidItem"
                                           itemValue="#{injuryStatusidItem}"
                                           itemLabel="#{injuryStatusidItem.name.toString()}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{myBundle.CreateSwimmerHasInjuryLabel_swimmerId}" for="swimmerId" />
                        <p:selectOneMenu id="swimmerId" value="#{swimmerHasInjuryController.selected.swimmerId}" required="true" requiredMessage="#{myBundle.CreateSwimmerHasInjuryRequiredMessage_swimmerId}" converter="swimmerConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{swimmerController.items}"
                                           var="swimmerIdItem"
                                           itemValue="#{swimmerIdItem}"
                                           itemLabel="#{swimmerIdItem.id.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{swimmerHasInjuryController.saveNew}" value="#{myBundle.Save}" update="display,:SwimmerHasInjuryListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('SwimmerHasInjuryCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('SwimmerHasInjuryCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
