<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="SwimmerHasInjuryListForm">

        <p:panel header="#{myBundle.ListSwimmerHasInjuryTitle}">
            <p:contextMenu id="SwimmerHasInjuryDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('SwimmerHasInjuryListForm:createButton').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('SwimmerHasInjuryListForm:viewButton').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('SwimmerHasInjuryListForm:editButton').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('SwimmerHasInjuryListForm:deleteButton').click();" icon="ui-icon-trash"/>
                <p:separator/>
                <p:menuitem value="#{myBundle.SwimmerHasInjuryMenuItem_injuryId}" icon="ui-icon-search"  actionListener="#{swimmerHasInjuryController.prepareInjuryId}" update=":InjuryViewForm" oncomplete="PF('InjuryViewDialog').show()" disabled="#{empty swimmerHasInjuryController.selected.injuryId}"/>  
                <p:menuitem value="#{myBundle.SwimmerHasInjuryMenuItem_injuryStatusid}" icon="ui-icon-search"  actionListener="#{swimmerHasInjuryController.prepareInjuryStatusid}" update=":InjurystatusViewForm" oncomplete="PF('InjurystatusViewDialog').show()" disabled="#{empty swimmerHasInjuryController.selected.injuryStatusid}"/>  
                <p:menuitem value="#{myBundle.SwimmerHasInjuryMenuItem_swimmerId}" icon="ui-icon-search"  actionListener="#{swimmerHasInjuryController.prepareSwimmerId}" update=":SwimmerViewForm" oncomplete="PF('SwimmerViewDialog').show()" disabled="#{empty swimmerHasInjuryController.selected.swimmerId}"/>  
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{swimmerHasInjuryController.items}"
                         lazy="false"
                         rowKey="#{item.int1}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{swimmerHasInjuryController.selected}">
                <!--
                         To enable Lazy Loading, please copy/replace the following lines above,
                         and be sure to replace the word HASH with the # symbol:
                
                         value="HASH{swimmerHasInjuryController.lazyItems}"
                         lazy="true"
                         rowKey="HASH{item.int1}"  <<< Remove this line
                -->


                <p:ajax event="rowSelect"   update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:SwimmerHasInjuryDataTableContextMenu" listener="#{swimmerHasInjuryController.resetParents}"/>
                <p:ajax event="rowUnselect" update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:SwimmerHasInjuryDataTableContextMenu" listener="#{swimmerHasInjuryController.resetParents}"/>
                <p:ajax event="contextMenu" update="@form:createButton @form:viewButton @form:editButton @form:deleteButton" listener="#{swimmerHasInjuryController.resetParents}"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('SwimmerHasInjuryListForm:viewButton').click();"/>

                <p:column sortBy="#{item.int1}" filterBy="#{item.int1}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListSwimmerHasInjuryTitle_int1}"/>
                    </f:facet>
                    <h:outputText value="#{item.int1}"/>
                </p:column>


                <p:column sortBy="#{item.injuryDate}" filterBy="#{item.injuryDate}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListSwimmerHasInjuryTitle_injuryDate}"/>
                    </f:facet>
                    <h:outputText value="#{item.injuryDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                </p:column>


                <p:column sortBy="#{item.observations}" filterBy="#{item.observations}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListSwimmerHasInjuryTitle_observations}"/>
                    </f:facet>
                    <h:outputText value="#{item.observations}"/>
                </p:column>


                <p:column sortBy="#{item.injuryId.name}" filterBy="#{item.injuryId.name}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListSwimmerHasInjuryTitle_injuryId}"/>
                    </f:facet>
                    <h:outputText value="#{item.injuryId.name}"/>
                </p:column>


                <p:column sortBy="#{item.injuryStatusid.name}" filterBy="#{item.injuryStatusid.name}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListSwimmerHasInjuryTitle_injuryStatusid}"/>
                    </f:facet>
                    <h:outputText value="#{item.injuryStatusid.name}"/>
                </p:column>


                <p:column sortBy="#{item.swimmerId.id}" filterBy="#{item.swimmerId.id}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListSwimmerHasInjuryTitle_swimmerId}"/>
                    </f:facet>
                    <h:outputText value="#{item.swimmerId.id}"/>
                </p:column>


            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{myBundle.Create}" actionListener="#{swimmerHasInjuryController.prepareCreate}" update=":SwimmerHasInjuryCreateForm" oncomplete="PF('SwimmerHasInjuryCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{myBundle.View}" update=":SwimmerHasInjuryViewForm" oncomplete="PF('SwimmerHasInjuryViewDialog').show()" disabled="#{empty swimmerHasInjuryController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{myBundle.Edit}" update=":SwimmerHasInjuryEditForm" oncomplete="PF('SwimmerHasInjuryEditDialog').show()" disabled="#{empty swimmerHasInjuryController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{swimmerHasInjuryController.delete}" update=":growl,datalist" disabled="#{empty swimmerHasInjuryController.selected}">
                <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/maintenance/confirmation.xhtml"/>
    </h:form>

</ui:composition>