<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="SwimmerHasInjuryViewDlg" widgetVar="SwimmerHasInjuryViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewSwimmerHasInjuryTitle}" closeOnEscape="true">

            <h:form id="SwimmerHasInjuryViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{swimmerHasInjuryController.selected != null}">

                        <h:outputText value="#{myBundle.ViewSwimmerHasInjuryLabel_int1}"/>
                        <h:outputText value="#{swimmerHasInjuryController.selected.int1}" title="#{myBundle.ViewSwimmerHasInjuryTitle_int1}"/>

                        <h:outputText value="#{myBundle.ViewSwimmerHasInjuryLabel_injuryDate}"/>
                        <h:outputText value="#{swimmerHasInjuryController.selected.injuryDate}" title="#{myBundle.ViewSwimmerHasInjuryTitle_injuryDate}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>

                        <h:outputText value="#{myBundle.ViewSwimmerHasInjuryLabel_observations}"/>
                        <h:outputText value="#{swimmerHasInjuryController.selected.observations}" title="#{myBundle.ViewSwimmerHasInjuryTitle_observations}"/>

                        <h:outputText value="#{myBundle.ViewSwimmerHasInjuryLabel_injuryId}"/>
                        <h:outputText value="#{swimmerHasInjuryController.selected.injuryId.name}"/>

                        <h:outputText value="#{myBundle.ViewSwimmerHasInjuryLabel_injuryStatusid}"/>
                        <h:outputText value="#{swimmerHasInjuryController.selected.injuryStatusid.name}"/>

                        <h:outputText value="#{myBundle.ViewSwimmerHasInjuryLabel_swimmerId}"/>
                        <h:outputText value="#{swimmerHasInjuryController.selected.swimmerId.id}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('SwimmerHasInjuryViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
