<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="InjuryEditDlg" widgetVar="InjuryEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditInjuryTitle}" closeOnEscape="true">

            <h:form id="InjuryEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{injuryController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditInjuryLabel_id}" for="id" />
                        <h:outputText id="id" value="#{injuryController.selected.id}" />

                        <p:outputLabel value="#{myBundle.EditInjuryLabel_name}" for="name" />
                        <p:inputText id="name" value="#{injuryController.selected.name}" title="#{myBundle.EditInjuryTitle_name}" size="100" maxlength="100"/>

                        <p:outputLabel value="#{myBundle.EditInjuryLabel_description}" for="description" />
                        <p:inputText id="description" value="#{injuryController.selected.description}" title="#{myBundle.EditInjuryTitle_description}" size="200" maxlength="200"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{injuryController.save}" value="#{myBundle.Save}" update="display,:InjuryListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('InjuryEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('InjuryEditDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
