<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PenaltyViewDlg" widgetVar="PenaltyViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewPenaltyTitle}" closeOnEscape="true">

            <h:form id="PenaltyViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{penaltyController.selected != null}">

                        <h:outputText value="#{myBundle.ViewPenaltyLabel_id}"/>
                        <h:outputText value="#{penaltyController.selected.id}" title="#{myBundle.ViewPenaltyTitle_id}"/>

                        <h:outputText value="#{myBundle.ViewPenaltyLabel_name}"/>
                        <h:outputText value="#{penaltyController.selected.name}" title="#{myBundle.ViewPenaltyTitle_name}"/>

                        <h:outputText value="#{myBundle.ViewPenaltyLabel_description}"/>
                        <h:outputText value="#{penaltyController.selected.description}" title="#{myBundle.ViewPenaltyTitle_description}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('PenaltyViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
