<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="InjuryEditPage" lazy="true">
        <pm:header title="#{myBundle.EditInjuryTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{myBundle.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:InjuryListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="InjuryEditForm">

                <h:panelGroup id="display">
                    <p:outputPanel rendered="#{injuryController.selected != null}">

                        <pm:field>
                            <h:outputLabel value="#{myBundle.EditInjuryLabel_id}" for="id" />
                            <h:outputText id="id" value="#{injuryController.selected.id}" />
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.EditInjuryLabel_name}" for="name" />
                            <p:inputText id="name" value="#{injuryController.selected.name}" title="#{myBundle.EditInjuryTitle_name}" size="100" maxlength="100"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.EditInjuryLabel_description}" for="description" />
                            <p:inputText id="description" value="#{injuryController.selected.description}" title="#{myBundle.EditInjuryTitle_description}" size="200" maxlength="200"/>
                        </pm:field>
                    </p:outputPanel>
                    <p:commandButton actionListener="#{injuryController.save}" value="#{myBundle.Save}" update="#{mobilePageController.updatableWidgets(component,'display,:InjuryListPage:InjuryListForm:datalist,:growl')}" action="#{mobilePageController.navigateWithHistory('pm:InjuryListPage')}"/>

                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>