<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="LevelViewPage" lazy="true">
        <pm:header title="#{myBundle.ViewLevelTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{myBundle.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:LevelListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="LevelViewForm">

                <h:panelGroup id="display">
                    <p:outputPanel rendered="#{levelController.selected != null}">

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewLevelLabel_id}"/>
                            <h:outputText value="#{levelController.selected.id}" title="#{myBundle.ViewLevelTitle_id}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewLevelLabel_name}"/>
                            <h:outputText value="#{levelController.selected.name}" title="#{myBundle.ViewLevelTitle_name}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewLevelLabel_description}"/>
                            <h:outputText value="#{levelController.selected.description}" title="#{myBundle.ViewLevelTitle_description}"/>
                        </pm:field>
                    </p:outputPanel>
                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>