<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="content">
        <div class="ui-g">
            
            <div class="ui-g-12">
                <div class="card card-w-title">
                    <h1>Nadadores</h1>
                    <h:form>
                         
                        <p:toolbar>
                            <f:facet name="left">
                                <p:commandButton type="button" value="New" icon="ui-icon-plus" />

                                <p:commandButton type="button" value="Update" icon="ui-icon-update" />

                                <span class="ui-separator" style="padding-right: 5px;">
                                    <span class="fa fa-ellipsis-v SoftGray" />
                                </span>

                                <p:commandButton type="button" title="Save" icon="ui-icon-save" />
                                <p:commandButton type="button" title="Delete" icon="ui-icon-delete" />
                                <p:commandButton type="button" title="Print" icon="ui-icon-print" />
                            </f:facet>

                            <f:facet name="right">
                                <p:menuButton value="Options">
                                <p:menuitem value="Save" icon="ui-icon-check"/>
                                <p:menuitem value="Update" icon="ui-icon-update"/>
                                <p:menuitem value="Delete" icon="ui-icon-delete"/>
                                <p:separator />
                                <p:menuitem value="Homepage" url="http://www.primefaces.org" icon="ui-icon-home"/>
                                </p:menuButton>
                            </f:facet>
                        </p:toolbar>
                        <p:dataGrid var="car" value="#{dataGridView.cars}" columns="3" layout="grid"
                                    rows="6" paginator="true" id="cars"
                                    paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                    rowsPerPageTemplate="3,6,9,12,16">

                           

                            <p:panel header="#{car.brand}" style="text-align:center">
                                <h:panelGrid columns="1" style="width:100%">
                                    <h:outputText value="#{car.color}" styleClass="Fs14 FontDosisMedium"/>

                                    <h:outputText value="#{car.year}" />

                                    <p:commandButton icon="ui-icon-search" styleClass="AquaButton" update=":form:selectedCarDetail" oncomplete="PF('carDialog').show()">
                                        <f:setPropertyActionListener value="#{car}" target="#{dataGridView.selectedCar}" />
                                    </p:commandButton>
                                </h:panelGrid>
                            </p:panel>

                        </p:dataGrid>

                        <p:dialog header="Car Info" widgetVar="carDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false" responsive="true">
                            <p:outputPanel id="selectedCarDetail" style="text-align:center;">
                                <p:panelGrid  columns="2" rendered="#{not empty dataGridView.selectedCar}" columnClasses="label,value">
                                    <f:facet name="header">
                                        <p:graphicImage name="demo/images/car/#{dataGridView.selectedCar.brand}-big.gif"/> 
                                    </f:facet>

                                    <h:outputText value="Id:" />
                                    <h:outputText value="#{dataGridView.selectedCar.id}" />

                                    <h:outputText value="Year" />
                                    <h:outputText value="#{dataGridView.selectedCar.year}" />

                                    <h:outputText value="Color:" />
                                    <h:outputText value="#{dataGridView.selectedCar.color}" style="color:#{dataGridView.selectedCar.color}"/>

                                    <h:outputText value="Price" />
                                    <h:outputText value="\$#{dataGridView.selectedCar.price}" />
                                </p:panelGrid>
                            </p:outputPanel>
                        </p:dialog>
                    </h:form>
                </div>
            </div>
            <div class="ui-g-12">
                    <!-- Left Side -->
                    <div class="card card-w-title">
                        <h1>DataGrid</h1>
                        
                    </div>
                </div>
        </div>
        
    </ui:define>

</ui:composition>