<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="SwimmerHasLevelCreatePage" lazy="true">
        <pm:header title="#{myBundle.CreateSwimmerHasLevelTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{myBundle.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:SwimmerHasLevelListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="SwimmerHasLevelCreateForm">

                <h:panelGroup id="display" rendered="#{swimmerHasLevelController.selected != null}">
                    <p:outputPanel>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.CreateSwimmerHasLevelLabel_dateStart}" for="dateStart" />
                            <p:calendar id="dateStart" pattern="MM/dd/yyyy" value="#{swimmerHasLevelController.selected.dateStart}" title="#{myBundle.CreateSwimmerHasLevelTitle_dateStart}"  showOn="button"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.CreateSwimmerHasLevelLabel_dateEnd}" for="dateEnd" />
                            <p:calendar id="dateEnd" pattern="MM/dd/yyyy" value="#{swimmerHasLevelController.selected.dateEnd}" title="#{myBundle.CreateSwimmerHasLevelTitle_dateEnd}"  showOn="button"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.CreateSwimmerHasLevelLabel_levelid}" for="levelid" />
                            <p:selectOneMenu id="levelid" value="#{swimmerHasLevelController.selected.levelid}" required="true" requiredMessage="#{myBundle.CreateSwimmerHasLevelRequiredMessage_levelid}" converter="levelConverter">
                                <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                                <f:selectItems value="#{levelController.items}"
                                               var="levelidItem"
                                               itemValue="#{levelidItem}"
                                               itemLabel="#{levelidItem.name.toString()}"
                                               />

                            </p:selectOneMenu>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.CreateSwimmerHasLevelLabel_swimmerid}" for="swimmerid" />
                            <p:selectOneMenu id="swimmerid" value="#{swimmerHasLevelController.selected.swimmerid}" required="true" requiredMessage="#{myBundle.CreateSwimmerHasLevelRequiredMessage_swimmerid}" converter="swimmerConverter">
                                <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                                <f:selectItems value="#{swimmerController.items}"
                                               var="swimmeridItem"
                                               itemValue="#{swimmeridItem}"
                                               itemLabel="#{swimmeridItem.id.toString()}"
                                               />

                            </p:selectOneMenu>
                        </pm:field>
                    </p:outputPanel>
                    <p:commandButton actionListener="#{swimmerHasLevelController.saveNew}" value="#{myBundle.Save}" update="display,:SwimmerHasLevelListPage:SwimmerHasLevelListForm:datalist,:growl" action="#{mobilePageController.navigateWithHistory('pm:SwimmerHasLevelListPage')}"/>

                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>