<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="SwimmerHasLevelViewPage" lazy="true">
        <pm:header title="#{myBundle.ViewSwimmerHasLevelTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{myBundle.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:SwimmerHasLevelListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="SwimmerHasLevelViewForm">

                <h:panelGroup id="display">
                    <p:outputPanel rendered="#{swimmerHasLevelController.selected != null}">

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewSwimmerHasLevelLabel_id}"/>
                            <h:outputText value="#{swimmerHasLevelController.selected.id}" title="#{myBundle.ViewSwimmerHasLevelTitle_id}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewSwimmerHasLevelLabel_dateStart}"/>
                            <h:outputText value="#{swimmerHasLevelController.selected.dateStart}" title="#{myBundle.ViewSwimmerHasLevelTitle_dateStart}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewSwimmerHasLevelLabel_dateEnd}"/>
                            <h:outputText value="#{swimmerHasLevelController.selected.dateEnd}" title="#{myBundle.ViewSwimmerHasLevelTitle_dateEnd}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewSwimmerHasLevelLabel_levelid}"/>
                            <h:outputText value="#{swimmerHasLevelController.selected.levelid.name}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewSwimmerHasLevelLabel_swimmerid}"/>
                            <h:outputText value="#{swimmerHasLevelController.selected.swimmerid.id}"/>
                        </pm:field>
                    </p:outputPanel>
                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>