<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="HitstatusViewDlg" widgetVar="HitstatusViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewHitstatusTitle}" closeOnEscape="true">

            <h:form id="HitstatusViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{hitstatusController.selected != null}">

                        <h:outputText value="#{myBundle.ViewHitstatusLabel_id}"/>
                        <h:outputText value="#{hitstatusController.selected.id}" title="#{myBundle.ViewHitstatusTitle_id}"/>

                        <h:outputText value="#{myBundle.ViewHitstatusLabel_name}"/>
                        <h:outputText value="#{hitstatusController.selected.name}" title="#{myBundle.ViewHitstatusTitle_name}"/>

                        <h:outputText value="#{myBundle.ViewHitstatusLabel_description}"/>
                        <h:outputText value="#{hitstatusController.selected.description}" title="#{myBundle.ViewHitstatusTitle_description}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('HitstatusViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
