<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RaceCreateDlg" widgetVar="RaceCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateRaceTitle}" closeOnEscape="true">

            <h:form id="RaceCreateForm">

                <h:panelGroup id="display" rendered="#{raceController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateRaceLabel_name}" for="name" />
                        <p:inputText id="name" value="#{raceController.selected.name}" title="#{myBundle.CreateRaceTitle_name}" size="50" maxlength="50"/>

                        <p:outputLabel value="#{myBundle.CreateRaceLabel_description}" for="description" />
                        <p:inputText id="description" value="#{raceController.selected.description}" title="#{myBundle.CreateRaceTitle_description}" size="100" maxlength="100"/>

                        <p:outputLabel value="#{myBundle.CreateRaceLabel_gender}" for="gender" />
                        <p:inputText id="gender" value="#{raceController.selected.gender}" title="#{myBundle.CreateRaceTitle_gender}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{raceController.saveNew}" value="#{myBundle.Save}" update="display,:RaceListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('RaceCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('RaceCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
