<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="RaceEditDlg" widgetVar="RaceEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditRaceTitle}" closeOnEscape="true">

            <h:form id="RaceEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{raceController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditRaceLabel_id}" for="id" />
                        <h:outputText id="id" value="#{raceController.selected.id}" />

                        <p:outputLabel value="#{myBundle.EditRaceLabel_name}" for="name" />
                        <p:inputText id="name" value="#{raceController.selected.name}" title="#{myBundle.EditRaceTitle_name}" size="50" maxlength="50"/>

                        <p:outputLabel value="#{myBundle.EditRaceLabel_description}" for="description" />
                        <p:inputText id="description" value="#{raceController.selected.description}" title="#{myBundle.EditRaceTitle_description}" size="100" maxlength="100"/>

                        <p:outputLabel value="#{myBundle.EditRaceLabel_gender}" for="gender" />
                        <p:inputText id="gender" value="#{raceController.selected.gender}" title="#{myBundle.EditRaceTitle_gender}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{raceController.save}" value="#{myBundle.Save}" update="display,:RaceListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('RaceEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('RaceEditDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
