<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RaceViewDlg" widgetVar="RaceViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewRaceTitle}" closeOnEscape="true">

            <h:form id="RaceViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{raceController.selected != null}">

                        <h:outputText value="#{myBundle.ViewRaceLabel_id}"/>
                        <h:outputText value="#{raceController.selected.id}" title="#{myBundle.ViewRaceTitle_id}"/>

                        <h:outputText value="#{myBundle.ViewRaceLabel_name}"/>
                        <h:outputText value="#{raceController.selected.name}" title="#{myBundle.ViewRaceTitle_name}"/>

                        <h:outputText value="#{myBundle.ViewRaceLabel_description}"/>
                        <h:outputText value="#{raceController.selected.description}" title="#{myBundle.ViewRaceTitle_description}"/>

                        <h:outputText value="#{myBundle.ViewRaceLabel_gender}"/>
                        <h:outputText value="#{raceController.selected.gender}" title="#{myBundle.ViewRaceTitle_gender}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('RaceViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
