<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="TimeCreateDlg" widgetVar="TimeCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateTimeTitle}" closeOnEscape="true">

            <h:form id="TimeCreateForm">

                <h:panelGroup id="display" rendered="#{timeController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateTimeLabel_lap}" for="lap" />
                        <p:inputText id="lap" value="#{timeController.selected.lap}" title="#{myBundle.CreateTimeTitle_lap}"/>

                        <p:outputLabel value="#{myBundle.CreateTimeLabel_elapsedTime}" for="elapsedTime" />
                        <p:calendar id="elapsedTime" pattern="MM/dd/yyyy HH:mm:ss" value="#{timeController.selected.elapsedTime}" title="#{myBundle.CreateTimeTitle_elapsedTime}"  showOn="button"/>

                        <p:outputLabel value="#{myBundle.CreateTimeLabel_hitid}" for="hitid" />
                        <p:selectOneMenu id="hitid" value="#{timeController.selected.hitid}" required="true" requiredMessage="#{myBundle.CreateTimeRequiredMessage_hitid}" converter="hitConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{hitController.items}"
                                           var="hitidItem"
                                           itemValue="#{hitidItem}"
                                           itemLabel="#{hitidItem.id.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{timeController.saveNew}" value="#{myBundle.Save}" update="display,:TimeListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('TimeCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('TimeCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
