<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="TimeEditDlg" widgetVar="TimeEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditTimeTitle}" closeOnEscape="true">

            <h:form id="TimeEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{timeController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditTimeLabel_id}" for="id" />
                        <h:outputText id="id" value="#{timeController.selected.id}" />

                        <p:outputLabel value="#{myBundle.EditTimeLabel_lap}" for="lap" />
                        <p:inputText id="lap" value="#{timeController.selected.lap}" title="#{myBundle.EditTimeTitle_lap}"/>

                        <p:outputLabel value="#{myBundle.EditTimeLabel_elapsedTime}" for="elapsedTime" />
                        <p:calendar id="elapsedTime" pattern="MM/dd/yyyy HH:mm:ss" value="#{timeController.selected.elapsedTime}" title="#{myBundle.EditTimeTitle_elapsedTime}"  showOn="button"/>

                        <p:outputLabel value="#{myBundle.EditTimeLabel_hitid}" for="hitid" />
                        <p:selectOneMenu id="hitid" value="#{timeController.selected.hitid}" required="true" requiredMessage="#{myBundle.EditTimeRequiredMessage_hitid}" converter="hitConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{hitController.items}"
                                           var="hitidItem"
                                           itemValue="#{hitidItem}"
                                           itemLabel="#{hitidItem.id.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{timeController.save}" value="#{myBundle.Save}" update="display,:TimeListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('TimeEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('TimeEditDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
