<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="TimeListForm">

        <p:panel header="#{myBundle.ListTimeTitle}">
            <p:contextMenu id="TimeDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('TimeListForm:createButton').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('TimeListForm:viewButton').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('TimeListForm:editButton').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('TimeListForm:deleteButton').click();" icon="ui-icon-trash"/>
                <p:separator/>
                <p:menuitem value="#{myBundle.TimeMenuItem_hitid}" icon="ui-icon-search"  actionListener="#{timeController.prepareHitid}" update=":HitViewForm" oncomplete="PF('HitViewDialog').show()" disabled="#{empty timeController.selected.hitid}"/>  
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{timeController.items}"
                         lazy="false"
                         rowKey="#{item.id}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{timeController.selected}">
                <!--
                         To enable Lazy Loading, please copy/replace the following lines above,
                         and be sure to replace the word HASH with the # symbol:
                
                         value="HASH{timeController.lazyItems}"
                         lazy="true"
                         rowKey="HASH{item.id}"  <<< Remove this line
                -->


                <p:ajax event="rowSelect"   update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:TimeDataTableContextMenu" listener="#{timeController.resetParents}"/>
                <p:ajax event="rowUnselect" update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:TimeDataTableContextMenu" listener="#{timeController.resetParents}"/>
                <p:ajax event="contextMenu" update="@form:createButton @form:viewButton @form:editButton @form:deleteButton" listener="#{timeController.resetParents}"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('TimeListForm:viewButton').click();"/>

                <p:column sortBy="#{item.id}" filterBy="#{item.id}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListTimeTitle_id}"/>
                    </f:facet>
                    <h:outputText value="#{item.id}"/>
                </p:column>


                <p:column sortBy="#{item.lap}" filterBy="#{item.lap}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListTimeTitle_lap}"/>
                    </f:facet>
                    <h:outputText value="#{item.lap}"/>
                </p:column>


                <p:column sortBy="#{item.elapsedTime}" filterBy="#{item.elapsedTime}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListTimeTitle_elapsedTime}"/>
                    </f:facet>
                    <h:outputText value="#{item.elapsedTime}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                </p:column>


                <p:column sortBy="#{item.hitid.id}" filterBy="#{item.hitid.id}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListTimeTitle_hitid}"/>
                    </f:facet>
                    <h:outputText value="#{item.hitid.id}"/>
                </p:column>


            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{myBundle.Create}" actionListener="#{timeController.prepareCreate}" update=":TimeCreateForm" oncomplete="PF('TimeCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{myBundle.View}" update=":TimeViewForm" oncomplete="PF('TimeViewDialog').show()" disabled="#{empty timeController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{myBundle.Edit}" update=":TimeEditForm" oncomplete="PF('TimeEditDialog').show()" disabled="#{empty timeController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{timeController.delete}" update=":growl,datalist" disabled="#{empty timeController.selected}">
                <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/maintenance/confirmation.xhtml"/>
    </h:form>

</ui:composition>