<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="TimeViewDlg" widgetVar="TimeViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewTimeTitle}" closeOnEscape="true">

            <h:form id="TimeViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{timeController.selected != null}">

                        <h:outputText value="#{myBundle.ViewTimeLabel_id}"/>
                        <h:outputText value="#{timeController.selected.id}" title="#{myBundle.ViewTimeTitle_id}"/>

                        <h:outputText value="#{myBundle.ViewTimeLabel_lap}"/>
                        <h:outputText value="#{timeController.selected.lap}" title="#{myBundle.ViewTimeTitle_lap}"/>

                        <h:outputText value="#{myBundle.ViewTimeLabel_elapsedTime}"/>
                        <h:outputText value="#{timeController.selected.elapsedTime}" title="#{myBundle.ViewTimeTitle_elapsedTime}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>

                        <h:outputText value="#{myBundle.ViewTimeLabel_hitid}"/>
                        <h:outputText value="#{timeController.selected.hitid.id}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('TimeViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
