<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="RoleEditPage" lazy="true">
        <pm:header title="#{myBundle.EditRoleTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{myBundle.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:RoleListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="RoleEditForm">

                <h:panelGroup id="display">
                    <p:outputPanel rendered="#{roleController.selected != null}">

                        <pm:field>
                            <h:outputLabel value="#{myBundle.EditRoleLabel_id}" for="id" />
                            <h:outputText id="id" value="#{roleController.selected.id}" />
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.EditRoleLabel_roleName}" for="roleName" />
                            <p:inputText id="roleName" value="#{roleController.selected.roleName}" title="#{myBundle.EditRoleTitle_roleName}" size="50" maxlength="50"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.EditRoleLabel_description}" for="description" />
                            <p:inputText id="description" value="#{roleController.selected.description}" title="#{myBundle.EditRoleTitle_description}" size="200" maxlength="200"/>
                        </pm:field>
                    </p:outputPanel>
                    <p:commandButton actionListener="#{roleController.save}" value="#{myBundle.Save}" update="#{mobilePageController.updatableWidgets(component,'display,:RoleListPage:RoleListForm:datalist,:growl')}" action="#{mobilePageController.navigateWithHistory('pm:RoleListPage')}"/>

                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>