<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="SwimmingclubCreatePage" lazy="true">
        <pm:header title="#{myBundle.CreateSwimmingclubTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{myBundle.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:SwimmingclubListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="SwimmingclubCreateForm">

                <h:panelGroup id="display" rendered="#{swimmingclubController.selected != null}">
                    <p:outputPanel>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.CreateSwimmingclubLabel_clubName}" for="clubName" />
                            <p:inputText id="clubName" value="#{swimmingclubController.selected.clubName}" title="#{myBundle.CreateSwimmingclubTitle_clubName}" size="100" maxlength="100"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.CreateSwimmingclubLabel_clubDescription}" for="clubDescription" />
                            <p:inputText id="clubDescription" value="#{swimmingclubController.selected.clubDescription}" title="#{myBundle.CreateSwimmingclubTitle_clubDescription}" size="200" maxlength="200"/>
                        </pm:field>
                    </p:outputPanel>
                    <p:commandButton actionListener="#{swimmingclubController.saveNew}" value="#{myBundle.Save}" update="display,:SwimmingclubListPage:SwimmingclubListForm:datalist,:growl" action="#{mobilePageController.navigateWithHistory('pm:SwimmingclubListPage')}"/>

                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>