<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="SwimmingclubViewPage" lazy="true">
        <pm:header title="#{myBundle.ViewSwimmingclubTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{myBundle.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:SwimmingclubListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="SwimmingclubViewForm">

                <h:panelGroup id="display">
                    <p:outputPanel rendered="#{swimmingclubController.selected != null}">

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewSwimmingclubLabel_id}"/>
                            <h:outputText value="#{swimmingclubController.selected.id}" title="#{myBundle.ViewSwimmingclubTitle_id}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewSwimmingclubLabel_clubName}"/>
                            <h:outputText value="#{swimmingclubController.selected.clubName}" title="#{myBundle.ViewSwimmingclubTitle_clubName}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewSwimmingclubLabel_clubDescription}"/>
                            <h:outputText value="#{swimmingclubController.selected.clubDescription}" title="#{myBundle.ViewSwimmingclubTitle_clubDescription}"/>
                        </pm:field>
                    </p:outputPanel>
                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>