<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="InjurystatusEditDlg" widgetVar="InjurystatusEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditInjurystatusTitle}" closeOnEscape="true">

            <h:form id="InjurystatusEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{injurystatusController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditInjurystatusLabel_id}" for="id" />
                        <h:outputText id="id" value="#{injurystatusController.selected.id}" />

                        <p:outputLabel value="#{myBundle.EditInjurystatusLabel_name}" for="name" />
                        <p:inputText id="name" value="#{injurystatusController.selected.name}" title="#{myBundle.EditInjurystatusTitle_name}" size="100" maxlength="100"/>

                        <p:outputLabel value="#{myBundle.EditInjurystatusLabel_description}" for="description" />
                        <p:inputText id="description" value="#{injurystatusController.selected.description}" title="#{myBundle.EditInjurystatusTitle_description}" size="200" maxlength="200"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{injurystatusController.save}" value="#{myBundle.Save}" update="display,:InjurystatusListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('InjurystatusEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('InjurystatusEditDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
