<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="InjurystatusViewDlg" widgetVar="InjurystatusViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewInjurystatusTitle}" closeOnEscape="true">

            <h:form id="InjurystatusViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{injurystatusController.selected != null}">

                        <h:outputText value="#{myBundle.ViewInjurystatusLabel_id}"/>
                        <h:outputText value="#{injurystatusController.selected.id}" title="#{myBundle.ViewInjurystatusTitle_id}"/>

                        <h:outputText value="#{myBundle.ViewInjurystatusLabel_name}"/>
                        <h:outputText value="#{injurystatusController.selected.name}" title="#{myBundle.ViewInjurystatusTitle_name}"/>

                        <h:outputText value="#{myBundle.ViewInjurystatusLabel_description}"/>
                        <h:outputText value="#{injurystatusController.selected.description}" title="#{myBundle.ViewInjurystatusTitle_description}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('InjurystatusViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
