<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="SwimmerHasSwimmingclubCreatePage" lazy="true">
        <pm:header title="#{myBundle.CreateSwimmerHasSwimmingclubTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{myBundle.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:SwimmerHasSwimmingclubListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="SwimmerHasSwimmingclubCreateForm">

                <h:panelGroup id="display" rendered="#{swimmerHasSwimmingclubController.selected != null}">
                    <p:outputPanel>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.CreateSwimmerHasSwimmingclubLabel_dateStart}" for="dateStart" />
                            <p:calendar id="dateStart" pattern="MM/dd/yyyy" value="#{swimmerHasSwimmingclubController.selected.dateStart}" title="#{myBundle.CreateSwimmerHasSwimmingclubTitle_dateStart}"  showOn="button"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.CreateSwimmerHasSwimmingclubLabel_dateEnd}" for="dateEnd" />
                            <p:calendar id="dateEnd" pattern="MM/dd/yyyy" value="#{swimmerHasSwimmingclubController.selected.dateEnd}" title="#{myBundle.CreateSwimmerHasSwimmingclubTitle_dateEnd}"  showOn="button"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.CreateSwimmerHasSwimmingclubLabel_swimmerid}" for="swimmerid" />
                            <p:selectOneMenu id="swimmerid" value="#{swimmerHasSwimmingclubController.selected.swimmerid}" required="true" requiredMessage="#{myBundle.CreateSwimmerHasSwimmingclubRequiredMessage_swimmerid}" converter="swimmerConverter">
                                <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                                <f:selectItems value="#{swimmerController.items}"
                                               var="swimmeridItem"
                                               itemValue="#{swimmeridItem}"
                                               itemLabel="#{swimmeridItem.id.toString()}"
                                               />

                            </p:selectOneMenu>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.CreateSwimmerHasSwimmingclubLabel_swimmingClubid}" for="swimmingClubid" />
                            <p:selectOneMenu id="swimmingClubid" value="#{swimmerHasSwimmingclubController.selected.swimmingClubid}" required="true" requiredMessage="#{myBundle.CreateSwimmerHasSwimmingclubRequiredMessage_swimmingClubid}" converter="swimmingclubConverter">
                                <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                                <f:selectItems value="#{swimmingclubController.items}"
                                               var="swimmingClubidItem"
                                               itemValue="#{swimmingClubidItem}"
                                               itemLabel="#{swimmingClubidItem.clubName.toString()}"
                                               />

                            </p:selectOneMenu>
                        </pm:field>
                    </p:outputPanel>
                    <p:commandButton actionListener="#{swimmerHasSwimmingclubController.saveNew}" value="#{myBundle.Save}" update="display,:SwimmerHasSwimmingclubListPage:SwimmerHasSwimmingclubListForm:datalist,:growl" action="#{mobilePageController.navigateWithHistory('pm:SwimmerHasSwimmingclubListPage')}"/>

                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>