<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <h:form id="menuForm">
            <p:menubar>
                <p:menuitem value="#{myBundle.Home}" outcome="/index" icon="ui-icon-home"/>
                <p:submenu label="#{myBundle.Maintenance}">
                    <p:menuitem value="#{myBundle.AllergyHeading}..." outcome="/maintenance/allergy/index" />
                    <p:menuitem value="#{myBundle.AllergystatusHeading}..." outcome="/maintenance/allergystatus/index" />
                    <p:menuitem value="#{myBundle.ChampionshipHeading}..." outcome="/maintenance/championship/index" />
                    <p:menuitem value="#{myBundle.DeseaseHeading}..." outcome="/maintenance/desease/index" />
                    <p:menuitem value="#{myBundle.DeseasestatusHeading}..." outcome="/maintenance/deseasestatus/index" />
                    <p:menuitem value="#{myBundle.EventHeading}..." outcome="/maintenance/event/index" />
                    <p:menuitem value="#{myBundle.FacultyHeading}..." outcome="/maintenance/faculty/index" />
                    <p:menuitem value="#{myBundle.HitHeading}..." outcome="/maintenance/hit/index" />
                    <p:menuitem value="#{myBundle.HitstatusHeading}..." outcome="/maintenance/hitstatus/index" />
                    <p:menuitem value="#{myBundle.ImcHeading}..." outcome="/maintenance/imc/index" />
                    <p:menuitem value="#{myBundle.InjuryHeading}..." outcome="/maintenance/injury/index" />
                    <p:menuitem value="#{myBundle.InjurystatusHeading}..." outcome="/maintenance/injurystatus/index" />
                    <p:menuitem value="#{myBundle.LevelHeading}..." outcome="/maintenance/level/index" />
                    <p:menuitem value="#{myBundle.PenaltyHeading}..." outcome="/maintenance/penalty/index" />
                    <p:menuitem value="#{myBundle.RaceHeading}..." outcome="/maintenance/race/index" />
                    <p:menuitem value="#{myBundle.RoleHeading}..." outcome="/maintenance/role/index" />
                    <p:menuitem value="#{myBundle.SwimmerHeading}..." outcome="/maintenance/swimmer/index" />
                    <p:menuitem value="#{myBundle.SwimmerHasAllergyHeading}..." outcome="/maintenance/swimmerHasAllergy/index" />
                    <p:menuitem value="#{myBundle.SwimmerHasDeseaseHeading}..." outcome="/maintenance/swimmerHasDesease/index" />
                    <p:menuitem value="#{myBundle.SwimmerHasInjuryHeading}..." outcome="/maintenance/swimmerHasInjury/index" />
                    <p:menuitem value="#{myBundle.SwimmerHasLevelHeading}..." outcome="/maintenance/swimmerHasLevel/index" />
                    <p:menuitem value="#{myBundle.SwimmerHasSwimmingclubHeading}..." outcome="/maintenance/swimmerHasSwimmingclub/index" />
                    <p:menuitem value="#{myBundle.SwimmingclubHeading}..." outcome="/maintenance/swimmingclub/index" />
                    <p:menuitem value="#{myBundle.TimeHeading}..." outcome="/maintenance/time/index" />
                    <p:menuitem value="#{myBundle.UserHeading}..." outcome="/maintenance/user/index" />
                    <p:menuitem value="#{myBundle.UserHasRoleHeading}..." outcome="/maintenance/userHasRole/index" />
                </p:submenu>
                <p:menuitem value="#{myBundle.Mobile}" outcome="/maintenance_mobile/index" icon="ui-icon-signal"/>
            </p:menubar>
        </h:form>
    </ui:composition>

</html>