<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="UserEditPage" lazy="true">
        <pm:header title="#{myBundle.EditUserTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{myBundle.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:UserListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="UserEditForm">

                <h:panelGroup id="display">
                    <p:outputPanel rendered="#{userController.selected != null}">

                        <pm:field>
                            <h:outputLabel value="#{myBundle.EditUserLabel_id}" for="id" />
                            <h:outputText id="id" value="#{userController.selected.id}" />
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.EditUserLabel_userProfilePhoto}" for="userProfilePhoto" />
                            <p:inputTextarea rows="4" cols="30" id="userProfilePhoto" value="#{userController.selected.userProfilePhoto}" title="#{myBundle.EditUserTitle_userProfilePhoto}" />
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.EditUserLabel_name}" for="name" />
                            <p:inputText id="name" value="#{userController.selected.name}" title="#{myBundle.EditUserTitle_name}" size="50" maxlength="50"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.EditUserLabel_surname}" for="surname" />
                            <p:inputText id="surname" value="#{userController.selected.surname}" title="#{myBundle.EditUserTitle_surname}" size="50" maxlength="50"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.EditUserLabel_userName}" for="userName" />
                            <p:inputText id="userName" value="#{userController.selected.userName}" title="#{myBundle.EditUserTitle_userName}" size="25" maxlength="25"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.EditUserLabel_password}" for="password" />
                            <p:inputText id="password" value="#{userController.selected.password}" title="#{myBundle.EditUserTitle_password}" size="25" maxlength="25"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.EditUserLabel_email}" for="email" />
                            <p:inputText id="email" value="#{userController.selected.email}" title="#{myBundle.EditUserTitle_email}" size="50" maxlength="50"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.EditUserLabel_birthdate}" for="birthdate" />
                            <p:calendar id="birthdate" pattern="MM/dd/yyyy" value="#{userController.selected.birthdate}" title="#{myBundle.EditUserTitle_birthdate}"  showOn="button"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.EditUserLabel_gender}" for="gender" />
                            <p:inputText id="gender" value="#{userController.selected.gender}" title="#{myBundle.EditUserTitle_gender}"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.EditUserLabel_carnet}" for="carnet" />
                            <p:inputText id="carnet" value="#{userController.selected.carnet}" title="#{myBundle.EditUserTitle_carnet}" size="7" maxlength="7"/>
                        </pm:field>
                    </p:outputPanel>
                    <p:commandButton actionListener="#{userController.save}" value="#{myBundle.Save}" update="#{mobilePageController.updatableWidgets(component,'display,:UserListPage:UserListForm:datalist,:growl')}" action="#{mobilePageController.navigateWithHistory('pm:UserListPage')}"/>

                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>