<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="UserListPage">
        <pm:header title="#{myBundle.ListUserTitle}">
            <h:form>
                <p:commandButton id="backButton"   styleClass="ui-btn-left  ui-btn-inline" icon="ui-icon-arrow-l" value="#{myBundle.Back}" action="#{mobilePageController.navigateBackInHistory('/maintenance_mobile/index')}"/>
                <p:commandButton id="createButton" styleClass="ui-btn-right ui-btn-inline" icon="ui-icon-plus"    value="#{myBundle.Create}" update=":UserCreatePage:UserCreateForm" actionListener="#{userController.prepareCreate}" action="#{mobilePageController.navigateWithHistory('pm:UserCreatePage')}">
                    <f:actionListener binding="#{currentPageListener}"/>
                </p:commandButton>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="UserListForm">

                <p:dataList id="datalist"
                            paginator="true"
                            rows="10"
                            rowsPerPageTemplate="10,20,30,40,50"
                            pt:data-inset="true"
                            value="#{userController.items}"
                            var="item">

                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListUserTitle}"/>
                    </f:facet>

                    <p:commandLink update=":UserEditPage:UserEditForm" action="pm:UserEditPage">
                        <p>



                            <h:outputText value="#{item.id}"/>



                            ,&nbsp;
                            <h:outputText value="#{item.userProfilePhoto}"/>



                            ,&nbsp;
                            <h:outputText value="#{item.name}"/>



                            ,&nbsp;
                            <h:outputText value="#{item.surname}"/>



                            ,&nbsp;
                            <h:outputText value="#{item.userName}"/>



                            ,&nbsp;
                            <h:outputText value="#{item.password}"/>



                            ,&nbsp;
                            <h:outputText value="#{item.email}"/>



                            ,&nbsp;
                            <h:outputText value="#{item.birthdate}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>


                            <!--
                                ,&nbsp;
                                                    <h:outputText value="#{item.gender}"/>
                            -->

                            <!--
                                ,&nbsp;
                                                    <h:outputText value="#{item.carnet}"/>
                            -->


                        </p>
                        <f:setPropertyActionListener value="#{item}" target="#{userController.selected}" />
                    </p:commandLink>

                    <f:facet name="footer">
                        <h:outputText value="#{myBundle.ListUserTitle}"/>
                    </f:facet>

                </p:dataList>
            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>