<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="UserViewPage" lazy="true">
        <pm:header title="#{myBundle.ViewUserTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{myBundle.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:UserListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="UserViewForm">

                <h:panelGroup id="display">
                    <p:outputPanel rendered="#{userController.selected != null}">

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewUserLabel_id}"/>
                            <h:outputText value="#{userController.selected.id}" title="#{myBundle.ViewUserTitle_id}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewUserLabel_userProfilePhoto}"/>
                            <h:outputText value="#{userController.selected.userProfilePhoto}" title="#{myBundle.ViewUserTitle_userProfilePhoto}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewUserLabel_name}"/>
                            <h:outputText value="#{userController.selected.name}" title="#{myBundle.ViewUserTitle_name}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewUserLabel_surname}"/>
                            <h:outputText value="#{userController.selected.surname}" title="#{myBundle.ViewUserTitle_surname}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewUserLabel_userName}"/>
                            <h:outputText value="#{userController.selected.userName}" title="#{myBundle.ViewUserTitle_userName}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewUserLabel_password}"/>
                            <h:outputText value="#{userController.selected.password}" title="#{myBundle.ViewUserTitle_password}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewUserLabel_email}"/>
                            <h:outputText value="#{userController.selected.email}" title="#{myBundle.ViewUserTitle_email}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewUserLabel_birthdate}"/>
                            <h:outputText value="#{userController.selected.birthdate}" title="#{myBundle.ViewUserTitle_birthdate}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewUserLabel_gender}"/>
                            <h:outputText value="#{userController.selected.gender}" title="#{myBundle.ViewUserTitle_gender}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewUserLabel_carnet}"/>
                            <h:outputText value="#{userController.selected.carnet}" title="#{myBundle.ViewUserTitle_carnet}"/>
                        </pm:field>
                    </p:outputPanel>
                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>