<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ImcCreateDlg" widgetVar="ImcCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateImcTitle}" closeOnEscape="true">

            <h:form id="ImcCreateForm">

                <h:panelGroup id="display" rendered="#{imcController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateImcLabel_date}" for="date" />
                        <p:calendar id="date" pattern="MM/dd/yyyy" value="#{imcController.selected.date}" title="#{myBundle.CreateImcTitle_date}"  showOn="button"/>

                        <p:outputLabel value="#{myBundle.CreateImcLabel_weight}" for="weight" />
                        <p:inputText id="weight" value="#{imcController.selected.weight}" title="#{myBundle.CreateImcTitle_weight}"/>

                        <p:outputLabel value="#{myBundle.CreateImcLabel_height}" for="height" />
                        <p:inputText id="height" value="#{imcController.selected.height}" title="#{myBundle.CreateImcTitle_height}"/>

                        <p:outputLabel value="#{myBundle.CreateImcLabel_imc}" for="imc" />
                        <p:inputText id="imc" value="#{imcController.selected.imc}" title="#{myBundle.CreateImcTitle_imc}"/>

                        <p:outputLabel value="#{myBundle.CreateImcLabel_swimmerid}" for="swimmerid" />
                        <p:selectOneMenu id="swimmerid" value="#{imcController.selected.swimmerid}" required="true" requiredMessage="#{myBundle.CreateImcRequiredMessage_swimmerid}" converter="swimmerConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{swimmerController.items}"
                                           var="swimmeridItem"
                                           itemValue="#{swimmeridItem}"
                                           itemLabel="#{swimmeridItem.id.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{imcController.saveNew}" value="#{myBundle.Save}" update="display,:ImcListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('ImcCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('ImcCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
