<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="ImcListForm">

        <p:panel header="#{myBundle.ListImcTitle}">
            <p:contextMenu id="ImcDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('ImcListForm:createButton').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('ImcListForm:viewButton').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('ImcListForm:editButton').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('ImcListForm:deleteButton').click();" icon="ui-icon-trash"/>
                <p:separator/>
                <p:menuitem value="#{myBundle.ImcMenuItem_swimmerid}" icon="ui-icon-search"  actionListener="#{imcController.prepareSwimmerid}" update=":SwimmerViewForm" oncomplete="PF('SwimmerViewDialog').show()" disabled="#{empty imcController.selected.swimmerid}"/>  
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{imcController.items}"
                         lazy="false"
                         rowKey="#{item.id}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{imcController.selected}">
                <!--
                         To enable Lazy Loading, please copy/replace the following lines above,
                         and be sure to replace the word HASH with the # symbol:
                
                         value="HASH{imcController.lazyItems}"
                         lazy="true"
                         rowKey="HASH{item.id}"  <<< Remove this line
                -->


                <p:ajax event="rowSelect"   update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:ImcDataTableContextMenu" listener="#{imcController.resetParents}"/>
                <p:ajax event="rowUnselect" update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:ImcDataTableContextMenu" listener="#{imcController.resetParents}"/>
                <p:ajax event="contextMenu" update="@form:createButton @form:viewButton @form:editButton @form:deleteButton" listener="#{imcController.resetParents}"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('ImcListForm:viewButton').click();"/>

                <p:column sortBy="#{item.id}" filterBy="#{item.id}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListImcTitle_id}"/>
                    </f:facet>
                    <h:outputText value="#{item.id}"/>
                </p:column>


                <p:column sortBy="#{item.date}" filterBy="#{item.date}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListImcTitle_date}"/>
                    </f:facet>
                    <h:outputText value="#{item.date}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                </p:column>


                <p:column sortBy="#{item.weight}" filterBy="#{item.weight}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListImcTitle_weight}"/>
                    </f:facet>
                    <h:outputText value="#{item.weight}"/>
                </p:column>


                <p:column sortBy="#{item.height}" filterBy="#{item.height}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListImcTitle_height}"/>
                    </f:facet>
                    <h:outputText value="#{item.height}"/>
                </p:column>


                <p:column sortBy="#{item.imc}" filterBy="#{item.imc}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListImcTitle_imc}"/>
                    </f:facet>
                    <h:outputText value="#{item.imc}"/>
                </p:column>


                <p:column sortBy="#{item.swimmerid.id}" filterBy="#{item.swimmerid.id}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListImcTitle_swimmerid}"/>
                    </f:facet>
                    <h:outputText value="#{item.swimmerid.id}"/>
                </p:column>


            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{myBundle.Create}" actionListener="#{imcController.prepareCreate}" update=":ImcCreateForm" oncomplete="PF('ImcCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{myBundle.View}" update=":ImcViewForm" oncomplete="PF('ImcViewDialog').show()" disabled="#{empty imcController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{myBundle.Edit}" update=":ImcEditForm" oncomplete="PF('ImcEditDialog').show()" disabled="#{empty imcController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{imcController.delete}" update=":growl,datalist" disabled="#{empty imcController.selected}">
                <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/maintenance/confirmation.xhtml"/>
    </h:form>

</ui:composition>