<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ImcViewDlg" widgetVar="ImcViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewImcTitle}" closeOnEscape="true">

            <h:form id="ImcViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{imcController.selected != null}">

                        <h:outputText value="#{myBundle.ViewImcLabel_id}"/>
                        <h:outputText value="#{imcController.selected.id}" title="#{myBundle.ViewImcTitle_id}"/>

                        <h:outputText value="#{myBundle.ViewImcLabel_date}"/>
                        <h:outputText value="#{imcController.selected.date}" title="#{myBundle.ViewImcTitle_date}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>

                        <h:outputText value="#{myBundle.ViewImcLabel_weight}"/>
                        <h:outputText value="#{imcController.selected.weight}" title="#{myBundle.ViewImcTitle_weight}"/>

                        <h:outputText value="#{myBundle.ViewImcLabel_height}"/>
                        <h:outputText value="#{imcController.selected.height}" title="#{myBundle.ViewImcTitle_height}"/>

                        <h:outputText value="#{myBundle.ViewImcLabel_imc}"/>
                        <h:outputText value="#{imcController.selected.imc}" title="#{myBundle.ViewImcTitle_imc}"/>

                        <h:outputText value="#{myBundle.ViewImcLabel_swimmerid}"/>
                        <h:outputText value="#{imcController.selected.swimmerid.id}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('ImcViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
