<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="HitCreateDlg" widgetVar="HitCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateHitTitle}" closeOnEscape="true">

            <h:form id="HitCreateForm">

                <h:panelGroup id="display" rendered="#{hitController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateHitLabel_id}" for="id" />
                        <p:inputText id="id" value="#{hitController.selected.id}" title="#{myBundle.CreateHitTitle_id}" required="true" requiredMessage="#{myBundle.CreateHitRequiredMessage_id}"/>

                        <p:outputLabel value="#{myBundle.CreateHitLabel_hitNumber}" for="hitNumber" />
                        <p:inputText id="hitNumber" value="#{hitController.selected.hitNumber}" title="#{myBundle.CreateHitTitle_hitNumber}"/>

                        <p:outputLabel value="#{myBundle.CreateHitLabel_lane}" for="lane" />
                        <p:inputText id="lane" value="#{hitController.selected.lane}" title="#{myBundle.CreateHitTitle_lane}"/>

                        <p:outputLabel value="#{myBundle.CreateHitLabel_eventid}" for="eventid" />
                        <p:selectOneMenu id="eventid" value="#{hitController.selected.eventid}" required="true" requiredMessage="#{myBundle.CreateHitRequiredMessage_eventid}" converter="eventConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{eventController.items}"
                                           var="eventidItem"
                                           itemValue="#{eventidItem}"
                                           itemLabel="#{eventidItem.id.toString()}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{myBundle.CreateHitLabel_hitStatusid}" for="hitStatusid" />
                        <p:selectOneMenu id="hitStatusid" value="#{hitController.selected.hitStatusid}" required="true" requiredMessage="#{myBundle.CreateHitRequiredMessage_hitStatusid}" converter="hitstatusConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{hitstatusController.items}"
                                           var="hitStatusidItem"
                                           itemValue="#{hitStatusidItem}"
                                           itemLabel="#{hitStatusidItem.name.toString()}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{myBundle.CreateHitLabel_penaltyId}" for="penaltyId" />
                        <p:selectOneMenu id="penaltyId" value="#{hitController.selected.penaltyId}" required="true" requiredMessage="#{myBundle.CreateHitRequiredMessage_penaltyId}" converter="penaltyConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{penaltyController.items}"
                                           var="penaltyIdItem"
                                           itemValue="#{penaltyIdItem}"
                                           itemLabel="#{penaltyIdItem.name.toString()}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{myBundle.CreateHitLabel_swimmerid}" for="swimmerid" />
                        <p:selectOneMenu id="swimmerid" value="#{hitController.selected.swimmerid}" required="true" requiredMessage="#{myBundle.CreateHitRequiredMessage_swimmerid}" converter="swimmerConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{swimmerController.items}"
                                           var="swimmeridItem"
                                           itemValue="#{swimmeridItem}"
                                           itemLabel="#{swimmeridItem.id.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{hitController.saveNew}" value="#{myBundle.Save}" update="display,:HitListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('HitCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('HitCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
