<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="HitEditDlg" widgetVar="HitEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditHitTitle}" closeOnEscape="true">

            <h:form id="HitEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{hitController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditHitLabel_id}" for="id" />
                        <h:outputText id="id" value="#{hitController.selected.id}" />

                        <p:outputLabel value="#{myBundle.EditHitLabel_hitNumber}" for="hitNumber" />
                        <p:inputText id="hitNumber" value="#{hitController.selected.hitNumber}" title="#{myBundle.EditHitTitle_hitNumber}"/>

                        <p:outputLabel value="#{myBundle.EditHitLabel_lane}" for="lane" />
                        <p:inputText id="lane" value="#{hitController.selected.lane}" title="#{myBundle.EditHitTitle_lane}"/>

                        <p:outputLabel value="#{myBundle.EditHitLabel_eventid}" for="eventid" />
                        <p:selectOneMenu id="eventid" value="#{hitController.selected.eventid}" required="true" requiredMessage="#{myBundle.EditHitRequiredMessage_eventid}" converter="eventConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{eventController.items}"
                                           var="eventidItem"
                                           itemValue="#{eventidItem}"
                                           itemLabel="#{eventidItem.id.toString()}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{myBundle.EditHitLabel_hitStatusid}" for="hitStatusid" />
                        <p:selectOneMenu id="hitStatusid" value="#{hitController.selected.hitStatusid}" required="true" requiredMessage="#{myBundle.EditHitRequiredMessage_hitStatusid}" converter="hitstatusConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{hitstatusController.items}"
                                           var="hitStatusidItem"
                                           itemValue="#{hitStatusidItem}"
                                           itemLabel="#{hitStatusidItem.name.toString()}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{myBundle.EditHitLabel_penaltyId}" for="penaltyId" />
                        <p:selectOneMenu id="penaltyId" value="#{hitController.selected.penaltyId}" required="true" requiredMessage="#{myBundle.EditHitRequiredMessage_penaltyId}" converter="penaltyConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{penaltyController.items}"
                                           var="penaltyIdItem"
                                           itemValue="#{penaltyIdItem}"
                                           itemLabel="#{penaltyIdItem.name.toString()}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{myBundle.EditHitLabel_swimmerid}" for="swimmerid" />
                        <p:selectOneMenu id="swimmerid" value="#{hitController.selected.swimmerid}" required="true" requiredMessage="#{myBundle.EditHitRequiredMessage_swimmerid}" converter="swimmerConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{swimmerController.items}"
                                           var="swimmeridItem"
                                           itemValue="#{swimmeridItem}"
                                           itemLabel="#{swimmeridItem.id.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{hitController.save}" value="#{myBundle.Save}" update="display,:HitListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('HitEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('HitEditDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
