<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="HitListForm">

        <p:panel header="#{myBundle.ListHitTitle}">
            <p:contextMenu id="HitDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('HitListForm:createButton').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('HitListForm:viewButton').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('HitListForm:editButton').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('HitListForm:deleteButton').click();" icon="ui-icon-trash"/>
                <p:separator/>
                <p:menuitem value="#{myBundle.HitMenuItem_eventid}" icon="ui-icon-search"  actionListener="#{hitController.prepareEventid}" update=":EventViewForm" oncomplete="PF('EventViewDialog').show()" disabled="#{empty hitController.selected.eventid}"/>  
                <p:menuitem value="#{myBundle.HitMenuItem_hitStatusid}" icon="ui-icon-search"  actionListener="#{hitController.prepareHitStatusid}" update=":HitstatusViewForm" oncomplete="PF('HitstatusViewDialog').show()" disabled="#{empty hitController.selected.hitStatusid}"/>  
                <p:menuitem value="#{myBundle.HitMenuItem_penaltyId}" icon="ui-icon-search"  actionListener="#{hitController.preparePenaltyId}" update=":PenaltyViewForm" oncomplete="PF('PenaltyViewDialog').show()" disabled="#{empty hitController.selected.penaltyId}"/>  
                <p:menuitem value="#{myBundle.HitMenuItem_swimmerid}" icon="ui-icon-search"  actionListener="#{hitController.prepareSwimmerid}" update=":SwimmerViewForm" oncomplete="PF('SwimmerViewDialog').show()" disabled="#{empty hitController.selected.swimmerid}"/>  
                <p:menuitem value="#{myBundle.HitMenuItem_timeList}" icon="ui-icon-search"  action="#{hitController.navigateTimeList}" disabled="#{empty hitController.selected.timeList}" ajax="false"/>  
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{hitController.items}"
                         lazy="false"
                         rowKey="#{item.id}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{hitController.selected}">
                <!--
                         To enable Lazy Loading, please copy/replace the following lines above,
                         and be sure to replace the word HASH with the # symbol:
                
                         value="HASH{hitController.lazyItems}"
                         lazy="true"
                         rowKey="HASH{item.id}"  <<< Remove this line
                -->


                <p:ajax event="rowSelect"   update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:HitDataTableContextMenu" listener="#{hitController.resetParents}"/>
                <p:ajax event="rowUnselect" update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:HitDataTableContextMenu" listener="#{hitController.resetParents}"/>
                <p:ajax event="contextMenu" update="@form:createButton @form:viewButton @form:editButton @form:deleteButton" listener="#{hitController.resetParents}"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('HitListForm:viewButton').click();"/>

                <p:column sortBy="#{item.id}" filterBy="#{item.id}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListHitTitle_id}"/>
                    </f:facet>
                    <h:outputText value="#{item.id}"/>
                </p:column>


                <p:column sortBy="#{item.hitNumber}" filterBy="#{item.hitNumber}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListHitTitle_hitNumber}"/>
                    </f:facet>
                    <h:outputText value="#{item.hitNumber}"/>
                </p:column>


                <p:column sortBy="#{item.lane}" filterBy="#{item.lane}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListHitTitle_lane}"/>
                    </f:facet>
                    <h:outputText value="#{item.lane}"/>
                </p:column>


                <p:column sortBy="#{item.eventid.id}" filterBy="#{item.eventid.id}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListHitTitle_eventid}"/>
                    </f:facet>
                    <h:outputText value="#{item.eventid.id}"/>
                </p:column>


                <p:column sortBy="#{item.hitStatusid.name}" filterBy="#{item.hitStatusid.name}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListHitTitle_hitStatusid}"/>
                    </f:facet>
                    <h:outputText value="#{item.hitStatusid.name}"/>
                </p:column>


                <p:column sortBy="#{item.penaltyId.name}" filterBy="#{item.penaltyId.name}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListHitTitle_penaltyId}"/>
                    </f:facet>
                    <h:outputText value="#{item.penaltyId.name}"/>
                </p:column>


                <p:column sortBy="#{item.swimmerid.id}" filterBy="#{item.swimmerid.id}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListHitTitle_swimmerid}"/>
                    </f:facet>
                    <h:outputText value="#{item.swimmerid.id}"/>
                </p:column>


            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{myBundle.Create}" actionListener="#{hitController.prepareCreate}" update=":HitCreateForm" oncomplete="PF('HitCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{myBundle.View}" update=":HitViewForm" oncomplete="PF('HitViewDialog').show()" disabled="#{empty hitController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{myBundle.Edit}" update=":HitEditForm" oncomplete="PF('HitEditDialog').show()" disabled="#{empty hitController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{hitController.delete}" update=":growl,datalist" disabled="#{empty hitController.selected}">
                <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/maintenance/confirmation.xhtml"/>
    </h:form>

</ui:composition>