<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="HitViewDlg" widgetVar="HitViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewHitTitle}" closeOnEscape="true">

            <h:form id="HitViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{hitController.selected != null}">

                        <h:outputText value="#{myBundle.ViewHitLabel_id}"/>
                        <h:outputText value="#{hitController.selected.id}" title="#{myBundle.ViewHitTitle_id}"/>

                        <h:outputText value="#{myBundle.ViewHitLabel_hitNumber}"/>
                        <h:outputText value="#{hitController.selected.hitNumber}" title="#{myBundle.ViewHitTitle_hitNumber}"/>

                        <h:outputText value="#{myBundle.ViewHitLabel_lane}"/>
                        <h:outputText value="#{hitController.selected.lane}" title="#{myBundle.ViewHitTitle_lane}"/>

                        <h:outputText value="#{myBundle.ViewHitLabel_eventid}"/>
                        <h:outputText value="#{hitController.selected.eventid.id}"/>

                        <h:outputText value="#{myBundle.ViewHitLabel_hitStatusid}"/>
                        <h:outputText value="#{hitController.selected.hitStatusid.name}"/>

                        <h:outputText value="#{myBundle.ViewHitLabel_penaltyId}"/>
                        <h:outputText value="#{hitController.selected.penaltyId.name}"/>

                        <h:outputText value="#{myBundle.ViewHitLabel_swimmerid}"/>
                        <h:outputText value="#{hitController.selected.swimmerid.id}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('HitViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
