<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="DeseasestatusEditDlg" widgetVar="DeseasestatusEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditDeseasestatusTitle}" closeOnEscape="true">

            <h:form id="DeseasestatusEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{deseasestatusController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditDeseasestatusLabel_id}" for="id" />
                        <h:outputText id="id" value="#{deseasestatusController.selected.id}" />

                        <p:outputLabel value="#{myBundle.EditDeseasestatusLabel_name}" for="name" />
                        <p:inputText id="name" value="#{deseasestatusController.selected.name}" title="#{myBundle.EditDeseasestatusTitle_name}" size="100" maxlength="100"/>

                        <p:outputLabel value="#{myBundle.EditDeseasestatusLabel_description}" for="description" />
                        <p:inputText id="description" value="#{deseasestatusController.selected.description}" title="#{myBundle.EditDeseasestatusTitle_description}" size="200" maxlength="200"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{deseasestatusController.save}" value="#{myBundle.Save}" update="display,:DeseasestatusListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('DeseasestatusEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('DeseasestatusEditDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
