<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="DeseasestatusViewDlg" widgetVar="DeseasestatusViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewDeseasestatusTitle}" closeOnEscape="true">

            <h:form id="DeseasestatusViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{deseasestatusController.selected != null}">

                        <h:outputText value="#{myBundle.ViewDeseasestatusLabel_id}"/>
                        <h:outputText value="#{deseasestatusController.selected.id}" title="#{myBundle.ViewDeseasestatusTitle_id}"/>

                        <h:outputText value="#{myBundle.ViewDeseasestatusLabel_name}"/>
                        <h:outputText value="#{deseasestatusController.selected.name}" title="#{myBundle.ViewDeseasestatusTitle_name}"/>

                        <h:outputText value="#{myBundle.ViewDeseasestatusLabel_description}"/>
                        <h:outputText value="#{deseasestatusController.selected.description}" title="#{myBundle.ViewDeseasestatusTitle_description}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('DeseasestatusViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
