<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="HitViewPage" lazy="true">
        <pm:header title="#{myBundle.ViewHitTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{myBundle.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:HitListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="HitViewForm">

                <h:panelGroup id="display">
                    <p:outputPanel rendered="#{hitController.selected != null}">

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewHitLabel_id}"/>
                            <h:outputText value="#{hitController.selected.id}" title="#{myBundle.ViewHitTitle_id}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewHitLabel_hitNumber}"/>
                            <h:outputText value="#{hitController.selected.hitNumber}" title="#{myBundle.ViewHitTitle_hitNumber}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewHitLabel_lane}"/>
                            <h:outputText value="#{hitController.selected.lane}" title="#{myBundle.ViewHitTitle_lane}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewHitLabel_eventid}"/>
                            <h:outputText value="#{hitController.selected.eventid.id}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewHitLabel_hitStatusid}"/>
                            <h:outputText value="#{hitController.selected.hitStatusid.name}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewHitLabel_penaltyId}"/>
                            <h:outputText value="#{hitController.selected.penaltyId.name}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewHitLabel_swimmerid}"/>
                            <h:outputText value="#{hitController.selected.swimmerid.id}"/>
                        </pm:field>
                    </p:outputPanel>
                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>