<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="SwimmerHasDeseaseEditPage" lazy="true">
        <pm:header title="#{myBundle.EditSwimmerHasDeseaseTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{myBundle.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:SwimmerHasDeseaseListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="SwimmerHasDeseaseEditForm">

                <h:panelGroup id="display">
                    <p:outputPanel rendered="#{swimmerHasDeseaseController.selected != null}">

                        <pm:field>
                            <h:outputLabel value="#{myBundle.EditSwimmerHasDeseaseLabel_id}" for="id" />
                            <h:outputText id="id" value="#{swimmerHasDeseaseController.selected.id}" />
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.EditSwimmerHasDeseaseLabel_deseaseDetectionDate}" for="deseaseDetectionDate" />
                            <p:calendar id="deseaseDetectionDate" pattern="MM/dd/yyyy" value="#{swimmerHasDeseaseController.selected.deseaseDetectionDate}" title="#{myBundle.EditSwimmerHasDeseaseTitle_deseaseDetectionDate}"  showOn="button"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.EditSwimmerHasDeseaseLabel_observations}" for="observations" />
                            <p:inputText id="observations" value="#{swimmerHasDeseaseController.selected.observations}" title="#{myBundle.EditSwimmerHasDeseaseTitle_observations}" size="200" maxlength="200"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.EditSwimmerHasDeseaseLabel_deseaseId}" for="deseaseId" />
                            <p:selectOneMenu id="deseaseId" value="#{swimmerHasDeseaseController.selected.deseaseId}" required="true" requiredMessage="#{myBundle.EditSwimmerHasDeseaseRequiredMessage_deseaseId}" converter="deseaseConverter">
                                <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                                <f:selectItems value="#{deseaseController.items}"
                                               var="deseaseIdItem"
                                               itemValue="#{deseaseIdItem}"
                                               itemLabel="#{deseaseIdItem.name.toString()}"
                                               />

                            </p:selectOneMenu>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.EditSwimmerHasDeseaseLabel_deseaseStatusid}" for="deseaseStatusid" />
                            <p:selectOneMenu id="deseaseStatusid" value="#{swimmerHasDeseaseController.selected.deseaseStatusid}" required="true" requiredMessage="#{myBundle.EditSwimmerHasDeseaseRequiredMessage_deseaseStatusid}" converter="deseasestatusConverter">
                                <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                                <f:selectItems value="#{deseasestatusController.items}"
                                               var="deseaseStatusidItem"
                                               itemValue="#{deseaseStatusidItem}"
                                               itemLabel="#{deseaseStatusidItem.name.toString()}"
                                               />

                            </p:selectOneMenu>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.EditSwimmerHasDeseaseLabel_swimmerId}" for="swimmerId" />
                            <p:selectOneMenu id="swimmerId" value="#{swimmerHasDeseaseController.selected.swimmerId}" required="true" requiredMessage="#{myBundle.EditSwimmerHasDeseaseRequiredMessage_swimmerId}" converter="swimmerConverter">
                                <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                                <f:selectItems value="#{swimmerController.items}"
                                               var="swimmerIdItem"
                                               itemValue="#{swimmerIdItem}"
                                               itemLabel="#{swimmerIdItem.id.toString()}"
                                               />

                            </p:selectOneMenu>
                        </pm:field>
                    </p:outputPanel>
                    <p:commandButton actionListener="#{swimmerHasDeseaseController.save}" value="#{myBundle.Save}" update="#{mobilePageController.updatableWidgets(component,'display,:SwimmerHasDeseaseListPage:SwimmerHasDeseaseListForm:datalist,:growl')}" action="#{mobilePageController.navigateWithHistory('pm:SwimmerHasDeseaseListPage')}"/>

                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>