<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="SwimmerHasDeseaseViewPage" lazy="true">
        <pm:header title="#{myBundle.ViewSwimmerHasDeseaseTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{myBundle.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:SwimmerHasDeseaseListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="SwimmerHasDeseaseViewForm">

                <h:panelGroup id="display">
                    <p:outputPanel rendered="#{swimmerHasDeseaseController.selected != null}">

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewSwimmerHasDeseaseLabel_id}"/>
                            <h:outputText value="#{swimmerHasDeseaseController.selected.id}" title="#{myBundle.ViewSwimmerHasDeseaseTitle_id}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewSwimmerHasDeseaseLabel_deseaseDetectionDate}"/>
                            <h:outputText value="#{swimmerHasDeseaseController.selected.deseaseDetectionDate}" title="#{myBundle.ViewSwimmerHasDeseaseTitle_deseaseDetectionDate}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewSwimmerHasDeseaseLabel_observations}"/>
                            <h:outputText value="#{swimmerHasDeseaseController.selected.observations}" title="#{myBundle.ViewSwimmerHasDeseaseTitle_observations}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewSwimmerHasDeseaseLabel_deseaseId}"/>
                            <h:outputText value="#{swimmerHasDeseaseController.selected.deseaseId.name}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewSwimmerHasDeseaseLabel_deseaseStatusid}"/>
                            <h:outputText value="#{swimmerHasDeseaseController.selected.deseaseStatusid.name}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewSwimmerHasDeseaseLabel_swimmerId}"/>
                            <h:outputText value="#{swimmerHasDeseaseController.selected.swimmerId.id}"/>
                        </pm:field>
                    </p:outputPanel>
                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>