<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="RaceEditPage" lazy="true">
        <pm:header title="#{myBundle.EditRaceTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{myBundle.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:RaceListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="RaceEditForm">

                <h:panelGroup id="display">
                    <p:outputPanel rendered="#{raceController.selected != null}">

                        <pm:field>
                            <h:outputLabel value="#{myBundle.EditRaceLabel_id}" for="id" />
                            <h:outputText id="id" value="#{raceController.selected.id}" />
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.EditRaceLabel_name}" for="name" />
                            <p:inputText id="name" value="#{raceController.selected.name}" title="#{myBundle.EditRaceTitle_name}" size="50" maxlength="50"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.EditRaceLabel_description}" for="description" />
                            <p:inputText id="description" value="#{raceController.selected.description}" title="#{myBundle.EditRaceTitle_description}" size="100" maxlength="100"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.EditRaceLabel_gender}" for="gender" />
                            <p:inputText id="gender" value="#{raceController.selected.gender}" title="#{myBundle.EditRaceTitle_gender}"/>
                        </pm:field>
                    </p:outputPanel>
                    <p:commandButton actionListener="#{raceController.save}" value="#{myBundle.Save}" update="#{mobilePageController.updatableWidgets(component,'display,:RaceListPage:RaceListForm:datalist,:growl')}" action="#{mobilePageController.navigateWithHistory('pm:RaceListPage')}"/>

                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>