<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="ImcCreatePage" lazy="true">
        <pm:header title="#{myBundle.CreateImcTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{myBundle.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:ImcListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="ImcCreateForm">

                <h:panelGroup id="display" rendered="#{imcController.selected != null}">
                    <p:outputPanel>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.CreateImcLabel_date}" for="date" />
                            <p:calendar id="date" pattern="MM/dd/yyyy" value="#{imcController.selected.date}" title="#{myBundle.CreateImcTitle_date}"  showOn="button"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.CreateImcLabel_weight}" for="weight" />
                            <p:inputText id="weight" value="#{imcController.selected.weight}" title="#{myBundle.CreateImcTitle_weight}"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.CreateImcLabel_height}" for="height" />
                            <p:inputText id="height" value="#{imcController.selected.height}" title="#{myBundle.CreateImcTitle_height}"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.CreateImcLabel_imc}" for="imc" />
                            <p:inputText id="imc" value="#{imcController.selected.imc}" title="#{myBundle.CreateImcTitle_imc}"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.CreateImcLabel_swimmerid}" for="swimmerid" />
                            <p:selectOneMenu id="swimmerid" value="#{imcController.selected.swimmerid}" required="true" requiredMessage="#{myBundle.CreateImcRequiredMessage_swimmerid}" converter="swimmerConverter">
                                <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                                <f:selectItems value="#{swimmerController.items}"
                                               var="swimmeridItem"
                                               itemValue="#{swimmeridItem}"
                                               itemLabel="#{swimmeridItem.id.toString()}"
                                               />

                            </p:selectOneMenu>
                        </pm:field>
                    </p:outputPanel>
                    <p:commandButton actionListener="#{imcController.saveNew}" value="#{myBundle.Save}" update="display,:ImcListPage:ImcListForm:datalist,:growl" action="#{mobilePageController.navigateWithHistory('pm:ImcListPage')}"/>

                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>