<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="ImcViewPage" lazy="true">
        <pm:header title="#{myBundle.ViewImcTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{myBundle.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:ImcListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="ImcViewForm">

                <h:panelGroup id="display">
                    <p:outputPanel rendered="#{imcController.selected != null}">

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewImcLabel_id}"/>
                            <h:outputText value="#{imcController.selected.id}" title="#{myBundle.ViewImcTitle_id}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewImcLabel_date}"/>
                            <h:outputText value="#{imcController.selected.date}" title="#{myBundle.ViewImcTitle_date}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewImcLabel_weight}"/>
                            <h:outputText value="#{imcController.selected.weight}" title="#{myBundle.ViewImcTitle_weight}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewImcLabel_height}"/>
                            <h:outputText value="#{imcController.selected.height}" title="#{myBundle.ViewImcTitle_height}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewImcLabel_imc}"/>
                            <h:outputText value="#{imcController.selected.imc}" title="#{myBundle.ViewImcTitle_imc}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewImcLabel_swimmerid}"/>
                            <h:outputText value="#{imcController.selected.swimmerid.id}"/>
                        </pm:field>
                    </p:outputPanel>
                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>