<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="DeseaseEditDlg" widgetVar="DeseaseEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditDeseaseTitle}" closeOnEscape="true">

            <h:form id="DeseaseEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{deseaseController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditDeseaseLabel_id}" for="id" />
                        <h:outputText id="id" value="#{deseaseController.selected.id}" />

                        <p:outputLabel value="#{myBundle.EditDeseaseLabel_name}" for="name" />
                        <p:inputText id="name" value="#{deseaseController.selected.name}" title="#{myBundle.EditDeseaseTitle_name}" size="50" maxlength="50"/>

                        <p:outputLabel value="#{myBundle.EditDeseaseLabel_description}" for="description" />
                        <p:inputText id="description" value="#{deseaseController.selected.description}" title="#{myBundle.EditDeseaseTitle_description}" size="100" maxlength="100"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{deseaseController.save}" value="#{myBundle.Save}" update="display,:DeseaseListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('DeseaseEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('DeseaseEditDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
