<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UserCreateDlg" widgetVar="UserCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateUserTitle}" closeOnEscape="true">

            <h:form id="UserCreateForm">

                <h:panelGroup id="display" rendered="#{userController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateUserLabel_userProfilePhoto}" for="userProfilePhoto" />
                        <p:inputTextarea rows="4" cols="30" id="userProfilePhoto" value="#{userController.selected.userProfilePhoto}" title="#{myBundle.CreateUserTitle_userProfilePhoto}" />

                        <p:outputLabel value="#{myBundle.CreateUserLabel_name}" for="name" />
                        <p:inputText id="name" value="#{userController.selected.name}" title="#{myBundle.CreateUserTitle_name}" size="50" maxlength="50"/>

                        <p:outputLabel value="#{myBundle.CreateUserLabel_surname}" for="surname" />
                        <p:inputText id="surname" value="#{userController.selected.surname}" title="#{myBundle.CreateUserTitle_surname}" size="50" maxlength="50"/>

                        <p:outputLabel value="#{myBundle.CreateUserLabel_userName}" for="userName" />
                        <p:inputText id="userName" value="#{userController.selected.userName}" title="#{myBundle.CreateUserTitle_userName}" size="25" maxlength="25"/>

                        <p:outputLabel value="#{myBundle.CreateUserLabel_password}" for="password" />
                        <p:inputText id="password" value="#{userController.selected.password}" title="#{myBundle.CreateUserTitle_password}" size="25" maxlength="25"/>

                        <p:outputLabel value="#{myBundle.CreateUserLabel_email}" for="email" />
                        <p:inputText id="email" value="#{userController.selected.email}" title="#{myBundle.CreateUserTitle_email}" size="50" maxlength="50"/>

                        <p:outputLabel value="#{myBundle.CreateUserLabel_birthdate}" for="birthdate" />
                        <p:calendar id="birthdate" pattern="MM/dd/yyyy" value="#{userController.selected.birthdate}" title="#{myBundle.CreateUserTitle_birthdate}"  showOn="button"/>

                        <p:outputLabel value="#{myBundle.CreateUserLabel_gender}" for="gender" />
                        <p:inputText id="gender" value="#{userController.selected.gender}" title="#{myBundle.CreateUserTitle_gender}"/>

                        <p:outputLabel value="#{myBundle.CreateUserLabel_carnet}" for="carnet" />
                        <p:inputText id="carnet" value="#{userController.selected.carnet}" title="#{myBundle.CreateUserTitle_carnet}" size="7" maxlength="7"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{userController.saveNew}" value="#{myBundle.Save}" update="display,:UserListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('UserCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('UserCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
