<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="UserEditDlg" widgetVar="UserEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditUserTitle}" closeOnEscape="true">

            <h:form id="UserEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{userController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditUserLabel_id}" for="id" />
                        <h:outputText id="id" value="#{userController.selected.id}" />

                        <p:outputLabel value="#{myBundle.EditUserLabel_userProfilePhoto}" for="userProfilePhoto" />
                        <p:inputTextarea rows="4" cols="30" id="userProfilePhoto" value="#{userController.selected.userProfilePhoto}" title="#{myBundle.EditUserTitle_userProfilePhoto}" />

                        <p:outputLabel value="#{myBundle.EditUserLabel_name}" for="name" />
                        <p:inputText id="name" value="#{userController.selected.name}" title="#{myBundle.EditUserTitle_name}" size="50" maxlength="50"/>

                        <p:outputLabel value="#{myBundle.EditUserLabel_surname}" for="surname" />
                        <p:inputText id="surname" value="#{userController.selected.surname}" title="#{myBundle.EditUserTitle_surname}" size="50" maxlength="50"/>

                        <p:outputLabel value="#{myBundle.EditUserLabel_userName}" for="userName" />
                        <p:inputText id="userName" value="#{userController.selected.userName}" title="#{myBundle.EditUserTitle_userName}" size="25" maxlength="25"/>

                        <p:outputLabel value="#{myBundle.EditUserLabel_password}" for="password" />
                        <p:inputText id="password" value="#{userController.selected.password}" title="#{myBundle.EditUserTitle_password}" size="25" maxlength="25"/>

                        <p:outputLabel value="#{myBundle.EditUserLabel_email}" for="email" />
                        <p:inputText id="email" value="#{userController.selected.email}" title="#{myBundle.EditUserTitle_email}" size="50" maxlength="50"/>

                        <p:outputLabel value="#{myBundle.EditUserLabel_birthdate}" for="birthdate" />
                        <p:calendar id="birthdate" pattern="MM/dd/yyyy" value="#{userController.selected.birthdate}" title="#{myBundle.EditUserTitle_birthdate}"  showOn="button"/>

                        <p:outputLabel value="#{myBundle.EditUserLabel_gender}" for="gender" />
                        <p:inputText id="gender" value="#{userController.selected.gender}" title="#{myBundle.EditUserTitle_gender}"/>

                        <p:outputLabel value="#{myBundle.EditUserLabel_carnet}" for="carnet" />
                        <p:inputText id="carnet" value="#{userController.selected.carnet}" title="#{myBundle.EditUserTitle_carnet}" size="7" maxlength="7"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{userController.save}" value="#{myBundle.Save}" update="display,:UserListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('UserEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('UserEditDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
