<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UserViewDlg" widgetVar="UserViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewUserTitle}" closeOnEscape="true">

            <h:form id="UserViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{userController.selected != null}">

                        <h:outputText value="#{myBundle.ViewUserLabel_id}"/>
                        <h:outputText value="#{userController.selected.id}" title="#{myBundle.ViewUserTitle_id}"/>

                        <h:outputText value="#{myBundle.ViewUserLabel_userProfilePhoto}"/>
                        <h:outputText value="#{userController.selected.userProfilePhoto}" title="#{myBundle.ViewUserTitle_userProfilePhoto}"/>

                        <h:outputText value="#{myBundle.ViewUserLabel_name}"/>
                        <h:outputText value="#{userController.selected.name}" title="#{myBundle.ViewUserTitle_name}"/>

                        <h:outputText value="#{myBundle.ViewUserLabel_surname}"/>
                        <h:outputText value="#{userController.selected.surname}" title="#{myBundle.ViewUserTitle_surname}"/>

                        <h:outputText value="#{myBundle.ViewUserLabel_userName}"/>
                        <h:outputText value="#{userController.selected.userName}" title="#{myBundle.ViewUserTitle_userName}"/>

                        <h:outputText value="#{myBundle.ViewUserLabel_password}"/>
                        <h:outputText value="#{userController.selected.password}" title="#{myBundle.ViewUserTitle_password}"/>

                        <h:outputText value="#{myBundle.ViewUserLabel_email}"/>
                        <h:outputText value="#{userController.selected.email}" title="#{myBundle.ViewUserTitle_email}"/>

                        <h:outputText value="#{myBundle.ViewUserLabel_birthdate}"/>
                        <h:outputText value="#{userController.selected.birthdate}" title="#{myBundle.ViewUserTitle_birthdate}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>

                        <h:outputText value="#{myBundle.ViewUserLabel_gender}"/>
                        <h:outputText value="#{userController.selected.gender}" title="#{myBundle.ViewUserTitle_gender}"/>

                        <h:outputText value="#{myBundle.ViewUserLabel_carnet}"/>
                        <h:outputText value="#{userController.selected.carnet}" title="#{myBundle.ViewUserTitle_carnet}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('UserViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
