<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AllergystatusCreateDlg" widgetVar="AllergystatusCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateAllergystatusTitle}" closeOnEscape="true">

            <h:form id="AllergystatusCreateForm">

                <h:panelGroup id="display" rendered="#{allergystatusController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateAllergystatusLabel_name}" for="name" />
                        <p:inputText id="name" value="#{allergystatusController.selected.name}" title="#{myBundle.CreateAllergystatusTitle_name}" size="100" maxlength="100"/>

                        <p:outputLabel value="#{myBundle.CreateAllergystatusLabel_description}" for="description" />
                        <p:inputText id="description" value="#{allergystatusController.selected.description}" title="#{myBundle.CreateAllergystatusTitle_description}" size="200" maxlength="200"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{allergystatusController.saveNew}" value="#{myBundle.Save}" update="display,:AllergystatusListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('AllergystatusCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('AllergystatusCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
