<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="AllergystatusEditDlg" widgetVar="AllergystatusEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditAllergystatusTitle}" closeOnEscape="true">

            <h:form id="AllergystatusEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{allergystatusController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditAllergystatusLabel_id}" for="id" />
                        <h:outputText id="id" value="#{allergystatusController.selected.id}" />

                        <p:outputLabel value="#{myBundle.EditAllergystatusLabel_name}" for="name" />
                        <p:inputText id="name" value="#{allergystatusController.selected.name}" title="#{myBundle.EditAllergystatusTitle_name}" size="100" maxlength="100"/>

                        <p:outputLabel value="#{myBundle.EditAllergystatusLabel_description}" for="description" />
                        <p:inputText id="description" value="#{allergystatusController.selected.description}" title="#{myBundle.EditAllergystatusTitle_description}" size="200" maxlength="200"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{allergystatusController.save}" value="#{myBundle.Save}" update="display,:AllergystatusListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('AllergystatusEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('AllergystatusEditDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
