<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AllergystatusViewDlg" widgetVar="AllergystatusViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewAllergystatusTitle}" closeOnEscape="true">

            <h:form id="AllergystatusViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{allergystatusController.selected != null}">

                        <h:outputText value="#{myBundle.ViewAllergystatusLabel_id}"/>
                        <h:outputText value="#{allergystatusController.selected.id}" title="#{myBundle.ViewAllergystatusTitle_id}"/>

                        <h:outputText value="#{myBundle.ViewAllergystatusLabel_name}"/>
                        <h:outputText value="#{allergystatusController.selected.name}" title="#{myBundle.ViewAllergystatusTitle_name}"/>

                        <h:outputText value="#{myBundle.ViewAllergystatusLabel_description}"/>
                        <h:outputText value="#{allergystatusController.selected.description}" title="#{myBundle.ViewAllergystatusTitle_description}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('AllergystatusViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
