<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EventCreateDlg" widgetVar="EventCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateEventTitle}" closeOnEscape="true">

            <h:form id="EventCreateForm">

                <h:panelGroup id="display" rendered="#{eventController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateEventLabel_eventStatus}" for="eventStatus" />
                        <p:selectBooleanCheckbox id="eventStatus" value="#{eventController.selected.eventStatus}" />

                        <p:outputLabel value="#{myBundle.CreateEventLabel_championshipid}" for="championshipid" />
                        <p:selectOneMenu id="championshipid" value="#{eventController.selected.championshipid}" required="true" requiredMessage="#{myBundle.CreateEventRequiredMessage_championshipid}" converter="championshipConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{championshipController.items}"
                                           var="championshipidItem"
                                           itemValue="#{championshipidItem}"
                                           itemLabel="#{championshipidItem.name.toString()}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{myBundle.CreateEventLabel_raceid}" for="raceid" />
                        <p:selectOneMenu id="raceid" value="#{eventController.selected.raceid}" required="true" requiredMessage="#{myBundle.CreateEventRequiredMessage_raceid}" converter="raceConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{raceController.items}"
                                           var="raceidItem"
                                           itemValue="#{raceidItem}"
                                           itemLabel="#{raceidItem.name.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{eventController.saveNew}" value="#{myBundle.Save}" update="display,:EventListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('EventCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('EventCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
