<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="EventListForm">

        <p:panel header="#{myBundle.ListEventTitle}">
            <p:contextMenu id="EventDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('EventListForm:createButton').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('EventListForm:viewButton').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('EventListForm:editButton').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('EventListForm:deleteButton').click();" icon="ui-icon-trash"/>
                <p:separator/>
                <p:menuitem value="#{myBundle.EventMenuItem_hitList}" icon="ui-icon-search"  action="#{eventController.navigateHitList}" disabled="#{empty eventController.selected.hitList}" ajax="false"/>  
                <p:menuitem value="#{myBundle.EventMenuItem_championshipid}" icon="ui-icon-search"  actionListener="#{eventController.prepareChampionshipid}" update=":ChampionshipViewForm" oncomplete="PF('ChampionshipViewDialog').show()" disabled="#{empty eventController.selected.championshipid}"/>  
                <p:menuitem value="#{myBundle.EventMenuItem_raceid}" icon="ui-icon-search"  actionListener="#{eventController.prepareRaceid}" update=":RaceViewForm" oncomplete="PF('RaceViewDialog').show()" disabled="#{empty eventController.selected.raceid}"/>  
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{eventController.items}"
                         lazy="false"
                         rowKey="#{item.id}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{eventController.selected}">
                <!--
                         To enable Lazy Loading, please copy/replace the following lines above,
                         and be sure to replace the word HASH with the # symbol:
                
                         value="HASH{eventController.lazyItems}"
                         lazy="true"
                         rowKey="HASH{item.id}"  <<< Remove this line
                -->


                <p:ajax event="rowSelect"   update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:EventDataTableContextMenu" listener="#{eventController.resetParents}"/>
                <p:ajax event="rowUnselect" update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:EventDataTableContextMenu" listener="#{eventController.resetParents}"/>
                <p:ajax event="contextMenu" update="@form:createButton @form:viewButton @form:editButton @form:deleteButton" listener="#{eventController.resetParents}"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('EventListForm:viewButton').click();"/>

                <p:column sortBy="#{item.id}" filterBy="#{item.id}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListEventTitle_id}"/>
                    </f:facet>
                    <h:outputText value="#{item.id}"/>
                </p:column>


                <p:column sortBy="#{item.eventStatus}" filterBy="#{item.eventStatus}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListEventTitle_eventStatus}"/>
                    </f:facet>
                    <h:selectBooleanCheckbox id="eventStatus" value="#{item.eventStatus}" title="#{myBundle.EditEventTitle_eventStatus}"  disabled="true"/>
                </p:column>


                <p:column sortBy="#{item.championshipid.name}" filterBy="#{item.championshipid.name}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListEventTitle_championshipid}"/>
                    </f:facet>
                    <h:outputText value="#{item.championshipid.name}"/>
                </p:column>


                <p:column sortBy="#{item.raceid.name}" filterBy="#{item.raceid.name}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListEventTitle_raceid}"/>
                    </f:facet>
                    <h:outputText value="#{item.raceid.name}"/>
                </p:column>


            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{myBundle.Create}" actionListener="#{eventController.prepareCreate}" update=":EventCreateForm" oncomplete="PF('EventCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{myBundle.View}" update=":EventViewForm" oncomplete="PF('EventViewDialog').show()" disabled="#{empty eventController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{myBundle.Edit}" update=":EventEditForm" oncomplete="PF('EventEditDialog').show()" disabled="#{empty eventController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{eventController.delete}" update=":growl,datalist" disabled="#{empty eventController.selected}">
                <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/maintenance/confirmation.xhtml"/>
    </h:form>

</ui:composition>