<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EventViewDlg" widgetVar="EventViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewEventTitle}" closeOnEscape="true">

            <h:form id="EventViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{eventController.selected != null}">

                        <h:outputText value="#{myBundle.ViewEventLabel_id}"/>
                        <h:outputText value="#{eventController.selected.id}" title="#{myBundle.ViewEventTitle_id}"/>

                        <h:outputText value="#{myBundle.ViewEventLabel_eventStatus}"/>
                        <h:selectBooleanCheckbox id="eventStatus" value="#{eventController.selected.eventStatus}" title="#{myBundle.EditEventTitle_eventStatus}"  disabled="true"/>

                        <h:outputText value="#{myBundle.ViewEventLabel_championshipid}"/>
                        <h:outputText value="#{eventController.selected.championshipid.name}"/>

                        <h:outputText value="#{myBundle.ViewEventLabel_raceid}"/>
                        <h:outputText value="#{eventController.selected.raceid.name}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('EventViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
