<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="UserHasRoleCreatePage" lazy="true">
        <pm:header title="#{myBundle.CreateUserHasRoleTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{myBundle.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:UserHasRoleListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="UserHasRoleCreateForm">

                <h:panelGroup id="display" rendered="#{userHasRoleController.selected != null}">
                    <p:outputPanel>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.CreateUserHasRoleLabel_userHasRolePK_userId}" for="userHasRolePK_userId" />
                            <p:inputText id="userHasRolePK_userId" value="#{userHasRoleController.selected.userHasRolePK.userId}" title="#{myBundle.CreateUserHasRoleTitle_userHasRolePK_userId}" required="true" requiredMessage="#{myBundle.CreateUserHasRoleRequiredMessage_userHasRolePK_userId}"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.CreateUserHasRoleLabel_userHasRolePK_roleId}" for="userHasRolePK_roleId" />
                            <p:inputText id="userHasRolePK_roleId" value="#{userHasRoleController.selected.userHasRolePK.roleId}" title="#{myBundle.CreateUserHasRoleTitle_userHasRolePK_roleId}" required="true" requiredMessage="#{myBundle.CreateUserHasRoleRequiredMessage_userHasRolePK_roleId}"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.CreateUserHasRoleLabel_date}" for="date" />
                            <p:calendar id="date" pattern="MM/dd/yyyy" value="#{userHasRoleController.selected.date}" title="#{myBundle.CreateUserHasRoleTitle_date}"  showOn="button"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.CreateUserHasRoleLabel_active}" for="active" />
                            <p:selectBooleanCheckbox id="active" value="#{userHasRoleController.selected.active}" />
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.CreateUserHasRoleLabel_dateClosed}" for="dateClosed" />
                            <p:calendar id="dateClosed" pattern="MM/dd/yyyy" value="#{userHasRoleController.selected.dateClosed}" title="#{myBundle.CreateUserHasRoleTitle_dateClosed}"  showOn="button"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.CreateUserHasRoleLabel_role}" for="role" />
                            <p:selectOneMenu id="role" value="#{userHasRoleController.selected.role}" required="true" requiredMessage="#{myBundle.CreateUserHasRoleRequiredMessage_role}" converter="roleConverter">
                                <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                                <f:selectItems value="#{roleController.items}"
                                               var="roleItem"
                                               itemValue="#{roleItem}"
                                               itemLabel="#{roleItem.roleName.toString()}"
                                               />

                            </p:selectOneMenu>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.CreateUserHasRoleLabel_user}" for="user" />
                            <p:selectOneMenu id="user" value="#{userHasRoleController.selected.user}" required="true" requiredMessage="#{myBundle.CreateUserHasRoleRequiredMessage_user}" converter="userConverter">
                                <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                                <f:selectItems value="#{userController.items}"
                                               var="userItem"
                                               itemValue="#{userItem}"
                                               itemLabel="#{userItem.name.toString()}"
                                               />

                            </p:selectOneMenu>
                        </pm:field>
                    </p:outputPanel>
                    <p:commandButton actionListener="#{userHasRoleController.saveNew}" value="#{myBundle.Save}" update="display,:UserHasRoleListPage:UserHasRoleListForm:datalist,:growl" action="#{mobilePageController.navigateWithHistory('pm:UserHasRoleListPage')}"/>

                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>