<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="UserHasRoleEditPage" lazy="true">
        <pm:header title="#{myBundle.EditUserHasRoleTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{myBundle.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:UserHasRoleListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="UserHasRoleEditForm">

                <h:panelGroup id="display">
                    <p:outputPanel rendered="#{userHasRoleController.selected != null}">

                        <pm:field>
                            <h:outputLabel value="#{myBundle.EditUserHasRoleLabel_userHasRolePK_userId}" for="userHasRolePK_userId" />
                            <h:outputText id="userHasRolePK_userId" value="#{userHasRoleController.selected.userHasRolePK.userId}" />
                        </pm:field>

                        <pm:field>
                            <h:outputLabel value="#{myBundle.EditUserHasRoleLabel_userHasRolePK_roleId}" for="userHasRolePK_roleId" />
                            <h:outputText id="userHasRolePK_roleId" value="#{userHasRoleController.selected.userHasRolePK.roleId}" />
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.EditUserHasRoleLabel_date}" for="date" />
                            <p:calendar id="date" pattern="MM/dd/yyyy" value="#{userHasRoleController.selected.date}" title="#{myBundle.EditUserHasRoleTitle_date}"  showOn="button"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.EditUserHasRoleLabel_active}" for="active" />
                            <p:selectBooleanCheckbox id="active" value="#{userHasRoleController.selected.active}" />
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.EditUserHasRoleLabel_dateClosed}" for="dateClosed" />
                            <p:calendar id="dateClosed" pattern="MM/dd/yyyy" value="#{userHasRoleController.selected.dateClosed}" title="#{myBundle.EditUserHasRoleTitle_dateClosed}"  showOn="button"/>
                        </pm:field>

                        <pm:field>
                            <h:outputLabel value="#{myBundle.EditUserHasRoleLabel_role}" for="role" />
                            <h:outputText id="role" value="#{userHasRoleController.selected.role}" />
                        </pm:field>

                        <pm:field>
                            <h:outputLabel value="#{myBundle.EditUserHasRoleLabel_user}" for="user" />
                            <h:outputText id="user" value="#{userHasRoleController.selected.user}" />
                        </pm:field>
                    </p:outputPanel>
                    <p:commandButton actionListener="#{userHasRoleController.save}" value="#{myBundle.Save}" update="#{mobilePageController.updatableWidgets(component,'display,:UserHasRoleListPage:UserHasRoleListForm:datalist,:growl')}" action="#{mobilePageController.navigateWithHistory('pm:UserHasRoleListPage')}"/>

                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>