<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="UserHasRoleListPage">
        <pm:header title="#{myBundle.ListUserHasRoleTitle}">
            <h:form>
                <p:commandButton id="backButton"   styleClass="ui-btn-left  ui-btn-inline" icon="ui-icon-arrow-l" value="#{myBundle.Back}" action="#{mobilePageController.navigateBackInHistory('/maintenance_mobile/index')}"/>
                <p:commandButton id="createButton" styleClass="ui-btn-right ui-btn-inline" icon="ui-icon-plus"    value="#{myBundle.Create}" update=":UserHasRoleCreatePage:UserHasRoleCreateForm" actionListener="#{userHasRoleController.prepareCreate}" action="#{mobilePageController.navigateWithHistory('pm:UserHasRoleCreatePage')}">
                    <f:actionListener binding="#{currentPageListener}"/>
                </p:commandButton>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="UserHasRoleListForm">

                <p:dataList id="datalist"
                            paginator="true"
                            rows="10"
                            rowsPerPageTemplate="10,20,30,40,50"
                            pt:data-inset="true"
                            value="#{userHasRoleController.items}"
                            var="item">

                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListUserHasRoleTitle}"/>
                    </f:facet>

                    <p:commandLink update=":UserHasRoleEditPage:UserHasRoleEditForm" action="pm:UserHasRoleEditPage">
                        <p>



                            <h:outputText value="#{item.userHasRolePK.userId}"/>



                            ,&nbsp;
                            <h:outputText value="#{item.userHasRolePK.roleId}"/>



                            ,&nbsp;
                            <h:outputText value="#{item.date}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>



                            ,&nbsp;
                            <h:selectBooleanCheckbox id="active" value="#{item.active}" title="#{myBundle.EditUserHasRoleTitle_active}"  disabled="true"/>



                            ,&nbsp;
                            <h:outputText value="#{item.dateClosed}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>



                            ,&nbsp;
                            <h:outputText value="#{item.role.roleName}"/>



                            ,&nbsp;
                            <h:outputText value="#{item.user.name}"/>

                        </p>
                        <f:setPropertyActionListener value="#{item}" target="#{userHasRoleController.selected}" />
                    </p:commandLink>

                    <f:facet name="footer">
                        <h:outputText value="#{myBundle.ListUserHasRoleTitle}"/>
                    </f:facet>

                </p:dataList>
            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>