<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="UserHasRoleViewPage" lazy="true">
        <pm:header title="#{myBundle.ViewUserHasRoleTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{myBundle.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:UserHasRoleListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="UserHasRoleViewForm">

                <h:panelGroup id="display">
                    <p:outputPanel rendered="#{userHasRoleController.selected != null}">

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewUserHasRoleLabel_userHasRolePK_userId}"/>
                            <h:outputText value="#{userHasRoleController.selected.userHasRolePK.userId}" title="#{myBundle.ViewUserHasRoleTitle_userHasRolePK_userId}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewUserHasRoleLabel_userHasRolePK_roleId}"/>
                            <h:outputText value="#{userHasRoleController.selected.userHasRolePK.roleId}" title="#{myBundle.ViewUserHasRoleTitle_userHasRolePK_roleId}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewUserHasRoleLabel_date}"/>
                            <h:outputText value="#{userHasRoleController.selected.date}" title="#{myBundle.ViewUserHasRoleTitle_date}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewUserHasRoleLabel_active}"/>
                            <h:selectBooleanCheckbox id="active" value="#{userHasRoleController.selected.active}" title="#{myBundle.EditUserHasRoleTitle_active}"  disabled="true"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewUserHasRoleLabel_dateClosed}"/>
                            <h:outputText value="#{userHasRoleController.selected.dateClosed}" title="#{myBundle.ViewUserHasRoleTitle_dateClosed}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewUserHasRoleLabel_role}"/>
                            <h:outputText value="#{userHasRoleController.selected.role.roleName}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewUserHasRoleLabel_user}"/>
                            <h:outputText value="#{userHasRoleController.selected.user.name}"/>
                        </pm:field>
                    </p:outputPanel>
                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>