<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UserHasRoleCreateDlg" widgetVar="UserHasRoleCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateUserHasRoleTitle}" closeOnEscape="true">

            <h:form id="UserHasRoleCreateForm">

                <h:panelGroup id="display" rendered="#{userHasRoleController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateUserHasRoleLabel_userHasRolePK_userId}" for="userHasRolePK_userId" />
                        <p:inputText id="userHasRolePK_userId" value="#{userHasRoleController.selected.userHasRolePK.userId}" title="#{myBundle.CreateUserHasRoleTitle_userHasRolePK_userId}" required="true" requiredMessage="#{myBundle.CreateUserHasRoleRequiredMessage_userHasRolePK_userId}"/>

                        <p:outputLabel value="#{myBundle.CreateUserHasRoleLabel_userHasRolePK_roleId}" for="userHasRolePK_roleId" />
                        <p:inputText id="userHasRolePK_roleId" value="#{userHasRoleController.selected.userHasRolePK.roleId}" title="#{myBundle.CreateUserHasRoleTitle_userHasRolePK_roleId}" required="true" requiredMessage="#{myBundle.CreateUserHasRoleRequiredMessage_userHasRolePK_roleId}"/>

                        <p:outputLabel value="#{myBundle.CreateUserHasRoleLabel_date}" for="date" />
                        <p:calendar id="date" pattern="MM/dd/yyyy" value="#{userHasRoleController.selected.date}" title="#{myBundle.CreateUserHasRoleTitle_date}"  showOn="button"/>

                        <p:outputLabel value="#{myBundle.CreateUserHasRoleLabel_active}" for="active" />
                        <p:selectBooleanCheckbox id="active" value="#{userHasRoleController.selected.active}" />

                        <p:outputLabel value="#{myBundle.CreateUserHasRoleLabel_dateClosed}" for="dateClosed" />
                        <p:calendar id="dateClosed" pattern="MM/dd/yyyy" value="#{userHasRoleController.selected.dateClosed}" title="#{myBundle.CreateUserHasRoleTitle_dateClosed}"  showOn="button"/>

                        <p:outputLabel value="#{myBundle.CreateUserHasRoleLabel_role}" for="role" />
                        <p:selectOneMenu id="role" value="#{userHasRoleController.selected.role}" required="true" requiredMessage="#{myBundle.CreateUserHasRoleRequiredMessage_role}" converter="roleConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{roleController.items}"
                                           var="roleItem"
                                           itemValue="#{roleItem}"
                                           itemLabel="#{roleItem.roleName.toString()}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{myBundle.CreateUserHasRoleLabel_user}" for="user" />
                        <p:selectOneMenu id="user" value="#{userHasRoleController.selected.user}" required="true" requiredMessage="#{myBundle.CreateUserHasRoleRequiredMessage_user}" converter="userConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{userController.items}"
                                           var="userItem"
                                           itemValue="#{userItem}"
                                           itemLabel="#{userItem.name.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{userHasRoleController.saveNew}" value="#{myBundle.Save}" update="display,:UserHasRoleListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('UserHasRoleCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('UserHasRoleCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
