<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="UserHasRoleEditDlg" widgetVar="UserHasRoleEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditUserHasRoleTitle}" closeOnEscape="true">

            <h:form id="UserHasRoleEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{userHasRoleController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditUserHasRoleLabel_userHasRolePK_userId}" for="userHasRolePK_userId" />
                        <h:outputText id="userHasRolePK_userId" value="#{userHasRoleController.selected.userHasRolePK.userId}" />


                        <h:outputLabel value="#{myBundle.EditUserHasRoleLabel_userHasRolePK_roleId}" for="userHasRolePK_roleId" />
                        <h:outputText id="userHasRolePK_roleId" value="#{userHasRoleController.selected.userHasRolePK.roleId}" />

                        <p:outputLabel value="#{myBundle.EditUserHasRoleLabel_date}" for="date" />
                        <p:calendar id="date" pattern="MM/dd/yyyy" value="#{userHasRoleController.selected.date}" title="#{myBundle.EditUserHasRoleTitle_date}"  showOn="button"/>

                        <p:outputLabel value="#{myBundle.EditUserHasRoleLabel_active}" for="active" />
                        <p:selectBooleanCheckbox id="active" value="#{userHasRoleController.selected.active}" />

                        <p:outputLabel value="#{myBundle.EditUserHasRoleLabel_dateClosed}" for="dateClosed" />
                        <p:calendar id="dateClosed" pattern="MM/dd/yyyy" value="#{userHasRoleController.selected.dateClosed}" title="#{myBundle.EditUserHasRoleTitle_dateClosed}"  showOn="button"/>


                        <h:outputLabel value="#{myBundle.EditUserHasRoleLabel_role}" for="role" />
                        <h:outputText id="role" value="#{userHasRoleController.selected.role}" />


                        <h:outputLabel value="#{myBundle.EditUserHasRoleLabel_user}" for="user" />
                        <h:outputText id="user" value="#{userHasRoleController.selected.user}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{userHasRoleController.save}" value="#{myBundle.Save}" update="display,:UserHasRoleListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('UserHasRoleEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('UserHasRoleEditDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
