<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="UserHasRoleListForm">

        <p:panel header="#{myBundle.ListUserHasRoleTitle}">
            <p:contextMenu id="UserHasRoleDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('UserHasRoleListForm:createButton').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('UserHasRoleListForm:viewButton').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('UserHasRoleListForm:editButton').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('UserHasRoleListForm:deleteButton').click();" icon="ui-icon-trash"/>
                <p:separator/>
                <p:menuitem value="#{myBundle.UserHasRoleMenuItem_role}" icon="ui-icon-search"  actionListener="#{userHasRoleController.prepareRole}" update=":RoleViewForm" oncomplete="PF('RoleViewDialog').show()" disabled="#{empty userHasRoleController.selected.role}"/>  
                <p:menuitem value="#{myBundle.UserHasRoleMenuItem_user}" icon="ui-icon-search"  actionListener="#{userHasRoleController.prepareUser}" update=":UserViewForm" oncomplete="PF('UserViewDialog').show()" disabled="#{empty userHasRoleController.selected.user}"/>  
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{userHasRoleController.items}"
                         lazy="false"
                         rowKey="#{item.userHasRolePK}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{userHasRoleController.selected}">
                <!--
                         To enable Lazy Loading, please copy/replace the following lines above,
                         and be sure to replace the word HASH with the # symbol:
                
                         value="HASH{userHasRoleController.lazyItems}"
                         lazy="true"
                         rowKey="HASH{item.userHasRolePK}"  <<< Remove this line
                -->


                <p:ajax event="rowSelect"   update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:UserHasRoleDataTableContextMenu" listener="#{userHasRoleController.resetParents}"/>
                <p:ajax event="rowUnselect" update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:UserHasRoleDataTableContextMenu" listener="#{userHasRoleController.resetParents}"/>
                <p:ajax event="contextMenu" update="@form:createButton @form:viewButton @form:editButton @form:deleteButton" listener="#{userHasRoleController.resetParents}"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('UserHasRoleListForm:viewButton').click();"/>

                <p:column sortBy="#{item.userHasRolePK.userId}" filterBy="#{item.userHasRolePK.userId}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListUserHasRoleTitle_userHasRolePK_userId}"/>
                    </f:facet>
                    <h:outputText value="#{item.userHasRolePK.userId}"/>
                </p:column>


                <p:column sortBy="#{item.userHasRolePK.roleId}" filterBy="#{item.userHasRolePK.roleId}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListUserHasRoleTitle_userHasRolePK_roleId}"/>
                    </f:facet>
                    <h:outputText value="#{item.userHasRolePK.roleId}"/>
                </p:column>


                <p:column sortBy="#{item.date}" filterBy="#{item.date}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListUserHasRoleTitle_date}"/>
                    </f:facet>
                    <h:outputText value="#{item.date}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                </p:column>


                <p:column sortBy="#{item.active}" filterBy="#{item.active}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListUserHasRoleTitle_active}"/>
                    </f:facet>
                    <h:selectBooleanCheckbox id="active" value="#{item.active}" title="#{myBundle.EditUserHasRoleTitle_active}"  disabled="true"/>
                </p:column>


                <p:column sortBy="#{item.dateClosed}" filterBy="#{item.dateClosed}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListUserHasRoleTitle_dateClosed}"/>
                    </f:facet>
                    <h:outputText value="#{item.dateClosed}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                </p:column>


                <p:column sortBy="#{item.role.roleName}" filterBy="#{item.role.roleName}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListUserHasRoleTitle_role}"/>
                    </f:facet>
                    <h:outputText value="#{item.role.roleName}"/>
                </p:column>


                <p:column sortBy="#{item.user.name}" filterBy="#{item.user.name}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListUserHasRoleTitle_user}"/>
                    </f:facet>
                    <h:outputText value="#{item.user.name}"/>
                </p:column>


            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{myBundle.Create}" actionListener="#{userHasRoleController.prepareCreate}" update=":UserHasRoleCreateForm" oncomplete="PF('UserHasRoleCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{myBundle.View}" update=":UserHasRoleViewForm" oncomplete="PF('UserHasRoleViewDialog').show()" disabled="#{empty userHasRoleController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{myBundle.Edit}" update=":UserHasRoleEditForm" oncomplete="PF('UserHasRoleEditDialog').show()" disabled="#{empty userHasRoleController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{userHasRoleController.delete}" update=":growl,datalist" disabled="#{empty userHasRoleController.selected}">
                <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/maintenance/confirmation.xhtml"/>
    </h:form>

</ui:composition>