<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UserHasRoleViewDlg" widgetVar="UserHasRoleViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewUserHasRoleTitle}" closeOnEscape="true">

            <h:form id="UserHasRoleViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{userHasRoleController.selected != null}">

                        <h:outputText value="#{myBundle.ViewUserHasRoleLabel_userHasRolePK_userId}"/>
                        <h:outputText value="#{userHasRoleController.selected.userHasRolePK.userId}" title="#{myBundle.ViewUserHasRoleTitle_userHasRolePK_userId}"/>

                        <h:outputText value="#{myBundle.ViewUserHasRoleLabel_userHasRolePK_roleId}"/>
                        <h:outputText value="#{userHasRoleController.selected.userHasRolePK.roleId}" title="#{myBundle.ViewUserHasRoleTitle_userHasRolePK_roleId}"/>

                        <h:outputText value="#{myBundle.ViewUserHasRoleLabel_date}"/>
                        <h:outputText value="#{userHasRoleController.selected.date}" title="#{myBundle.ViewUserHasRoleTitle_date}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>

                        <h:outputText value="#{myBundle.ViewUserHasRoleLabel_active}"/>
                        <h:selectBooleanCheckbox id="active" value="#{userHasRoleController.selected.active}" title="#{myBundle.EditUserHasRoleTitle_active}"  disabled="true"/>

                        <h:outputText value="#{myBundle.ViewUserHasRoleLabel_dateClosed}"/>
                        <h:outputText value="#{userHasRoleController.selected.dateClosed}" title="#{myBundle.ViewUserHasRoleTitle_dateClosed}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>

                        <h:outputText value="#{myBundle.ViewUserHasRoleLabel_role}"/>
                        <h:outputText value="#{userHasRoleController.selected.role.roleName}"/>

                        <h:outputText value="#{myBundle.ViewUserHasRoleLabel_user}"/>
                        <h:outputText value="#{userHasRoleController.selected.user.name}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('UserHasRoleViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
