<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="SwimmerHasAllergyEditPage" lazy="true">
        <pm:header title="#{myBundle.EditSwimmerHasAllergyTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{myBundle.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:SwimmerHasAllergyListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="SwimmerHasAllergyEditForm">

                <h:panelGroup id="display">
                    <p:outputPanel rendered="#{swimmerHasAllergyController.selected != null}">

                        <pm:field>
                            <h:outputLabel value="#{myBundle.EditSwimmerHasAllergyLabel_id}" for="id" />
                            <h:outputText id="id" value="#{swimmerHasAllergyController.selected.id}" />
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.EditSwimmerHasAllergyLabel_allergyDetectionDate}" for="allergyDetectionDate" />
                            <p:calendar id="allergyDetectionDate" pattern="MM/dd/yyyy" value="#{swimmerHasAllergyController.selected.allergyDetectionDate}" title="#{myBundle.EditSwimmerHasAllergyTitle_allergyDetectionDate}"  showOn="button"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.EditSwimmerHasAllergyLabel_observations}" for="observations" />
                            <p:inputText id="observations" value="#{swimmerHasAllergyController.selected.observations}" title="#{myBundle.EditSwimmerHasAllergyTitle_observations}" size="200" maxlength="200"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.EditSwimmerHasAllergyLabel_allergyId}" for="allergyId" />
                            <p:selectOneMenu id="allergyId" value="#{swimmerHasAllergyController.selected.allergyId}" required="true" requiredMessage="#{myBundle.EditSwimmerHasAllergyRequiredMessage_allergyId}" converter="allergyConverter">
                                <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                                <f:selectItems value="#{allergyController.items}"
                                               var="allergyIdItem"
                                               itemValue="#{allergyIdItem}"
                                               itemLabel="#{allergyIdItem.name.toString()}"
                                               />

                            </p:selectOneMenu>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.EditSwimmerHasAllergyLabel_allergyStatusid}" for="allergyStatusid" />
                            <p:selectOneMenu id="allergyStatusid" value="#{swimmerHasAllergyController.selected.allergyStatusid}" required="true" requiredMessage="#{myBundle.EditSwimmerHasAllergyRequiredMessage_allergyStatusid}" converter="allergystatusConverter">
                                <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                                <f:selectItems value="#{allergystatusController.items}"
                                               var="allergyStatusidItem"
                                               itemValue="#{allergyStatusidItem}"
                                               itemLabel="#{allergyStatusidItem.name.toString()}"
                                               />

                            </p:selectOneMenu>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.EditSwimmerHasAllergyLabel_swimmerId}" for="swimmerId" />
                            <p:selectOneMenu id="swimmerId" value="#{swimmerHasAllergyController.selected.swimmerId}" required="true" requiredMessage="#{myBundle.EditSwimmerHasAllergyRequiredMessage_swimmerId}" converter="swimmerConverter">
                                <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                                <f:selectItems value="#{swimmerController.items}"
                                               var="swimmerIdItem"
                                               itemValue="#{swimmerIdItem}"
                                               itemLabel="#{swimmerIdItem.id.toString()}"
                                               />

                            </p:selectOneMenu>
                        </pm:field>
                    </p:outputPanel>
                    <p:commandButton actionListener="#{swimmerHasAllergyController.save}" value="#{myBundle.Save}" update="#{mobilePageController.updatableWidgets(component,'display,:SwimmerHasAllergyListPage:SwimmerHasAllergyListForm:datalist,:growl')}" action="#{mobilePageController.navigateWithHistory('pm:SwimmerHasAllergyListPage')}"/>

                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>