<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="SwimmerHasAllergyViewPage" lazy="true">
        <pm:header title="#{myBundle.ViewSwimmerHasAllergyTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{myBundle.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:SwimmerHasAllergyListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="SwimmerHasAllergyViewForm">

                <h:panelGroup id="display">
                    <p:outputPanel rendered="#{swimmerHasAllergyController.selected != null}">

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewSwimmerHasAllergyLabel_id}"/>
                            <h:outputText value="#{swimmerHasAllergyController.selected.id}" title="#{myBundle.ViewSwimmerHasAllergyTitle_id}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewSwimmerHasAllergyLabel_allergyDetectionDate}"/>
                            <h:outputText value="#{swimmerHasAllergyController.selected.allergyDetectionDate}" title="#{myBundle.ViewSwimmerHasAllergyTitle_allergyDetectionDate}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewSwimmerHasAllergyLabel_observations}"/>
                            <h:outputText value="#{swimmerHasAllergyController.selected.observations}" title="#{myBundle.ViewSwimmerHasAllergyTitle_observations}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewSwimmerHasAllergyLabel_allergyId}"/>
                            <h:outputText value="#{swimmerHasAllergyController.selected.allergyId.name}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewSwimmerHasAllergyLabel_allergyStatusid}"/>
                            <h:outputText value="#{swimmerHasAllergyController.selected.allergyStatusid.name}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewSwimmerHasAllergyLabel_swimmerId}"/>
                            <h:outputText value="#{swimmerHasAllergyController.selected.swimmerId.id}"/>
                        </pm:field>
                    </p:outputPanel>
                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>