<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="ChampionshipEditPage" lazy="true">
        <pm:header title="#{myBundle.EditChampionshipTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{myBundle.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:ChampionshipListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="ChampionshipEditForm">

                <h:panelGroup id="display">
                    <p:outputPanel rendered="#{championshipController.selected != null}">

                        <pm:field>
                            <h:outputLabel value="#{myBundle.EditChampionshipLabel_id}" for="id" />
                            <h:outputText id="id" value="#{championshipController.selected.id}" />
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.EditChampionshipLabel_name}" for="name" />
                            <p:inputText id="name" value="#{championshipController.selected.name}" title="#{myBundle.EditChampionshipTitle_name}" size="100" maxlength="100"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.EditChampionshipLabel_description}" for="description" />
                            <p:inputText id="description" value="#{championshipController.selected.description}" title="#{myBundle.EditChampionshipTitle_description}" size="250" maxlength="250"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.EditChampionshipLabel_date}" for="date" />
                            <p:calendar id="date" pattern="MM/dd/yyyy" value="#{championshipController.selected.date}" title="#{myBundle.EditChampionshipTitle_date}"  showOn="button"/>
                        </pm:field>
                    </p:outputPanel>
                    <p:commandButton actionListener="#{championshipController.save}" value="#{myBundle.Save}" update="#{mobilePageController.updatableWidgets(component,'display,:ChampionshipListPage:ChampionshipListForm:datalist,:growl')}" action="#{mobilePageController.navigateWithHistory('pm:ChampionshipListPage')}"/>

                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>