<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="ChampionshipViewPage" lazy="true">
        <pm:header title="#{myBundle.ViewChampionshipTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{myBundle.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:ChampionshipListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="ChampionshipViewForm">

                <h:panelGroup id="display">
                    <p:outputPanel rendered="#{championshipController.selected != null}">

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewChampionshipLabel_id}"/>
                            <h:outputText value="#{championshipController.selected.id}" title="#{myBundle.ViewChampionshipTitle_id}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewChampionshipLabel_name}"/>
                            <h:outputText value="#{championshipController.selected.name}" title="#{myBundle.ViewChampionshipTitle_name}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewChampionshipLabel_description}"/>
                            <h:outputText value="#{championshipController.selected.description}" title="#{myBundle.ViewChampionshipTitle_description}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewChampionshipLabel_date}"/>
                            <h:outputText value="#{championshipController.selected.date}" title="#{myBundle.ViewChampionshipTitle_date}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </pm:field>
                    </p:outputPanel>
                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>