<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="FacultyEditPage" lazy="true">
        <pm:header title="#{myBundle.EditFacultyTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{myBundle.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:FacultyListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="FacultyEditForm">

                <h:panelGroup id="display">
                    <p:outputPanel rendered="#{facultyController.selected != null}">

                        <pm:field>
                            <h:outputLabel value="#{myBundle.EditFacultyLabel_id}" for="id" />
                            <h:outputText id="id" value="#{facultyController.selected.id}" />
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.EditFacultyLabel_name}" for="name" />
                            <p:inputText id="name" value="#{facultyController.selected.name}" title="#{myBundle.EditFacultyTitle_name}" size="50" maxlength="50"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.EditFacultyLabel_university}" for="university" />
                            <p:inputText id="university" value="#{facultyController.selected.university}" title="#{myBundle.EditFacultyTitle_university}" size="50" maxlength="50"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.EditFacultyLabel_location}" for="location" />
                            <p:inputText id="location" value="#{facultyController.selected.location}" title="#{myBundle.EditFacultyTitle_location}" size="100" maxlength="100"/>
                        </pm:field>
                    </p:outputPanel>
                    <p:commandButton actionListener="#{facultyController.save}" value="#{myBundle.Save}" update="#{mobilePageController.updatableWidgets(component,'display,:FacultyListPage:FacultyListForm:datalist,:growl')}" action="#{mobilePageController.navigateWithHistory('pm:FacultyListPage')}"/>

                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>