<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="FacultyCreateDlg" widgetVar="FacultyCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateFacultyTitle}" closeOnEscape="true">

            <h:form id="FacultyCreateForm">

                <h:panelGroup id="display" rendered="#{facultyController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateFacultyLabel_name}" for="name" />
                        <p:inputText id="name" value="#{facultyController.selected.name}" title="#{myBundle.CreateFacultyTitle_name}" size="50" maxlength="50"/>

                        <p:outputLabel value="#{myBundle.CreateFacultyLabel_university}" for="university" />
                        <p:inputText id="university" value="#{facultyController.selected.university}" title="#{myBundle.CreateFacultyTitle_university}" size="50" maxlength="50"/>

                        <p:outputLabel value="#{myBundle.CreateFacultyLabel_location}" for="location" />
                        <p:inputText id="location" value="#{facultyController.selected.location}" title="#{myBundle.CreateFacultyTitle_location}" size="100" maxlength="100"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{facultyController.saveNew}" value="#{myBundle.Save}" update="display,:FacultyListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('FacultyCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('FacultyCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
