<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="FacultyEditDlg" widgetVar="FacultyEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditFacultyTitle}" closeOnEscape="true">

            <h:form id="FacultyEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{facultyController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditFacultyLabel_id}" for="id" />
                        <h:outputText id="id" value="#{facultyController.selected.id}" />

                        <p:outputLabel value="#{myBundle.EditFacultyLabel_name}" for="name" />
                        <p:inputText id="name" value="#{facultyController.selected.name}" title="#{myBundle.EditFacultyTitle_name}" size="50" maxlength="50"/>

                        <p:outputLabel value="#{myBundle.EditFacultyLabel_university}" for="university" />
                        <p:inputText id="university" value="#{facultyController.selected.university}" title="#{myBundle.EditFacultyTitle_university}" size="50" maxlength="50"/>

                        <p:outputLabel value="#{myBundle.EditFacultyLabel_location}" for="location" />
                        <p:inputText id="location" value="#{facultyController.selected.location}" title="#{myBundle.EditFacultyTitle_location}" size="100" maxlength="100"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{facultyController.save}" value="#{myBundle.Save}" update="display,:FacultyListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('FacultyEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('FacultyEditDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
