<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="FacultyViewDlg" widgetVar="FacultyViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewFacultyTitle}" closeOnEscape="true">

            <h:form id="FacultyViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{facultyController.selected != null}">

                        <h:outputText value="#{myBundle.ViewFacultyLabel_id}"/>
                        <h:outputText value="#{facultyController.selected.id}" title="#{myBundle.ViewFacultyTitle_id}"/>

                        <h:outputText value="#{myBundle.ViewFacultyLabel_name}"/>
                        <h:outputText value="#{facultyController.selected.name}" title="#{myBundle.ViewFacultyTitle_name}"/>

                        <h:outputText value="#{myBundle.ViewFacultyLabel_university}"/>
                        <h:outputText value="#{facultyController.selected.university}" title="#{myBundle.ViewFacultyTitle_university}"/>

                        <h:outputText value="#{myBundle.ViewFacultyLabel_location}"/>
                        <h:outputText value="#{facultyController.selected.location}" title="#{myBundle.ViewFacultyTitle_location}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('FacultyViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
