<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="SwimmerHasAllergyEditDlg" widgetVar="SwimmerHasAllergyEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditSwimmerHasAllergyTitle}" closeOnEscape="true">

            <h:form id="SwimmerHasAllergyEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{swimmerHasAllergyController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditSwimmerHasAllergyLabel_id}" for="id" />
                        <h:outputText id="id" value="#{swimmerHasAllergyController.selected.id}" />

                        <p:outputLabel value="#{myBundle.EditSwimmerHasAllergyLabel_allergyDetectionDate}" for="allergyDetectionDate" />
                        <p:calendar id="allergyDetectionDate" pattern="MM/dd/yyyy" value="#{swimmerHasAllergyController.selected.allergyDetectionDate}" title="#{myBundle.EditSwimmerHasAllergyTitle_allergyDetectionDate}"  showOn="button"/>

                        <p:outputLabel value="#{myBundle.EditSwimmerHasAllergyLabel_observations}" for="observations" />
                        <p:inputText id="observations" value="#{swimmerHasAllergyController.selected.observations}" title="#{myBundle.EditSwimmerHasAllergyTitle_observations}" size="200" maxlength="200"/>

                        <p:outputLabel value="#{myBundle.EditSwimmerHasAllergyLabel_allergyId}" for="allergyId" />
                        <p:selectOneMenu id="allergyId" value="#{swimmerHasAllergyController.selected.allergyId}" required="true" requiredMessage="#{myBundle.EditSwimmerHasAllergyRequiredMessage_allergyId}" converter="allergyConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{allergyController.items}"
                                           var="allergyIdItem"
                                           itemValue="#{allergyIdItem}"
                                           itemLabel="#{allergyIdItem.name.toString()}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{myBundle.EditSwimmerHasAllergyLabel_allergyStatusid}" for="allergyStatusid" />
                        <p:selectOneMenu id="allergyStatusid" value="#{swimmerHasAllergyController.selected.allergyStatusid}" required="true" requiredMessage="#{myBundle.EditSwimmerHasAllergyRequiredMessage_allergyStatusid}" converter="allergystatusConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{allergystatusController.items}"
                                           var="allergyStatusidItem"
                                           itemValue="#{allergyStatusidItem}"
                                           itemLabel="#{allergyStatusidItem.name.toString()}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{myBundle.EditSwimmerHasAllergyLabel_swimmerId}" for="swimmerId" />
                        <p:selectOneMenu id="swimmerId" value="#{swimmerHasAllergyController.selected.swimmerId}" required="true" requiredMessage="#{myBundle.EditSwimmerHasAllergyRequiredMessage_swimmerId}" converter="swimmerConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{swimmerController.items}"
                                           var="swimmerIdItem"
                                           itemValue="#{swimmerIdItem}"
                                           itemLabel="#{swimmerIdItem.id.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{swimmerHasAllergyController.save}" value="#{myBundle.Save}" update="display,:SwimmerHasAllergyListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('SwimmerHasAllergyEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('SwimmerHasAllergyEditDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
