<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="SwimmerHasAllergyListForm">

        <p:panel header="#{myBundle.ListSwimmerHasAllergyTitle}">
            <p:contextMenu id="SwimmerHasAllergyDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('SwimmerHasAllergyListForm:createButton').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('SwimmerHasAllergyListForm:viewButton').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('SwimmerHasAllergyListForm:editButton').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('SwimmerHasAllergyListForm:deleteButton').click();" icon="ui-icon-trash"/>
                <p:separator/>
                <p:menuitem value="#{myBundle.SwimmerHasAllergyMenuItem_allergyId}" icon="ui-icon-search"  actionListener="#{swimmerHasAllergyController.prepareAllergyId}" update=":AllergyViewForm" oncomplete="PF('AllergyViewDialog').show()" disabled="#{empty swimmerHasAllergyController.selected.allergyId}"/>  
                <p:menuitem value="#{myBundle.SwimmerHasAllergyMenuItem_allergyStatusid}" icon="ui-icon-search"  actionListener="#{swimmerHasAllergyController.prepareAllergyStatusid}" update=":AllergystatusViewForm" oncomplete="PF('AllergystatusViewDialog').show()" disabled="#{empty swimmerHasAllergyController.selected.allergyStatusid}"/>  
                <p:menuitem value="#{myBundle.SwimmerHasAllergyMenuItem_swimmerId}" icon="ui-icon-search"  actionListener="#{swimmerHasAllergyController.prepareSwimmerId}" update=":SwimmerViewForm" oncomplete="PF('SwimmerViewDialog').show()" disabled="#{empty swimmerHasAllergyController.selected.swimmerId}"/>  
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{swimmerHasAllergyController.items}"
                         lazy="false"
                         rowKey="#{item.id}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{swimmerHasAllergyController.selected}">
                <!--
                         To enable Lazy Loading, please copy/replace the following lines above,
                         and be sure to replace the word HASH with the # symbol:
                
                         value="HASH{swimmerHasAllergyController.lazyItems}"
                         lazy="true"
                         rowKey="HASH{item.id}"  <<< Remove this line
                -->


                <p:ajax event="rowSelect"   update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:SwimmerHasAllergyDataTableContextMenu" listener="#{swimmerHasAllergyController.resetParents}"/>
                <p:ajax event="rowUnselect" update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:SwimmerHasAllergyDataTableContextMenu" listener="#{swimmerHasAllergyController.resetParents}"/>
                <p:ajax event="contextMenu" update="@form:createButton @form:viewButton @form:editButton @form:deleteButton" listener="#{swimmerHasAllergyController.resetParents}"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('SwimmerHasAllergyListForm:viewButton').click();"/>

                <p:column sortBy="#{item.id}" filterBy="#{item.id}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListSwimmerHasAllergyTitle_id}"/>
                    </f:facet>
                    <h:outputText value="#{item.id}"/>
                </p:column>


                <p:column sortBy="#{item.allergyDetectionDate}" filterBy="#{item.allergyDetectionDate}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListSwimmerHasAllergyTitle_allergyDetectionDate}"/>
                    </f:facet>
                    <h:outputText value="#{item.allergyDetectionDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                </p:column>


                <p:column sortBy="#{item.observations}" filterBy="#{item.observations}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListSwimmerHasAllergyTitle_observations}"/>
                    </f:facet>
                    <h:outputText value="#{item.observations}"/>
                </p:column>


                <p:column sortBy="#{item.allergyId.name}" filterBy="#{item.allergyId.name}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListSwimmerHasAllergyTitle_allergyId}"/>
                    </f:facet>
                    <h:outputText value="#{item.allergyId.name}"/>
                </p:column>


                <p:column sortBy="#{item.allergyStatusid.name}" filterBy="#{item.allergyStatusid.name}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListSwimmerHasAllergyTitle_allergyStatusid}"/>
                    </f:facet>
                    <h:outputText value="#{item.allergyStatusid.name}"/>
                </p:column>


                <p:column sortBy="#{item.swimmerId.id}" filterBy="#{item.swimmerId.id}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListSwimmerHasAllergyTitle_swimmerId}"/>
                    </f:facet>
                    <h:outputText value="#{item.swimmerId.id}"/>
                </p:column>


            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{myBundle.Create}" actionListener="#{swimmerHasAllergyController.prepareCreate}" update=":SwimmerHasAllergyCreateForm" oncomplete="PF('SwimmerHasAllergyCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{myBundle.View}" update=":SwimmerHasAllergyViewForm" oncomplete="PF('SwimmerHasAllergyViewDialog').show()" disabled="#{empty swimmerHasAllergyController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{myBundle.Edit}" update=":SwimmerHasAllergyEditForm" oncomplete="PF('SwimmerHasAllergyEditDialog').show()" disabled="#{empty swimmerHasAllergyController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{swimmerHasAllergyController.delete}" update=":growl,datalist" disabled="#{empty swimmerHasAllergyController.selected}">
                <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/maintenance/confirmation.xhtml"/>
    </h:form>

</ui:composition>