<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="SwimmerHasAllergyViewDlg" widgetVar="SwimmerHasAllergyViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewSwimmerHasAllergyTitle}" closeOnEscape="true">

            <h:form id="SwimmerHasAllergyViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{swimmerHasAllergyController.selected != null}">

                        <h:outputText value="#{myBundle.ViewSwimmerHasAllergyLabel_id}"/>
                        <h:outputText value="#{swimmerHasAllergyController.selected.id}" title="#{myBundle.ViewSwimmerHasAllergyTitle_id}"/>

                        <h:outputText value="#{myBundle.ViewSwimmerHasAllergyLabel_allergyDetectionDate}"/>
                        <h:outputText value="#{swimmerHasAllergyController.selected.allergyDetectionDate}" title="#{myBundle.ViewSwimmerHasAllergyTitle_allergyDetectionDate}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>

                        <h:outputText value="#{myBundle.ViewSwimmerHasAllergyLabel_observations}"/>
                        <h:outputText value="#{swimmerHasAllergyController.selected.observations}" title="#{myBundle.ViewSwimmerHasAllergyTitle_observations}"/>

                        <h:outputText value="#{myBundle.ViewSwimmerHasAllergyLabel_allergyId}"/>
                        <h:outputText value="#{swimmerHasAllergyController.selected.allergyId.name}"/>

                        <h:outputText value="#{myBundle.ViewSwimmerHasAllergyLabel_allergyStatusid}"/>
                        <h:outputText value="#{swimmerHasAllergyController.selected.allergyStatusid.name}"/>

                        <h:outputText value="#{myBundle.ViewSwimmerHasAllergyLabel_swimmerId}"/>
                        <h:outputText value="#{swimmerHasAllergyController.selected.swimmerId.id}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('SwimmerHasAllergyViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
