<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="SwimmerHasDeseaseCreateDlg" widgetVar="SwimmerHasDeseaseCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateSwimmerHasDeseaseTitle}" closeOnEscape="true">

            <h:form id="SwimmerHasDeseaseCreateForm">

                <h:panelGroup id="display" rendered="#{swimmerHasDeseaseController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateSwimmerHasDeseaseLabel_deseaseDetectionDate}" for="deseaseDetectionDate" />
                        <p:calendar id="deseaseDetectionDate" pattern="MM/dd/yyyy" value="#{swimmerHasDeseaseController.selected.deseaseDetectionDate}" title="#{myBundle.CreateSwimmerHasDeseaseTitle_deseaseDetectionDate}"  showOn="button"/>

                        <p:outputLabel value="#{myBundle.CreateSwimmerHasDeseaseLabel_observations}" for="observations" />
                        <p:inputText id="observations" value="#{swimmerHasDeseaseController.selected.observations}" title="#{myBundle.CreateSwimmerHasDeseaseTitle_observations}" size="200" maxlength="200"/>

                        <p:outputLabel value="#{myBundle.CreateSwimmerHasDeseaseLabel_deseaseId}" for="deseaseId" />
                        <p:selectOneMenu id="deseaseId" value="#{swimmerHasDeseaseController.selected.deseaseId}" required="true" requiredMessage="#{myBundle.CreateSwimmerHasDeseaseRequiredMessage_deseaseId}" converter="deseaseConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{deseaseController.items}"
                                           var="deseaseIdItem"
                                           itemValue="#{deseaseIdItem}"
                                           itemLabel="#{deseaseIdItem.name.toString()}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{myBundle.CreateSwimmerHasDeseaseLabel_deseaseStatusid}" for="deseaseStatusid" />
                        <p:selectOneMenu id="deseaseStatusid" value="#{swimmerHasDeseaseController.selected.deseaseStatusid}" required="true" requiredMessage="#{myBundle.CreateSwimmerHasDeseaseRequiredMessage_deseaseStatusid}" converter="deseasestatusConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{deseasestatusController.items}"
                                           var="deseaseStatusidItem"
                                           itemValue="#{deseaseStatusidItem}"
                                           itemLabel="#{deseaseStatusidItem.name.toString()}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{myBundle.CreateSwimmerHasDeseaseLabel_swimmerId}" for="swimmerId" />
                        <p:selectOneMenu id="swimmerId" value="#{swimmerHasDeseaseController.selected.swimmerId}" required="true" requiredMessage="#{myBundle.CreateSwimmerHasDeseaseRequiredMessage_swimmerId}" converter="swimmerConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{swimmerController.items}"
                                           var="swimmerIdItem"
                                           itemValue="#{swimmerIdItem}"
                                           itemLabel="#{swimmerIdItem.id.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{swimmerHasDeseaseController.saveNew}" value="#{myBundle.Save}" update="display,:SwimmerHasDeseaseListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('SwimmerHasDeseaseCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('SwimmerHasDeseaseCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
