<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="SwimmerHasDeseaseEditDlg" widgetVar="SwimmerHasDeseaseEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditSwimmerHasDeseaseTitle}" closeOnEscape="true">

            <h:form id="SwimmerHasDeseaseEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{swimmerHasDeseaseController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditSwimmerHasDeseaseLabel_id}" for="id" />
                        <h:outputText id="id" value="#{swimmerHasDeseaseController.selected.id}" />

                        <p:outputLabel value="#{myBundle.EditSwimmerHasDeseaseLabel_deseaseDetectionDate}" for="deseaseDetectionDate" />
                        <p:calendar id="deseaseDetectionDate" pattern="MM/dd/yyyy" value="#{swimmerHasDeseaseController.selected.deseaseDetectionDate}" title="#{myBundle.EditSwimmerHasDeseaseTitle_deseaseDetectionDate}"  showOn="button"/>

                        <p:outputLabel value="#{myBundle.EditSwimmerHasDeseaseLabel_observations}" for="observations" />
                        <p:inputText id="observations" value="#{swimmerHasDeseaseController.selected.observations}" title="#{myBundle.EditSwimmerHasDeseaseTitle_observations}" size="200" maxlength="200"/>

                        <p:outputLabel value="#{myBundle.EditSwimmerHasDeseaseLabel_deseaseId}" for="deseaseId" />
                        <p:selectOneMenu id="deseaseId" value="#{swimmerHasDeseaseController.selected.deseaseId}" required="true" requiredMessage="#{myBundle.EditSwimmerHasDeseaseRequiredMessage_deseaseId}" converter="deseaseConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{deseaseController.items}"
                                           var="deseaseIdItem"
                                           itemValue="#{deseaseIdItem}"
                                           itemLabel="#{deseaseIdItem.name.toString()}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{myBundle.EditSwimmerHasDeseaseLabel_deseaseStatusid}" for="deseaseStatusid" />
                        <p:selectOneMenu id="deseaseStatusid" value="#{swimmerHasDeseaseController.selected.deseaseStatusid}" required="true" requiredMessage="#{myBundle.EditSwimmerHasDeseaseRequiredMessage_deseaseStatusid}" converter="deseasestatusConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{deseasestatusController.items}"
                                           var="deseaseStatusidItem"
                                           itemValue="#{deseaseStatusidItem}"
                                           itemLabel="#{deseaseStatusidItem.name.toString()}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{myBundle.EditSwimmerHasDeseaseLabel_swimmerId}" for="swimmerId" />
                        <p:selectOneMenu id="swimmerId" value="#{swimmerHasDeseaseController.selected.swimmerId}" required="true" requiredMessage="#{myBundle.EditSwimmerHasDeseaseRequiredMessage_swimmerId}" converter="swimmerConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{swimmerController.items}"
                                           var="swimmerIdItem"
                                           itemValue="#{swimmerIdItem}"
                                           itemLabel="#{swimmerIdItem.id.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{swimmerHasDeseaseController.save}" value="#{myBundle.Save}" update="display,:SwimmerHasDeseaseListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('SwimmerHasDeseaseEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('SwimmerHasDeseaseEditDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
