<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="SwimmerHasDeseaseListForm">

        <p:panel header="#{myBundle.ListSwimmerHasDeseaseTitle}">
            <p:contextMenu id="SwimmerHasDeseaseDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('SwimmerHasDeseaseListForm:createButton').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('SwimmerHasDeseaseListForm:viewButton').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('SwimmerHasDeseaseListForm:editButton').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('SwimmerHasDeseaseListForm:deleteButton').click();" icon="ui-icon-trash"/>
                <p:separator/>
                <p:menuitem value="#{myBundle.SwimmerHasDeseaseMenuItem_deseaseId}" icon="ui-icon-search"  actionListener="#{swimmerHasDeseaseController.prepareDeseaseId}" update=":DeseaseViewForm" oncomplete="PF('DeseaseViewDialog').show()" disabled="#{empty swimmerHasDeseaseController.selected.deseaseId}"/>  
                <p:menuitem value="#{myBundle.SwimmerHasDeseaseMenuItem_deseaseStatusid}" icon="ui-icon-search"  actionListener="#{swimmerHasDeseaseController.prepareDeseaseStatusid}" update=":DeseasestatusViewForm" oncomplete="PF('DeseasestatusViewDialog').show()" disabled="#{empty swimmerHasDeseaseController.selected.deseaseStatusid}"/>  
                <p:menuitem value="#{myBundle.SwimmerHasDeseaseMenuItem_swimmerId}" icon="ui-icon-search"  actionListener="#{swimmerHasDeseaseController.prepareSwimmerId}" update=":SwimmerViewForm" oncomplete="PF('SwimmerViewDialog').show()" disabled="#{empty swimmerHasDeseaseController.selected.swimmerId}"/>  
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{swimmerHasDeseaseController.items}"
                         lazy="false"
                         rowKey="#{item.id}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{swimmerHasDeseaseController.selected}">
                <!--
                         To enable Lazy Loading, please copy/replace the following lines above,
                         and be sure to replace the word HASH with the # symbol:
                
                         value="HASH{swimmerHasDeseaseController.lazyItems}"
                         lazy="true"
                         rowKey="HASH{item.id}"  <<< Remove this line
                -->


                <p:ajax event="rowSelect"   update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:SwimmerHasDeseaseDataTableContextMenu" listener="#{swimmerHasDeseaseController.resetParents}"/>
                <p:ajax event="rowUnselect" update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:SwimmerHasDeseaseDataTableContextMenu" listener="#{swimmerHasDeseaseController.resetParents}"/>
                <p:ajax event="contextMenu" update="@form:createButton @form:viewButton @form:editButton @form:deleteButton" listener="#{swimmerHasDeseaseController.resetParents}"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('SwimmerHasDeseaseListForm:viewButton').click();"/>

                <p:column sortBy="#{item.id}" filterBy="#{item.id}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListSwimmerHasDeseaseTitle_id}"/>
                    </f:facet>
                    <h:outputText value="#{item.id}"/>
                </p:column>


                <p:column sortBy="#{item.deseaseDetectionDate}" filterBy="#{item.deseaseDetectionDate}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListSwimmerHasDeseaseTitle_deseaseDetectionDate}"/>
                    </f:facet>
                    <h:outputText value="#{item.deseaseDetectionDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                </p:column>


                <p:column sortBy="#{item.observations}" filterBy="#{item.observations}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListSwimmerHasDeseaseTitle_observations}"/>
                    </f:facet>
                    <h:outputText value="#{item.observations}"/>
                </p:column>


                <p:column sortBy="#{item.deseaseId.name}" filterBy="#{item.deseaseId.name}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListSwimmerHasDeseaseTitle_deseaseId}"/>
                    </f:facet>
                    <h:outputText value="#{item.deseaseId.name}"/>
                </p:column>


                <p:column sortBy="#{item.deseaseStatusid.name}" filterBy="#{item.deseaseStatusid.name}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListSwimmerHasDeseaseTitle_deseaseStatusid}"/>
                    </f:facet>
                    <h:outputText value="#{item.deseaseStatusid.name}"/>
                </p:column>


                <p:column sortBy="#{item.swimmerId.id}" filterBy="#{item.swimmerId.id}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListSwimmerHasDeseaseTitle_swimmerId}"/>
                    </f:facet>
                    <h:outputText value="#{item.swimmerId.id}"/>
                </p:column>


            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{myBundle.Create}" actionListener="#{swimmerHasDeseaseController.prepareCreate}" update=":SwimmerHasDeseaseCreateForm" oncomplete="PF('SwimmerHasDeseaseCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{myBundle.View}" update=":SwimmerHasDeseaseViewForm" oncomplete="PF('SwimmerHasDeseaseViewDialog').show()" disabled="#{empty swimmerHasDeseaseController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{myBundle.Edit}" update=":SwimmerHasDeseaseEditForm" oncomplete="PF('SwimmerHasDeseaseEditDialog').show()" disabled="#{empty swimmerHasDeseaseController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{swimmerHasDeseaseController.delete}" update=":growl,datalist" disabled="#{empty swimmerHasDeseaseController.selected}">
                <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/maintenance/confirmation.xhtml"/>
    </h:form>

</ui:composition>