<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="SwimmerHasDeseaseViewDlg" widgetVar="SwimmerHasDeseaseViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewSwimmerHasDeseaseTitle}" closeOnEscape="true">

            <h:form id="SwimmerHasDeseaseViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{swimmerHasDeseaseController.selected != null}">

                        <h:outputText value="#{myBundle.ViewSwimmerHasDeseaseLabel_id}"/>
                        <h:outputText value="#{swimmerHasDeseaseController.selected.id}" title="#{myBundle.ViewSwimmerHasDeseaseTitle_id}"/>

                        <h:outputText value="#{myBundle.ViewSwimmerHasDeseaseLabel_deseaseDetectionDate}"/>
                        <h:outputText value="#{swimmerHasDeseaseController.selected.deseaseDetectionDate}" title="#{myBundle.ViewSwimmerHasDeseaseTitle_deseaseDetectionDate}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>

                        <h:outputText value="#{myBundle.ViewSwimmerHasDeseaseLabel_observations}"/>
                        <h:outputText value="#{swimmerHasDeseaseController.selected.observations}" title="#{myBundle.ViewSwimmerHasDeseaseTitle_observations}"/>

                        <h:outputText value="#{myBundle.ViewSwimmerHasDeseaseLabel_deseaseId}"/>
                        <h:outputText value="#{swimmerHasDeseaseController.selected.deseaseId.name}"/>

                        <h:outputText value="#{myBundle.ViewSwimmerHasDeseaseLabel_deseaseStatusid}"/>
                        <h:outputText value="#{swimmerHasDeseaseController.selected.deseaseStatusid.name}"/>

                        <h:outputText value="#{myBundle.ViewSwimmerHasDeseaseLabel_swimmerId}"/>
                        <h:outputText value="#{swimmerHasDeseaseController.selected.swimmerId.id}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('SwimmerHasDeseaseViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
