<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="SwimmerCreatePage" lazy="true">
        <pm:header title="#{myBundle.CreateSwimmerTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{myBundle.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:SwimmerListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="SwimmerCreateForm">

                <h:panelGroup id="display" rendered="#{swimmerController.selected != null}">
                    <p:outputPanel>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.CreateSwimmerLabel_facultyid}" for="facultyid" />
                            <p:selectOneMenu id="facultyid" value="#{swimmerController.selected.facultyid}" required="true" requiredMessage="#{myBundle.CreateSwimmerRequiredMessage_facultyid}" converter="facultyConverter">
                                <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                                <f:selectItems value="#{facultyController.items}"
                                               var="facultyidItem"
                                               itemValue="#{facultyidItem}"
                                               itemLabel="#{facultyidItem.name.toString()}"
                                               />

                            </p:selectOneMenu>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.CreateSwimmerLabel_userid}" for="userid" />
                            <p:selectOneMenu id="userid" value="#{swimmerController.selected.userid}" required="true" requiredMessage="#{myBundle.CreateSwimmerRequiredMessage_userid}" converter="userConverter">
                                <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                                <f:selectItems value="#{userController.items}"
                                               var="useridItem"
                                               itemValue="#{useridItem}"
                                               itemLabel="#{useridItem.name.toString()}"
                                               />

                            </p:selectOneMenu>
                        </pm:field>
                    </p:outputPanel>
                    <p:commandButton actionListener="#{swimmerController.saveNew}" value="#{myBundle.Save}" update="display,:SwimmerListPage:SwimmerListForm:datalist,:growl" action="#{mobilePageController.navigateWithHistory('pm:SwimmerListPage')}"/>

                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>