<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RoleCreateDlg" widgetVar="RoleCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateRoleTitle}" closeOnEscape="true">

            <h:form id="RoleCreateForm">

                <h:panelGroup id="display" rendered="#{roleController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateRoleLabel_roleName}" for="roleName" />
                        <p:inputText id="roleName" value="#{roleController.selected.roleName}" title="#{myBundle.CreateRoleTitle_roleName}" size="50" maxlength="50"/>

                        <p:outputLabel value="#{myBundle.CreateRoleLabel_description}" for="description" />
                        <p:inputText id="description" value="#{roleController.selected.description}" title="#{myBundle.CreateRoleTitle_description}" size="200" maxlength="200"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{roleController.saveNew}" value="#{myBundle.Save}" update="display,:RoleListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('RoleCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('RoleCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
