<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RoleViewDlg" widgetVar="RoleViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewRoleTitle}" closeOnEscape="true">

            <h:form id="RoleViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{roleController.selected != null}">

                        <h:outputText value="#{myBundle.ViewRoleLabel_id}"/>
                        <h:outputText value="#{roleController.selected.id}" title="#{myBundle.ViewRoleTitle_id}"/>

                        <h:outputText value="#{myBundle.ViewRoleLabel_roleName}"/>
                        <h:outputText value="#{roleController.selected.roleName}" title="#{myBundle.ViewRoleTitle_roleName}"/>

                        <h:outputText value="#{myBundle.ViewRoleLabel_description}"/>
                        <h:outputText value="#{roleController.selected.description}" title="#{myBundle.ViewRoleTitle_description}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('RoleViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
