<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="SwimmerCreateDlg" widgetVar="SwimmerCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateSwimmerTitle}" closeOnEscape="true">

            <h:form id="SwimmerCreateForm">

                <h:panelGroup id="display" rendered="#{swimmerController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateSwimmerLabel_facultyid}" for="facultyid" />
                        <p:selectOneMenu id="facultyid" value="#{swimmerController.selected.facultyid}" required="true" requiredMessage="#{myBundle.CreateSwimmerRequiredMessage_facultyid}" converter="facultyConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{facultyController.items}"
                                           var="facultyidItem"
                                           itemValue="#{facultyidItem}"
                                           itemLabel="#{facultyidItem.name.toString()}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{myBundle.CreateSwimmerLabel_userid}" for="userid" />
                        <p:selectOneMenu id="userid" value="#{swimmerController.selected.userid}" required="true" requiredMessage="#{myBundle.CreateSwimmerRequiredMessage_userid}" converter="userConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{userController.items}"
                                           var="useridItem"
                                           itemValue="#{useridItem}"
                                           itemLabel="#{useridItem.name.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{swimmerController.saveNew}" value="#{myBundle.Save}" update="display,:SwimmerListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('SwimmerCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('SwimmerCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
