<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="SwimmerEditDlg" widgetVar="SwimmerEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditSwimmerTitle}" closeOnEscape="true">

            <h:form id="SwimmerEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{swimmerController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditSwimmerLabel_id}" for="id" />
                        <h:outputText id="id" value="#{swimmerController.selected.id}" />

                        <p:outputLabel value="#{myBundle.EditSwimmerLabel_facultyid}" for="facultyid" />
                        <p:selectOneMenu id="facultyid" value="#{swimmerController.selected.facultyid}" required="true" requiredMessage="#{myBundle.EditSwimmerRequiredMessage_facultyid}" converter="facultyConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{facultyController.items}"
                                           var="facultyidItem"
                                           itemValue="#{facultyidItem}"
                                           itemLabel="#{facultyidItem.name.toString()}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{myBundle.EditSwimmerLabel_userid}" for="userid" />
                        <p:selectOneMenu id="userid" value="#{swimmerController.selected.userid}" required="true" requiredMessage="#{myBundle.EditSwimmerRequiredMessage_userid}" converter="userConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{userController.items}"
                                           var="useridItem"
                                           itemValue="#{useridItem}"
                                           itemLabel="#{useridItem.name.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{swimmerController.save}" value="#{myBundle.Save}" update="display,:SwimmerListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('SwimmerEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('SwimmerEditDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
