<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="SwimmerListForm">

        <p:panel header="#{myBundle.ListSwimmerTitle}">
            <p:contextMenu id="SwimmerDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('SwimmerListForm:createButton').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('SwimmerListForm:viewButton').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('SwimmerListForm:editButton').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('SwimmerListForm:deleteButton').click();" icon="ui-icon-trash"/>
                <p:separator/>
                <p:menuitem value="#{myBundle.SwimmerMenuItem_swimmerHasDeseaseList}" icon="ui-icon-search"  action="#{swimmerController.navigateSwimmerHasDeseaseList}" disabled="#{empty swimmerController.selected.swimmerHasDeseaseList}" ajax="false"/>  
                <p:menuitem value="#{myBundle.SwimmerMenuItem_hitList}" icon="ui-icon-search"  action="#{swimmerController.navigateHitList}" disabled="#{empty swimmerController.selected.hitList}" ajax="false"/>  
                <p:menuitem value="#{myBundle.SwimmerMenuItem_swimmerHasSwimmingclubList}" icon="ui-icon-search"  action="#{swimmerController.navigateSwimmerHasSwimmingclubList}" disabled="#{empty swimmerController.selected.swimmerHasSwimmingclubList}" ajax="false"/>  
                <p:menuitem value="#{myBundle.SwimmerMenuItem_swimmerHasAllergyList}" icon="ui-icon-search"  action="#{swimmerController.navigateSwimmerHasAllergyList}" disabled="#{empty swimmerController.selected.swimmerHasAllergyList}" ajax="false"/>  
                <p:menuitem value="#{myBundle.SwimmerMenuItem_swimmerHasInjuryList}" icon="ui-icon-search"  action="#{swimmerController.navigateSwimmerHasInjuryList}" disabled="#{empty swimmerController.selected.swimmerHasInjuryList}" ajax="false"/>  
                <p:menuitem value="#{myBundle.SwimmerMenuItem_facultyid}" icon="ui-icon-search"  actionListener="#{swimmerController.prepareFacultyid}" update=":FacultyViewForm" oncomplete="PF('FacultyViewDialog').show()" disabled="#{empty swimmerController.selected.facultyid}"/>  
                <p:menuitem value="#{myBundle.SwimmerMenuItem_userid}" icon="ui-icon-search"  actionListener="#{swimmerController.prepareUserid}" update=":UserViewForm" oncomplete="PF('UserViewDialog').show()" disabled="#{empty swimmerController.selected.userid}"/>  
                <p:menuitem value="#{myBundle.SwimmerMenuItem_imcList}" icon="ui-icon-search"  action="#{swimmerController.navigateImcList}" disabled="#{empty swimmerController.selected.imcList}" ajax="false"/>  
                <p:menuitem value="#{myBundle.SwimmerMenuItem_swimmerHasLevelList}" icon="ui-icon-search"  action="#{swimmerController.navigateSwimmerHasLevelList}" disabled="#{empty swimmerController.selected.swimmerHasLevelList}" ajax="false"/>  
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{swimmerController.items}"
                         lazy="false"
                         rowKey="#{item.id}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{swimmerController.selected}">
                <!--
                         To enable Lazy Loading, please copy/replace the following lines above,
                         and be sure to replace the word HASH with the # symbol:
                
                         value="HASH{swimmerController.lazyItems}"
                         lazy="true"
                         rowKey="HASH{item.id}"  <<< Remove this line
                -->


                <p:ajax event="rowSelect"   update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:SwimmerDataTableContextMenu" listener="#{swimmerController.resetParents}"/>
                <p:ajax event="rowUnselect" update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:SwimmerDataTableContextMenu" listener="#{swimmerController.resetParents}"/>
                <p:ajax event="contextMenu" update="@form:createButton @form:viewButton @form:editButton @form:deleteButton" listener="#{swimmerController.resetParents}"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('SwimmerListForm:viewButton').click();"/>

                <p:column sortBy="#{item.id}" filterBy="#{item.id}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListSwimmerTitle_id}"/>
                    </f:facet>
                    <h:outputText value="#{item.id}"/>
                </p:column>


                <p:column sortBy="#{item.facultyid.name}" filterBy="#{item.facultyid.name}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListSwimmerTitle_facultyid}"/>
                    </f:facet>
                    <h:outputText value="#{item.facultyid.name}"/>
                </p:column>


                <p:column sortBy="#{item.userid.name}" filterBy="#{item.userid.name}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListSwimmerTitle_userid}"/>
                    </f:facet>
                    <h:outputText value="#{item.userid.name}"/>
                </p:column>


            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{myBundle.Create}" actionListener="#{swimmerController.prepareCreate}" update=":SwimmerCreateForm" oncomplete="PF('SwimmerCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{myBundle.View}" update=":SwimmerViewForm" oncomplete="PF('SwimmerViewDialog').show()" disabled="#{empty swimmerController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{myBundle.Edit}" update=":SwimmerEditForm" oncomplete="PF('SwimmerEditDialog').show()" disabled="#{empty swimmerController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{swimmerController.delete}" update=":growl,datalist" disabled="#{empty swimmerController.selected}">
                <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/maintenance/confirmation.xhtml"/>
    </h:form>

</ui:composition>