<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="SwimmerViewDlg" widgetVar="SwimmerViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewSwimmerTitle}" closeOnEscape="true">

            <h:form id="SwimmerViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{swimmerController.selected != null}">

                        <h:outputText value="#{myBundle.ViewSwimmerLabel_id}"/>
                        <h:outputText value="#{swimmerController.selected.id}" title="#{myBundle.ViewSwimmerTitle_id}"/>

                        <h:outputText value="#{myBundle.ViewSwimmerLabel_facultyid}"/>
                        <h:outputText value="#{swimmerController.selected.facultyid.name}"/>

                        <h:outputText value="#{myBundle.ViewSwimmerLabel_userid}"/>
                        <h:outputText value="#{swimmerController.selected.userid.name}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('SwimmerViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
