<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="InjurystatusCreatePage" lazy="true">
        <pm:header title="#{myBundle.CreateInjurystatusTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{myBundle.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:InjurystatusListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="InjurystatusCreateForm">

                <h:panelGroup id="display" rendered="#{injurystatusController.selected != null}">
                    <p:outputPanel>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.CreateInjurystatusLabel_name}" for="name" />
                            <p:inputText id="name" value="#{injurystatusController.selected.name}" title="#{myBundle.CreateInjurystatusTitle_name}" size="100" maxlength="100"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.CreateInjurystatusLabel_description}" for="description" />
                            <p:inputText id="description" value="#{injurystatusController.selected.description}" title="#{myBundle.CreateInjurystatusTitle_description}" size="200" maxlength="200"/>
                        </pm:field>
                    </p:outputPanel>
                    <p:commandButton actionListener="#{injurystatusController.saveNew}" value="#{myBundle.Save}" update="display,:InjurystatusListPage:InjurystatusListForm:datalist,:growl" action="#{mobilePageController.navigateWithHistory('pm:InjurystatusListPage')}"/>

                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>