<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pu="http://primefaces.org/ultima">

    <h:form id="menuform"> 
        <div class="layout-menu #{guestPreferences.menuClass}">
            <div class="nano">
                <div class="nano-content menu-scroll-content">
                    <ui:fragment rendered="#{guestPreferences.profileMode == 'inline' and guestPreferences.menuLayout != 'menu-layout-static menu-layout-horizontal'}">
                        <div class="profile">
                            <div class="profile-image"></div>
                            <a id="profile-options" href="#">
                                <span class="profile-name">Jane Williams</span>
                                <i class="material-icons">&#xE313;</i>
                            </a>
                        </div>

                        <ul id="profile-menu" class="ultima-menu">
                            <li role="menuitem">
                                <a href="#" class="ripplelink">
                                    <i class="material-icons">&#xE7FD;</i>
                                    <span>Profile</span>
                                </a>
                            </li>
                            <li role="menuitem">
                                <a href="#" class="ripplelink">
                                    <i class="material-icons">&#xE32A;</i>
                                    <span>Privacy</span>
                                </a>
                            </li>
                            <li role="menuitem">
                                <a href="#" class="ripplelink">
                                    <i class="material-icons">&#xE8B9;</i>
                                    <span>Settings</span>
                                </a>
                            </li>
                            <li role="menuitem">
                                <a href="#" class="ripplelink">
                                    <i class="material-icons">&#xE8AC;</i>
                                    <span>Logout</span>
                                </a>
                            </li>
                        </ul>
                    </ui:fragment>

                    <pu:menu widgetVar="me">
                        <p:menuitem id="resumen" value="Inicio" icon="&#xE871;" outcome="/dashboard"/>
                        <p:menuitem id="eventos" value="Eventos" icon="eventavailable" outcome="/dashboard"/>
                        <p:menuitem id="nadadores" value="Nadadores" icon="people" outcome="/swimmers/index"/>                      
                        <p:submenu id="themes" label="Temas (Colores)" icon="&#xE40A;">
                            <p:menuitem id="theme1" value="Indigo - Pink" icon="&#xE3AE;" actionListener="#{guestPreferences.setTheme('indigo')}" ajax="false" />
                            <p:menuitem id="theme2" value="Brown - Green" icon="&#xE3AE;" actionListener="#{guestPreferences.setTheme('brown')}" ajax="false" />
                            <p:menuitem id="theme3" value="Blue - Amber" icon="&#xE3AE;" actionListener="#{guestPreferences.setTheme('blue')}" ajax="false" />
                            <p:menuitem id="theme4" value="Blue Grey - Green" icon="&#xE3AE;" actionListener="#{guestPreferences.setTheme('blue-grey')}" ajax="false" />
                            <p:menuitem id="theme5" value="Dark - Blue" icon="&#xE3AE;" actionListener="#{guestPreferences.setTheme('dark-blue')}" ajax="false" />
                            <p:menuitem id="theme6" value="Dark - Green" icon="&#xE3AE;" actionListener="#{guestPreferences.setTheme('dark-green')}" ajax="false" />
                            <p:menuitem id="theme7" value="Green - Yellow" icon="&#xE3AE;" actionListener="#{guestPreferences.setTheme('green')}" ajax="false" />
                            <p:menuitem id="theme8" value="Purple - Cyan" icon="&#xE3AE;" actionListener="#{guestPreferences.setTheme('purple-cyan')}" ajax="false" />
                            <p:menuitem id="theme9" value="Purple - Amber" icon="&#xE3AE;" actionListener="#{guestPreferences.setTheme('purple-amber')}" ajax="false" />
                            <p:menuitem id="theme10" value="Teal - Lime" icon="&#xE3AE;" actionListener="#{guestPreferences.setTheme('teal')}" ajax="false" />
                            <p:menuitem id="theme11" value="Cyan - Amber" icon="&#xE3AE;" actionListener="#{guestPreferences.setTheme('cyan')}" ajax="false" />
                            <p:menuitem id="theme12" value="Grey - Deep Orange" icon="&#xE3AE;" actionListener="#{guestPreferences.setTheme('grey')}" ajax="false" />
                        </p:submenu>
                        <p:submenu id="um_customization" label="Modificaciones" icon="&#xE8B8;">
                            <p:menuitem id="custom1" value="Compact Size" icon="&#xE061;" actionListener="#{guestPreferences.setCompact(true)}" ajax="false"/>
                            <p:menuitem id="custom2" value="Material Size" icon="&#xE062;" actionListener="#{guestPreferences.setCompact(false)}" ajax="false"/>
                            <p:menuitem id="custom3" value="Static Menu" icon="&#xE5D2;" actionListener="#{guestPreferences.setMenuLayout('static')}" ajax="false"/>
                            <p:menuitem id="custom4" value="Overlay Menu" icon="&#xE879;" actionListener="#{guestPreferences.setMenuLayout('overlay')}" ajax="false"/>
                            <p:menuitem id="custom5" value="Horizontal Menu" icon="&#xE22C;" actionListener="#{guestPreferences.setMenuLayout('horizontal')}" ajax="false"/>
                            <p:menuitem id="custom6" value="Light Menu" icon="&#xE893;" actionListener="#{guestPreferences.setLightMenu}" ajax="false" />
                            <p:menuitem id="custom7" value="Dark Menu" icon="&#xE892;" actionListener="#{guestPreferences.setDarkMenu}" ajax="false"/>
                            <p:menuitem id="custom8" value="Inline Profile" icon="&#xE0BA;" actionListener="#{guestPreferences.setProfileMode('inline')}" ajax="false" />
                            <p:menuitem id="custom9" value="Top Profile" icon="&#xE55A;" actionListener="#{guestPreferences.setProfileMode('overlay')}" ajax="false"/>
                        </p:submenu>

                        <p:submenu id="um_orientation" label="Orientación" icon="&#xE237;">
                            <p:menuitem id="um_ltr" value="LTR" icon="&#xE236;" actionListener="#{guestPreferences.setOrientationRTL(false)}" ajax="false" />
                            <p:menuitem id="um_rtl" value="RTL" icon="&#xE237;" actionListener="#{guestPreferences.setOrientationRTL(true)}" ajax="false" />
                        </p:submenu>


                        <p:submenu id="um_hierarchy" label="Mantenimiento" icon="&#xE5D2;">  
                            <p:menuitem value="#{myBundle.AllergyHeading}..." outcome="/maintenance/allergy/index" />
                            <p:menuitem value="#{myBundle.AllergystatusHeading}..." outcome="/maintenance/allergystatus/index" />
                            <p:menuitem value="#{myBundle.ChampionshipHeading}..." outcome="/maintenance/championship/index" />
                            <p:menuitem value="#{myBundle.DeseaseHeading}..." outcome="/maintenance/desease/index" />
                            <p:menuitem value="#{myBundle.DeseasestatusHeading}..." outcome="/maintenance/deseasestatus/index" />
                            <p:menuitem value="#{myBundle.EventHeading}..." outcome="/maintenance/event/index" />
                            <p:menuitem value="#{myBundle.FacultyHeading}..." outcome="/maintenance/faculty/index" />
                            <p:menuitem value="#{myBundle.HitHeading}..." outcome="/maintenance/hit/index" />
                            <p:menuitem value="#{myBundle.HitstatusHeading}..." outcome="/maintenance/hitstatus/index" />
                            <p:menuitem value="#{myBundle.ImcHeading}..." outcome="/maintenance/imc/index" />
                            <p:menuitem value="#{myBundle.InjuryHeading}..." outcome="/maintenance/injury/index" />
                            <p:menuitem value="#{myBundle.InjurystatusHeading}..." outcome="/maintenance/injurystatus/index" />
                            <p:menuitem value="#{myBundle.LevelHeading}..." outcome="/maintenance/level/index" />
                            <p:menuitem value="#{myBundle.PenaltyHeading}..." outcome="/maintenance/penalty/index" />
                            <p:menuitem value="#{myBundle.RaceHeading}..." outcome="/maintenance/race/index" />
                            <p:menuitem value="#{myBundle.RoleHeading}..." outcome="/maintenance/role/index" />
                            <p:menuitem value="#{myBundle.SwimmerHeading}..." outcome="/maintenance/swimmer/index" />
                            <p:menuitem value="#{myBundle.SwimmerHasAllergyHeading}..." outcome="/maintenance/swimmerHasAllergy/index" />
                            <p:menuitem value="#{myBundle.SwimmerHasDeseaseHeading}..." outcome="/maintenance/swimmerHasDesease/index" />
                            <p:menuitem value="#{myBundle.SwimmerHasInjuryHeading}..." outcome="/maintenance/swimmerHasInjury/index" />
                            <p:menuitem value="#{myBundle.SwimmerHasLevelHeading}..." outcome="/maintenance/swimmerHasLevel/index" />
                            <p:menuitem value="#{myBundle.SwimmerHasSwimmingclubHeading}..." outcome="/maintenance/swimmerHasSwimmingclub/index" />
                            <p:menuitem value="#{myBundle.SwimmingclubHeading}..." outcome="/maintenance/swimmingclub/index" />
                            <p:menuitem value="#{myBundle.TimeHeading}..." outcome="/maintenance/time/index" />
                            <p:menuitem value="#{myBundle.UserHeading}..." outcome="/maintenance/user/index" />
                            <p:menuitem value="#{myBundle.UserHasRoleHeading}..." outcome="/maintenance/userHasRole/index" />   
                        </p:submenu>

                        
                       

                    </pu:menu>
                </div>
            </div>
        </div>
    </h:form>
</ui:composition>