<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="TimeCreatePage" lazy="true">
        <pm:header title="#{myBundle.CreateTimeTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{myBundle.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:TimeListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="TimeCreateForm">

                <h:panelGroup id="display" rendered="#{timeController.selected != null}">
                    <p:outputPanel>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.CreateTimeLabel_lap}" for="lap" />
                            <p:inputText id="lap" value="#{timeController.selected.lap}" title="#{myBundle.CreateTimeTitle_lap}"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.CreateTimeLabel_elapsedTime}" for="elapsedTime" />
                            <p:calendar id="elapsedTime" pattern="MM/dd/yyyy HH:mm:ss" value="#{timeController.selected.elapsedTime}" title="#{myBundle.CreateTimeTitle_elapsedTime}"  showOn="button"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.CreateTimeLabel_hitid}" for="hitid" />
                            <p:selectOneMenu id="hitid" value="#{timeController.selected.hitid}" required="true" requiredMessage="#{myBundle.CreateTimeRequiredMessage_hitid}" converter="hitConverter">
                                <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                                <f:selectItems value="#{hitController.items}"
                                               var="hitidItem"
                                               itemValue="#{hitidItem}"
                                               itemLabel="#{hitidItem.id.toString()}"
                                               />

                            </p:selectOneMenu>
                        </pm:field>
                    </p:outputPanel>
                    <p:commandButton actionListener="#{timeController.saveNew}" value="#{myBundle.Save}" update="display,:TimeListPage:TimeListForm:datalist,:growl" action="#{mobilePageController.navigateWithHistory('pm:TimeListPage')}"/>

                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>