<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="TimeViewPage" lazy="true">
        <pm:header title="#{myBundle.ViewTimeTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{myBundle.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:TimeListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="TimeViewForm">

                <h:panelGroup id="display">
                    <p:outputPanel rendered="#{timeController.selected != null}">

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewTimeLabel_id}"/>
                            <h:outputText value="#{timeController.selected.id}" title="#{myBundle.ViewTimeTitle_id}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewTimeLabel_lap}"/>
                            <h:outputText value="#{timeController.selected.lap}" title="#{myBundle.ViewTimeTitle_lap}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewTimeLabel_elapsedTime}"/>
                            <h:outputText value="#{timeController.selected.elapsedTime}" title="#{myBundle.ViewTimeTitle_elapsedTime}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewTimeLabel_hitid}"/>
                            <h:outputText value="#{timeController.selected.hitid.id}"/>
                        </pm:field>
                    </p:outputPanel>
                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>