<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="SwimmerHasSwimmingclubCreateDlg" widgetVar="SwimmerHasSwimmingclubCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateSwimmerHasSwimmingclubTitle}" closeOnEscape="true">

            <h:form id="SwimmerHasSwimmingclubCreateForm">

                <h:panelGroup id="display" rendered="#{swimmerHasSwimmingclubController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateSwimmerHasSwimmingclubLabel_dateStart}" for="dateStart" />
                        <p:calendar id="dateStart" pattern="MM/dd/yyyy" value="#{swimmerHasSwimmingclubController.selected.dateStart}" title="#{myBundle.CreateSwimmerHasSwimmingclubTitle_dateStart}"  showOn="button"/>

                        <p:outputLabel value="#{myBundle.CreateSwimmerHasSwimmingclubLabel_dateEnd}" for="dateEnd" />
                        <p:calendar id="dateEnd" pattern="MM/dd/yyyy" value="#{swimmerHasSwimmingclubController.selected.dateEnd}" title="#{myBundle.CreateSwimmerHasSwimmingclubTitle_dateEnd}"  showOn="button"/>

                        <p:outputLabel value="#{myBundle.CreateSwimmerHasSwimmingclubLabel_swimmerid}" for="swimmerid" />
                        <p:selectOneMenu id="swimmerid" value="#{swimmerHasSwimmingclubController.selected.swimmerid}" required="true" requiredMessage="#{myBundle.CreateSwimmerHasSwimmingclubRequiredMessage_swimmerid}" converter="swimmerConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{swimmerController.items}"
                                           var="swimmeridItem"
                                           itemValue="#{swimmeridItem}"
                                           itemLabel="#{swimmeridItem.id.toString()}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{myBundle.CreateSwimmerHasSwimmingclubLabel_swimmingClubid}" for="swimmingClubid" />
                        <p:selectOneMenu id="swimmingClubid" value="#{swimmerHasSwimmingclubController.selected.swimmingClubid}" required="true" requiredMessage="#{myBundle.CreateSwimmerHasSwimmingclubRequiredMessage_swimmingClubid}" converter="swimmingclubConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{swimmingclubController.items}"
                                           var="swimmingClubidItem"
                                           itemValue="#{swimmingClubidItem}"
                                           itemLabel="#{swimmingClubidItem.clubName.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{swimmerHasSwimmingclubController.saveNew}" value="#{myBundle.Save}" update="display,:SwimmerHasSwimmingclubListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('SwimmerHasSwimmingclubCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('SwimmerHasSwimmingclubCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
