<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="SwimmerHasSwimmingclubEditDlg" widgetVar="SwimmerHasSwimmingclubEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditSwimmerHasSwimmingclubTitle}" closeOnEscape="true">

            <h:form id="SwimmerHasSwimmingclubEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{swimmerHasSwimmingclubController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditSwimmerHasSwimmingclubLabel_id}" for="id" />
                        <h:outputText id="id" value="#{swimmerHasSwimmingclubController.selected.id}" />

                        <p:outputLabel value="#{myBundle.EditSwimmerHasSwimmingclubLabel_dateStart}" for="dateStart" />
                        <p:calendar id="dateStart" pattern="MM/dd/yyyy" value="#{swimmerHasSwimmingclubController.selected.dateStart}" title="#{myBundle.EditSwimmerHasSwimmingclubTitle_dateStart}"  showOn="button"/>

                        <p:outputLabel value="#{myBundle.EditSwimmerHasSwimmingclubLabel_dateEnd}" for="dateEnd" />
                        <p:calendar id="dateEnd" pattern="MM/dd/yyyy" value="#{swimmerHasSwimmingclubController.selected.dateEnd}" title="#{myBundle.EditSwimmerHasSwimmingclubTitle_dateEnd}"  showOn="button"/>

                        <p:outputLabel value="#{myBundle.EditSwimmerHasSwimmingclubLabel_swimmerid}" for="swimmerid" />
                        <p:selectOneMenu id="swimmerid" value="#{swimmerHasSwimmingclubController.selected.swimmerid}" required="true" requiredMessage="#{myBundle.EditSwimmerHasSwimmingclubRequiredMessage_swimmerid}" converter="swimmerConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{swimmerController.items}"
                                           var="swimmeridItem"
                                           itemValue="#{swimmeridItem}"
                                           itemLabel="#{swimmeridItem.id.toString()}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{myBundle.EditSwimmerHasSwimmingclubLabel_swimmingClubid}" for="swimmingClubid" />
                        <p:selectOneMenu id="swimmingClubid" value="#{swimmerHasSwimmingclubController.selected.swimmingClubid}" required="true" requiredMessage="#{myBundle.EditSwimmerHasSwimmingclubRequiredMessage_swimmingClubid}" converter="swimmingclubConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{swimmingclubController.items}"
                                           var="swimmingClubidItem"
                                           itemValue="#{swimmingClubidItem}"
                                           itemLabel="#{swimmingClubidItem.clubName.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{swimmerHasSwimmingclubController.save}" value="#{myBundle.Save}" update="display,:SwimmerHasSwimmingclubListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('SwimmerHasSwimmingclubEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('SwimmerHasSwimmingclubEditDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
