<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="SwimmerHasSwimmingclubViewDlg" widgetVar="SwimmerHasSwimmingclubViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewSwimmerHasSwimmingclubTitle}" closeOnEscape="true">

            <h:form id="SwimmerHasSwimmingclubViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{swimmerHasSwimmingclubController.selected != null}">

                        <h:outputText value="#{myBundle.ViewSwimmerHasSwimmingclubLabel_id}"/>
                        <h:outputText value="#{swimmerHasSwimmingclubController.selected.id}" title="#{myBundle.ViewSwimmerHasSwimmingclubTitle_id}"/>

                        <h:outputText value="#{myBundle.ViewSwimmerHasSwimmingclubLabel_dateStart}"/>
                        <h:outputText value="#{swimmerHasSwimmingclubController.selected.dateStart}" title="#{myBundle.ViewSwimmerHasSwimmingclubTitle_dateStart}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>

                        <h:outputText value="#{myBundle.ViewSwimmerHasSwimmingclubLabel_dateEnd}"/>
                        <h:outputText value="#{swimmerHasSwimmingclubController.selected.dateEnd}" title="#{myBundle.ViewSwimmerHasSwimmingclubTitle_dateEnd}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>

                        <h:outputText value="#{myBundle.ViewSwimmerHasSwimmingclubLabel_swimmerid}"/>
                        <h:outputText value="#{swimmerHasSwimmingclubController.selected.swimmerid.id}"/>

                        <h:outputText value="#{myBundle.ViewSwimmerHasSwimmingclubLabel_swimmingClubid}"/>
                        <h:outputText value="#{swimmerHasSwimmingclubController.selected.swimmingClubid.clubName}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('SwimmerHasSwimmingclubViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
