<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="SwimmingclubCreateDlg" widgetVar="SwimmingclubCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateSwimmingclubTitle}" closeOnEscape="true">

            <h:form id="SwimmingclubCreateForm">

                <h:panelGroup id="display" rendered="#{swimmingclubController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateSwimmingclubLabel_clubName}" for="clubName" />
                        <p:inputText id="clubName" value="#{swimmingclubController.selected.clubName}" title="#{myBundle.CreateSwimmingclubTitle_clubName}" size="100" maxlength="100"/>

                        <p:outputLabel value="#{myBundle.CreateSwimmingclubLabel_clubDescription}" for="clubDescription" />
                        <p:inputText id="clubDescription" value="#{swimmingclubController.selected.clubDescription}" title="#{myBundle.CreateSwimmingclubTitle_clubDescription}" size="200" maxlength="200"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{swimmingclubController.saveNew}" value="#{myBundle.Save}" update="display,:SwimmingclubListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('SwimmingclubCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('SwimmingclubCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
