<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="SwimmingclubEditDlg" widgetVar="SwimmingclubEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditSwimmingclubTitle}" closeOnEscape="true">

            <h:form id="SwimmingclubEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{swimmingclubController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditSwimmingclubLabel_id}" for="id" />
                        <h:outputText id="id" value="#{swimmingclubController.selected.id}" />

                        <p:outputLabel value="#{myBundle.EditSwimmingclubLabel_clubName}" for="clubName" />
                        <p:inputText id="clubName" value="#{swimmingclubController.selected.clubName}" title="#{myBundle.EditSwimmingclubTitle_clubName}" size="100" maxlength="100"/>

                        <p:outputLabel value="#{myBundle.EditSwimmingclubLabel_clubDescription}" for="clubDescription" />
                        <p:inputText id="clubDescription" value="#{swimmingclubController.selected.clubDescription}" title="#{myBundle.EditSwimmingclubTitle_clubDescription}" size="200" maxlength="200"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{swimmingclubController.save}" value="#{myBundle.Save}" update="display,:SwimmingclubListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('SwimmingclubEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('SwimmingclubEditDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
