<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="SwimmingclubListForm">

        <p:panel header="#{myBundle.ListSwimmingclubTitle}">
            <p:contextMenu id="SwimmingclubDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('SwimmingclubListForm:createButton').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('SwimmingclubListForm:viewButton').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('SwimmingclubListForm:editButton').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('SwimmingclubListForm:deleteButton').click();" icon="ui-icon-trash"/>
                <p:separator/>
                <p:menuitem value="#{myBundle.SwimmingclubMenuItem_swimmerHasSwimmingclubList}" icon="ui-icon-search"  action="#{swimmingclubController.navigateSwimmerHasSwimmingclubList}" disabled="#{empty swimmingclubController.selected.swimmerHasSwimmingclubList}" ajax="false"/>  
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{swimmingclubController.items}"
                         lazy="false"
                         rowKey="#{item.id}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{swimmingclubController.selected}">
                <!--
                         To enable Lazy Loading, please copy/replace the following lines above,
                         and be sure to replace the word HASH with the # symbol:
                
                         value="HASH{swimmingclubController.lazyItems}"
                         lazy="true"
                         rowKey="HASH{item.id}"  <<< Remove this line
                -->


                <p:ajax event="rowSelect"   update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:SwimmingclubDataTableContextMenu"/>
                <p:ajax event="rowUnselect" update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:SwimmingclubDataTableContextMenu"/>
                <p:ajax event="contextMenu" update="@form:createButton @form:viewButton @form:editButton @form:deleteButton"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('SwimmingclubListForm:viewButton').click();"/>

                <p:column sortBy="#{item.id}" filterBy="#{item.id}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListSwimmingclubTitle_id}"/>
                    </f:facet>
                    <h:outputText value="#{item.id}"/>
                </p:column>


                <p:column sortBy="#{item.clubName}" filterBy="#{item.clubName}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListSwimmingclubTitle_clubName}"/>
                    </f:facet>
                    <h:outputText value="#{item.clubName}"/>
                </p:column>


                <p:column sortBy="#{item.clubDescription}" filterBy="#{item.clubDescription}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListSwimmingclubTitle_clubDescription}"/>
                    </f:facet>
                    <h:outputText value="#{item.clubDescription}"/>
                </p:column>


            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{myBundle.Create}" actionListener="#{swimmingclubController.prepareCreate}" update=":SwimmingclubCreateForm" oncomplete="PF('SwimmingclubCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{myBundle.View}" update=":SwimmingclubViewForm" oncomplete="PF('SwimmingclubViewDialog').show()" disabled="#{empty swimmingclubController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{myBundle.Edit}" update=":SwimmingclubEditForm" oncomplete="PF('SwimmingclubEditDialog').show()" disabled="#{empty swimmingclubController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{swimmingclubController.delete}" update=":growl,datalist" disabled="#{empty swimmingclubController.selected}">
                <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/maintenance/confirmation.xhtml"/>
    </h:form>

</ui:composition>