<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="SwimmingclubViewDlg" widgetVar="SwimmingclubViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewSwimmingclubTitle}" closeOnEscape="true">

            <h:form id="SwimmingclubViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{swimmingclubController.selected != null}">

                        <h:outputText value="#{myBundle.ViewSwimmingclubLabel_id}"/>
                        <h:outputText value="#{swimmingclubController.selected.id}" title="#{myBundle.ViewSwimmingclubTitle_id}"/>

                        <h:outputText value="#{myBundle.ViewSwimmingclubLabel_clubName}"/>
                        <h:outputText value="#{swimmingclubController.selected.clubName}" title="#{myBundle.ViewSwimmingclubTitle_clubName}"/>

                        <h:outputText value="#{myBundle.ViewSwimmingclubLabel_clubDescription}"/>
                        <h:outputText value="#{swimmingclubController.selected.clubDescription}" title="#{myBundle.ViewSwimmingclubTitle_clubDescription}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('SwimmingclubViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
