<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="EventCreatePage" lazy="true">
        <pm:header title="#{myBundle.CreateEventTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{myBundle.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:EventListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="EventCreateForm">

                <h:panelGroup id="display" rendered="#{eventController.selected != null}">
                    <p:outputPanel>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.CreateEventLabel_eventStatus}" for="eventStatus" />
                            <p:selectBooleanCheckbox id="eventStatus" value="#{eventController.selected.eventStatus}" />
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.CreateEventLabel_championshipid}" for="championshipid" />
                            <p:selectOneMenu id="championshipid" value="#{eventController.selected.championshipid}" required="true" requiredMessage="#{myBundle.CreateEventRequiredMessage_championshipid}" converter="championshipConverter">
                                <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                                <f:selectItems value="#{championshipController.items}"
                                               var="championshipidItem"
                                               itemValue="#{championshipidItem}"
                                               itemLabel="#{championshipidItem.name.toString()}"
                                               />

                            </p:selectOneMenu>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.CreateEventLabel_raceid}" for="raceid" />
                            <p:selectOneMenu id="raceid" value="#{eventController.selected.raceid}" required="true" requiredMessage="#{myBundle.CreateEventRequiredMessage_raceid}" converter="raceConverter">
                                <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                                <f:selectItems value="#{raceController.items}"
                                               var="raceidItem"
                                               itemValue="#{raceidItem}"
                                               itemLabel="#{raceidItem.name.toString()}"
                                               />

                            </p:selectOneMenu>
                        </pm:field>
                    </p:outputPanel>
                    <p:commandButton actionListener="#{eventController.saveNew}" value="#{myBundle.Save}" update="display,:EventListPage:EventListForm:datalist,:growl" action="#{mobilePageController.navigateWithHistory('pm:EventListPage')}"/>

                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>