<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="EventViewPage" lazy="true">
        <pm:header title="#{myBundle.ViewEventTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{myBundle.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:EventListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="EventViewForm">

                <h:panelGroup id="display">
                    <p:outputPanel rendered="#{eventController.selected != null}">

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewEventLabel_id}"/>
                            <h:outputText value="#{eventController.selected.id}" title="#{myBundle.ViewEventTitle_id}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewEventLabel_eventStatus}"/>
                            <h:selectBooleanCheckbox id="eventStatus" value="#{eventController.selected.eventStatus}" title="#{myBundle.EditEventTitle_eventStatus}"  disabled="true"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewEventLabel_championshipid}"/>
                            <h:outputText value="#{eventController.selected.championshipid.name}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewEventLabel_raceid}"/>
                            <h:outputText value="#{eventController.selected.raceid.name}"/>
                        </pm:field>
                    </p:outputPanel>
                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>