<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="SwimmerHasInjuryEditPage" lazy="true">
        <pm:header title="#{myBundle.EditSwimmerHasInjuryTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{myBundle.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:SwimmerHasInjuryListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="SwimmerHasInjuryEditForm">

                <h:panelGroup id="display">
                    <p:outputPanel rendered="#{swimmerHasInjuryController.selected != null}">

                        <pm:field>
                            <h:outputLabel value="#{myBundle.EditSwimmerHasInjuryLabel_int1}" for="int1" />
                            <h:outputText id="int1" value="#{swimmerHasInjuryController.selected.int1}" />
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.EditSwimmerHasInjuryLabel_injuryDate}" for="injuryDate" />
                            <p:calendar id="injuryDate" pattern="MM/dd/yyyy" value="#{swimmerHasInjuryController.selected.injuryDate}" title="#{myBundle.EditSwimmerHasInjuryTitle_injuryDate}"  showOn="button"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.EditSwimmerHasInjuryLabel_observations}" for="observations" />
                            <p:inputText id="observations" value="#{swimmerHasInjuryController.selected.observations}" title="#{myBundle.EditSwimmerHasInjuryTitle_observations}" size="200" maxlength="200"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.EditSwimmerHasInjuryLabel_injuryId}" for="injuryId" />
                            <p:selectOneMenu id="injuryId" value="#{swimmerHasInjuryController.selected.injuryId}" required="true" requiredMessage="#{myBundle.EditSwimmerHasInjuryRequiredMessage_injuryId}" converter="injuryConverter">
                                <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                                <f:selectItems value="#{injuryController.items}"
                                               var="injuryIdItem"
                                               itemValue="#{injuryIdItem}"
                                               itemLabel="#{injuryIdItem.name.toString()}"
                                               />

                            </p:selectOneMenu>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.EditSwimmerHasInjuryLabel_injuryStatusid}" for="injuryStatusid" />
                            <p:selectOneMenu id="injuryStatusid" value="#{swimmerHasInjuryController.selected.injuryStatusid}" required="true" requiredMessage="#{myBundle.EditSwimmerHasInjuryRequiredMessage_injuryStatusid}" converter="injurystatusConverter">
                                <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                                <f:selectItems value="#{injurystatusController.items}"
                                               var="injuryStatusidItem"
                                               itemValue="#{injuryStatusidItem}"
                                               itemLabel="#{injuryStatusidItem.name.toString()}"
                                               />

                            </p:selectOneMenu>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.EditSwimmerHasInjuryLabel_swimmerId}" for="swimmerId" />
                            <p:selectOneMenu id="swimmerId" value="#{swimmerHasInjuryController.selected.swimmerId}" required="true" requiredMessage="#{myBundle.EditSwimmerHasInjuryRequiredMessage_swimmerId}" converter="swimmerConverter">
                                <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                                <f:selectItems value="#{swimmerController.items}"
                                               var="swimmerIdItem"
                                               itemValue="#{swimmerIdItem}"
                                               itemLabel="#{swimmerIdItem.id.toString()}"
                                               />

                            </p:selectOneMenu>
                        </pm:field>
                    </p:outputPanel>
                    <p:commandButton actionListener="#{swimmerHasInjuryController.save}" value="#{myBundle.Save}" update="#{mobilePageController.updatableWidgets(component,'display,:SwimmerHasInjuryListPage:SwimmerHasInjuryListForm:datalist,:growl')}" action="#{mobilePageController.navigateWithHistory('pm:SwimmerHasInjuryListPage')}"/>

                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>