<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="SwimmerHasInjuryViewPage" lazy="true">
        <pm:header title="#{myBundle.ViewSwimmerHasInjuryTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{myBundle.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:SwimmerHasInjuryListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="SwimmerHasInjuryViewForm">

                <h:panelGroup id="display">
                    <p:outputPanel rendered="#{swimmerHasInjuryController.selected != null}">

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewSwimmerHasInjuryLabel_int1}"/>
                            <h:outputText value="#{swimmerHasInjuryController.selected.int1}" title="#{myBundle.ViewSwimmerHasInjuryTitle_int1}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewSwimmerHasInjuryLabel_injuryDate}"/>
                            <h:outputText value="#{swimmerHasInjuryController.selected.injuryDate}" title="#{myBundle.ViewSwimmerHasInjuryTitle_injuryDate}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewSwimmerHasInjuryLabel_observations}"/>
                            <h:outputText value="#{swimmerHasInjuryController.selected.observations}" title="#{myBundle.ViewSwimmerHasInjuryTitle_observations}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewSwimmerHasInjuryLabel_injuryId}"/>
                            <h:outputText value="#{swimmerHasInjuryController.selected.injuryId.name}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewSwimmerHasInjuryLabel_injuryStatusid}"/>
                            <h:outputText value="#{swimmerHasInjuryController.selected.injuryStatusid.name}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewSwimmerHasInjuryLabel_swimmerId}"/>
                            <h:outputText value="#{swimmerHasInjuryController.selected.swimmerId.id}"/>
                        </pm:field>
                    </p:outputPanel>
                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>